.want_red{
    color: red;
    font-size: 23px;
}
.podtv_text{
    font-size: 20px;
}
input[type=range].range_form {
    -webkit-appearance: none;
    width: 100%;
    margin: 2.7px 0;
}
input[type=range].range_form:focus {
    outline: none;
}
input[type=range].range_form::-webkit-slider-runnable-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #f5f5f5, 0px 0px 1px #e5e5e5;
    background: green;
    border-radius: 2px;
    border: 1px solid #ccc;
}
input[type=range].range_form::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #f5f5f5, 0px 0px 1px #e5e5e5;
    border: 1px solid #e5e5e5;
    height: 18px;
    width: 11px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3px;
}
input[type=range].range_form:focus::-webkit-slider-runnable-track {
    background: green;
}
input[type=range].range_form::-moz-range-track {
    width: 100%;
    height: 24.6px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: green;
    border-radius: 1.3px;
    border: 0.2px solid #000001;
}
input[type=range].range_form::-moz-range-thumb {
    box-shadow: 1.4px 1.4px 1px #000000, 0px 0px 1.4px #0d0d0d;
    border: 1px solid #000000;
    height: 30px;
    width: 11px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range].range_form::-ms-track {
    width: 100%;
    height: 24.6px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range].range_form::-ms-fill-lower {
    background: green;
    border: 0.2px solid #000001;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].range_form::-ms-fill-upper {
    background: green;
    border: 0.2px solid #000001;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].range_form::-ms-thumb {
    box-shadow: 1.4px 1.4px 1px #000000, 0px 0px 1.4px #0d0d0d;
    border: 1px solid #000000;
    height: 30px;
    width: 11px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    height: 24.6px;
}
input[type=range].range_form:focus::-ms-fill-lower {
    background: green;
}
input[type=range].range_form:focus::-ms-fill-upper {
    background: green;
}
p.payment_module a.cheque:after, p.payment_module a.bankwire:after, p.payment_module a.cash:after, p.payment_module a.parts:after, p.payment_module a.rassrochka:after {
    display: block;
    content: "\f054";
    position: absolute;
    right: 15px;
    margin-top: -11px;
    top: 50%;
    font-family: "FontAwesome";
    font-size: 25px;
    height: 22px;
    width: 14px;
    color: #777;
}
p.payment_module a.parts, p.payment_module a.rassrochka {
    background: url("/modules/ecm_payparts/logo.png") no-repeat scroll -50px -50px;
    display: block;
    padding: 20px 40px 20px 99px;
}
.parts img {
    margin: 0px 30px 0px -80px;
}
.rassrochka img {
    margin: 0px 30px 0px -80px;
}

.ff_payparts{
    font-size: 20px;
    color: #363636;
}
.ff_payparts .clearfix:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}
.ff_payparts__logo{
    display: inline-block;
    margin-bottom: 20px;
    vertical-align: middle;
}
.ff_payparts__type_title{
    font-size: 20px;
}
.ff_payparts__left,
.ff_payparts__right{
    display: block;
    width: 50%;
    padding: 10px;
    text-align: center;
}
.ff_payparts__left,
.ff_payparts__info_title{
    float: left;
}
.ff_payparts__right,
.ff_payparts__info_list{
    float: right;
}
.ff_payparts__info_title,
.ff_payparts__info_list{
    display: block;
    width: 50%;
}
.ff_payparts__right{
    border-radius: 5px;
    border: 1px solid #e9e9e9;
    background-color: #f5f5f5;
    font-size: 18px;
}
.ff_payparts__sum_value{
    display: inline-block;
    margin: 10px auto;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: green;
    color: #fff;
    font-weight: bold;
}
.ff_payparts__info{
    margin-top: 20px;
}
.ff_payparts__info_list{
    font-size: 16px;
}
.ff_payparts__form{
    width: 100%;
    margin-top: 20px;
    display: none;
}
.ff_payparts__info_list_item{
    display: block;
    float: left;
    width: 50%;
}
.ff_payparts__info_list_dt,
.ff_payparts__info_list_dd{
    display: block;
    width: 100%;
}
.ff_payparts__info_list_dt{
    margin-bottom: 10px;
    font-weight: bold;
}
.ff_payparts .jq-selectbox__select{
    width: 100%;
}
.ecm_payparts-add_description{
    margin: 10px 0;
}