@import "general-css.less";
@import "general.less";
@import "fonts/fonts.css";
@import "ui-kit.less";

body,html {
  width: 100%;
  height:100%;
  font-family: Myriad Light,arial,sans-serif;
  color: #363636;
  //min-width: 640px;
}
* {
  .box-sizing();
}
input {
  -webkit-appearance: none;
  border-radius: 0;
}
input:focus {
  border: 1px solid #7da7d9!important;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
}

.header {
  background: #fafafa;
  border-bottom: 1px solid #e9e9e9;
  height: 67px;
  position: fixed;
  width: 100%;
  z-index: 102;
  .menu_burger{
    bottom: 0;
    cursor: pointer;
    height: 40px;
    left: 5px;
    position: absolute;
    width: 40px;
    div {
      background: #7d7d7d none repeat scroll 0 0;
      display: block;
      height: 2px;
      left: 50%;
      margin-left: -10px;
      opacity: 1;
      position: absolute;
      transition: all 0.3s ease 0s, left 0.2s ease 0s;
      width: 20px;
    }

    div:nth-of-type(1){top: 14px;}
    div:nth-of-type(2){top: 20px;}
    div:nth-of-type(3){top: 26px;}

    &.active{
      div:nth-of-type(1){
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
      div:nth-of-type(2){
        left: 0;
        opacity: 0;
      }
      div:nth-of-type(3){
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
      div:nth-of-type(1),
      div:nth-of-type(3){
        top: 20px;
        width: 20px;
      }
    }
  }
  .menu {
    padding: 0 70px;
    width: 100%;
    text-align: justify;
    .menu_item {
      display: inline-block;
      font-size: 16px;
      &.active {
        border-bottom: 2px solid;
        padding-bottom: 12px;
      }
    }
    &:after {
      content: "";
      display: inline-block;
      font-size: 1px;
      height: 0;
      width: 100%;
    }
  }
  .logo_holder {
    text-align: center;
    margin-bottom: 12px;
    a {
      display: inline-block;
      height: 17px;
      margin-top: 6px;
      width: 127px;
      background: url("../img/carvari_logo.svg") no-repeat center center;
      background-size: cover;
    }
  }
  .cart {
    bottom: 8px;
    color: #363636;
    font-size: 11px;
    height: 30px;
    padding-top: 15px;
    position: absolute;
    right: 14px;
    text-align: center;
    text-decoration: none;
    width: 26px;
    background: url("../img/cart_icon.svg") no-repeat;
    .icon {
      width: 100%;
      height: 100%;
      position: absolute;
      fill: #7d7d7d;
      stroke: #7d7d7d;
      left: 0;
      top: 0;
    }
  }
}

.main_content {
  padding-top: 80px;
  //padding-bottom: 145px;
//  padding-bottom: 37px;
  &.page404 {
    text-align: center;
    padding-bottom: 50px;
    h1 {

    }
    .text404 {
      margin-bottom: 13px;
    }
  }
  &.main-page {
//    .big_link {
//      color: #363636;
//      text-decoration: none;
//      .big_img_link {
//        display: block;
//        margin-bottom: 10px;
//        padding-bottom: 96%;
//        position: relative;
//        width: 100%;
//        border-bottom: 1px solid #e8e8e8;
//        img {
//          left: 0;
//          position: absolute;
//          top: 40px;
//          width: 100%;
//        }
//      }
//      &.not_so_big {
//        .big_img_link {
//          padding-bottom: 50%;
//          border-bottom: none;
//          img {
//            top: 0;
//          }
//        }
//      }
//    }
    .main-page__single, .main-page__stage {
      .clearfix;
    }
    .img_link {
      margin-bottom: 10px;
      display: block;
      border-bottom: 1px solid #e8e8e8;
      text-decoration: none;
      position: relative;
      .big_title {
        color: #363636;
        display: block;
        font-size: 42px;
        position: relative;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        top: 22px;
        z-index: 1;
      }
      .img_container {
        text-align: center;
      }
      &.big {
        margin-bottom: 10px;
        img {
          max-width: 480px;
          width: 100%;
        }
        &:nth-child(2) {
          border-bottom: none;
        }
      }
      &.small {
        border: none;
        img {
          max-width: 100%;
          max-height: 280px;
        }
      }
    }
  }
  &.list-page {
    padding-bottom: 50px;
    padding-top: 130px;
    .big_img_link {
      display: inline-block;
      img {
        width: 100%;
      }
    }
    .filter_items {
      margin-top: 12px;
      li {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 12px;
        a {
          color: #363636;
          display: inline-block;
          font-size: 16px;
          outline: 1px solid #363636;
          padding: 5px;
          text-decoration: none;
        }
      }
    }    
    .filter_wrapper {
      background: #fff none repeat scroll 0 0;
      border-bottom: 1px solid #ebebeb;
      left: 0;
      padding: 15px 0 15px 15px;
      position: fixed;
      top: 67px;
      width: 100%;
      z-index: 100;
      .filter {
        font-size: 16px;
        position: relative;
        .icon {
          height: 15px;
          margin-left: 5px;
          position: absolute;
          stroke: #707070;
          top: 1px;
          width: 10px;
        }
        &.active {
          .icon {
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
          }
        }
      }
    }
    .filter_btns_wrapper {
      background: #fff;
      border-top: 1px solid #ebebeb;
      bottom: 0;
      padding-bottom: 10px;
      padding-top: 10px;
      position: fixed;
      text-align: center;
      width: 100%;
      z-index: 100;
      display: none;
      .button {
        background: #5e5e5e none repeat scroll 0 0;
        border-bottom: 1px solid #333;
        border-radius: 5px;
        color: #fff;
        display: inline-block;
        font-family: "Myriad Light",Arial;
        font-size: 16px;
        height: 40px;
        line-height: 42px;
        padding: 0 15px;
        text-decoration: none;
      }
      .clear_link {
        color: #363636;
        display: inline-block;
        font-size: 16px;
        margin-left: 20px;
        text-decoration: none;
      }
    }
    .filter_list_wrapper {
      background: #fff;
      box-sizing: border-box;
      height: 0;
      left: 0;
      overflow-y: auto;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 99;
    }
    .filter_list {
      padding: 65px 15px 0;
      background: #fff none repeat scroll 0 0;
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 99;
      .filter_title {
        font-family: Myriad;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 16px;
        &.sizes {
          margin-bottom: 12px;
        }
      }
      hr {
        color: #ebebeb;
        left: 0;
        margin-top: -17px;
        opacity: 0.35;
        position: absolute;
        width: 100%;
      }
      ul {
        margin-bottom: 40px;
        &:last-child {
          margin-bottom: 60px;
        }
        &.sizes {
          li {
            float: left;
            margin-bottom: 0;
            a {
              display: inline-block;
              font-size: 15px;
              margin-left: 0;
              margin-right: 4px;
              outline: 1px solid #acacac;
              padding: 7px 0 4px;
              text-align: center;
              width: 38px;
              &.active {
                font-family: Myriad;
                outline: 1px solid #363636;
                font-weight: bold;
              }
            }
            &:last-child {
              a {
                margin-right: 0;
              }
            }
          }
        }
        li {
          margin-bottom: 29px;
          a {
            color: #363636;
            font-size: 16px;
            margin-left: -4px;
            padding: 4px;
            text-decoration: none;
            &.active {
              outline: 1px solid;
            }
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .item_list {
      padding-top: 30px;
      text-align: center;
      &.padded_block {
        max-width: 1024px;
      }
      ul {
        display: flex;
        -webkit-display: flex;
        display: -webkit-flex;
        flex-wrap: wrap;
        justify-content: space-around;
        -webkit-flex-wrap: wrap;
        -webkit-justify-content: space-around;
        margin-left: auto;
        margin-right: auto;

        li {
          margin-bottom: 62px;
          max-width: 220px;
          &:last-child {
            margin-bottom: 42px;
          }
          a {
            color: #363636;
            display: inline-block;
            text-decoration: none;
            img {
              width: 100%;
              margin-bottom: 50px;
              max-width: 480px;
            }
            .descr {
              font-size: 16px;
              text-align: center;
              .title {
                display: block;
                font-weight: bold;
                margin-bottom: 5px;
              }
              .new_price {
                margin-right: 7px;
              }
              .old_price {
                color: #7d7d7d;
                text-decoration: line-through;
              }
            }
          }
        }
      }
      .button {
        background: #5e5e5e none repeat scroll 0 0;
        border-bottom: 1px solid #333;
        border-radius: 5px;
        color: #fff;
        display: inline-block;
        font-family: "Myriad Light",Arial;
        font-size: 18px;
        height: 40px;
        line-height: 42px;
        padding: 0 15px;
        text-decoration: none;
      }
    }
  }
  &.checkout-page {
    padding-bottom: 40px;
    .order_list {
      border-top: 1px solid #e1e1e1;
      .order_items {
        li {
          &:first-child {
            //border-top: 1px solid #e1e1e1;
          }
        }
        .item {
          position: relative;
          //border-bottom: 1px solid #e1e1e1;
          &:before{
            content: '';
            position: absolute;
            bottom: 0px;
            left: -15px;
            right: -15px;
            border-bottom: 1px solid #e1e1e1;
          }

          .delete_item {
            height: 12px;
            position: absolute;
            right: -3px;
            top: 13px;
            width: 12px;
          }

          .item_descr {
            //float: left;
            font-size: 14px;
            padding: 15px 0;
            padding-left: 145px;
            .title {
              margin-bottom: 7px;
              a {
                color: #363636;
                font-size: 14px;
                text-decoration: none;
                display: inline-block;
                margin-right: 15px;
              }
            }
            .code {
              margin-bottom: 7px;
            }
            .size {
              margin-bottom: 16px;
            }
          }
          .item_img {
            float: left;
            padding: 12px 0;
            text-align: center;
            width: 145px;

            img{
              width: 120px;
            }
          }
        }
      }
    }
    .discount {
      padding-top: 15px;
      position: relative;
      margin-bottom: 20px;
      .text {
        font-size: 14px;
        margin-bottom: 6px;
      }
      .discount_button {
        bottom: 2px;
        display: none;
        height: 36px;
        position: absolute;
        right: 2px;
        width: 36px;
        fill: #5e5e5e;
      }
      input {
        border: 1px solid #363636;
        .light;
        font-size: 14px;
        height: 40px;
        padding: 0 40px 0 12px;
        width: 100%;
      }
    }
    .total {
      font-size: 14px;
      margin-bottom: 40px;
      .price_text {
        margin-bottom: 9px;
        .price_title {
          float: left;
        }
        .price {
          float: right;
        }
        &.to_pay {
          .pro;
          font-size: 19px;
          margin-top: 19px;
        }
      }
    }
    .profile_nav {
      margin-bottom: 28px;
      text-align: center;
      padding-bottom: 5px;
      .profile_nav_link_wrap {
        display: inline-block;
      }
      .profile_nav_link {
        display: inline-block;
        font-size: 14px;
        padding: 13px 11px;
        &.active {
          .light;
          font-weight: bold;
          outline: 1px solid;
        }
      }
    }
    .tab_wrapper {
      .tab_content {
        .input_block {
          label {
            display: inline-block;
            font-size: 16px;
            margin-bottom: 7px;
          }
          input {
            border: 1px solid #363636;
            .light;
            font-size: 14px;
            height: 39px;
            padding: 0 15px;
            width: 100%;
          }
          &.wrong {
            input {
              border: 1px solid #e84428;
            }
            .error_msg {
              display: inline-block;
            }
          }
          .error_msg {
            color: #e84428;
            display: none;
            margin-top: 5px;
            font-size: 14px;
          }
        }
        .login {
          .remind_pass {
            color: #363636;
            display: inline-block;
            font-size: 16px;
            margin-left: 20px;
            text-decoration: none;
          }
        }
        .payment_description {
          color: #949494;
          font-size: 14px;
          padding-left: 23px;
          padding-top: 5px;
          margin-bottom: 30px;
        }
        h2 {
          margin: 40px 0 25px;
        }
        .label_with_check {
          margin-bottom: 15px;
          .radio_label {
            font-size: 16px;
            vertical-align: middle;
          }
        }
      }
      .btn_holder {
        margin-top: 62px;
        text-align: center;
        margin-bottom: 25px;
      }
    }
    h3 {
      font-size: 25px;
      margin-left: -10px;
      margin-right: -10px;
      margin-bottom: 25px;
      text-align: center;
    }
  }
  &.proof-page {
    text-align: center;
    padding-bottom: 50px;
    .scss_text {
      line-height: 1.25;
      margin: 15px 0;
    }
    .text {
      font-size: 14px;
      line-height: 1.25;
      text-align: center;
      margin-bottom: 50px;
    }
    .btn_holder {
      text-align: center;
      margin-bottom: 57px;
    }
    .history_link {
      color: #363636;
      font-size: 14px;
      text-decoration: none;
    }
  }
}
.icon {
  svg {
    background: inherit;
    fill: inherit;
    height: 100%;
    vertical-align: top;
    width: 100%;
  }
}
.dropdown_menu_wrapper {
  background: #fff;
  box-sizing: border-box;
  height: 0;
  left: 0;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 101;
}
.dropdown_menu {
  padding: 99px 15px 0;
  background: #fff none repeat scroll 0 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 99;
  ul {
    li {
      margin-bottom: 29px;
      a {
        color: #363636;
        font-size: 16px;
        text-decoration: none;
      }
    }
  }
}
.body_wrapper {
  overflow: hidden;
  position: relative;
  min-height: 100%;
  padding-bottom: 255px;
}
.mobile_height_spike {
  bottom: 0;
  left: 1px;
  position: fixed;
  top: 0;
  width: 1px;
}

.footer{
  background: #fafafa;
  border-top: 1px solid #e9e9e9;
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  color: #363636;
  padding: 33px 0 40px 0;

  .phone{
    font-size: 28px;
    margin-bottom: 28px;
    letter-spacing: -1.2px;
  }

  .footer_social_list {
    margin-bottom: 22px;

    ul {
      li {
        &:last-child{
          .social{
            margin-right: 0px;
          }
        }

        display: inline-block;
        .social {
          fill: #7d7d7d;
          display: inline-block;
          margin-right: 30px;
          &.fb {
            height: 40px;
            width: 22px;
          }
          &.vk {
            height: 36px;
            width: 30px;
          }
          &.tt {
            height: 39px;
            width: 46px;
            margin-right: 27px;
          }
          &.yt {
            height: 37px;
            width: 41px;
          }
          &:hover {
            fill: #363636;
          }
        }
      }
    }
  }

  .change_lang{
    margin-bottom: 18px;

    .footer_lang_control{
      text-decoration: none;
      color: inherit;
      font-size: 15px;
      margin-bottom: 10px;
    }
  }

  .copyright{
    //font-size: 11px;
    font-size: 14px;
    color: #707070;
    display: inline-block;
  }
}

.product-page{
  padding-bottom: 40px;
  .slider{
    img{
      width: 100%;
      max-width: 480px;
    }
  }

  .go_back{
    height: 20px;
    margin-bottom: 10px;
    margin-top: 5px;

    a{
      margin-left: -5px;

      .icon{
        width: 25px;
        height: 24px;
        stroke: #363636;
        display: inline-block;
      }
    }
  }

  .product_card{
    .title{
      font-size: 22px;
      margin-bottom: 8px;
    }

    H1{
      margin-bottom: 8px;
    }

    .prices{
      font-size: 22px;
      margin-bottom: 20px;
      margin-top: -5px;

      .old_price{
        color: #c2c2c2;
        text-decoration: line-through;
        padding-left: 5px;
      }
    }

    .attr-block{
      font-size: 15px;
      margin-bottom: 10px;
    }

    .sizes{
      margin-bottom: 35px;

      .sizes_holder{
        padding-top: 2px;

        span{
          display: block;
          float: left;
          margin-bottom: 15px;
          margin-right: 1%;
          min-width: 50px;
          text-align: center;
          width: 13%;
          &.slick-slide {
            display: inline-block;
            float: left;
            margin-right: 10px;
            width: auto;
          }
        }


        a{
          display: inline-block;
          height: 27px;
          line-height: 27px;
          border: 1px solid #E1E1E1;
          width: 100%;
          max-width: 75px;
          font-size: 15px;
          text-decoration: none;
          text-align: center;
          color: #363636;
          padding: 0 10px;

          &.active{
            .pro;
            font-weight: bold;
            border-color: #363636;
          }
        }
      }
    }

    .action{
      text-align: center;

      .button{
        //width: 225px;
        //padding-right: 0px;
        //padding-left: 0px;
      }
    }
  }
}

.trends-page{
  padding-bottom: 50px;
  h1{
    padding-top: 2px;
    font-size: 27px;
    letter-spacing: -1.5px;
    text-align: center;
    margin-bottom: 10px;
  }

  .one_entry{
    margin-bottom: 35px;
    a{
      text-decoration: none;
      color: inherit;
      display: block;
      margin: 0 auto;
    }

    .cover{
      margin-bottom: -1px;
      //margin-bottom: 7px;
    }

    h2{
      font-size: 21px;
      line-height: 1.5;
      .padded-block;
      padding-top: 5px;
      padding-bottom: 4px;
      //margin-bottom: 10px;
      margin-bottom: 2px;
    }

    .post{
      font-size: 15px;
      line-height: 1.1;
      color: #898989;
      height: 32px;
      overflow: hidden;
      letter-spacing: -.6px;
      margin-bottom: 8px;
    }

    .attrs{
      font-size: 15px;
      line-height: 1.1;
      color: #898989;
      letter-spacing: -.6px;
      margin-bottom: 20px;
    }

    &.toggled.in{
      .post{
        color: #363636;
        height: auto;
        overflow: visible;
        line-height: 1.37;
      }
    }
  }

  .action{
    text-align: center;
  }

  .carvari_card {
    border-radius: 20px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
    height: 170px;
    margin: 0 auto 17px;
    padding: 0 7px;
    text-align: center;
    width: 275px;
    .card_number{
      font-size: 18px;
      font-weight: bold;
      padding-top: 47px;
    }
    .holder_name {
      font-size: 14px;
      padding-top: 26px;
    }
    .holder_phone {
      font-size: 14px;
      padding-top: 6px;
    }
  }
  .one_entry.slick-slide {
    margin-bottom: 0;
  }


}

.history-page{
  padding-bottom: 50px;
  h1{
    padding-top: 0px;
    padding-bottom: 5px;
    margin-bottom: 15px;
//    margin-top: -20px;
  }

  .one_order{
    width: 100%;
    font-size: 16px;
    padding-bottom: 37px;
    position: relative;
    margin-bottom: 20px;

    &:last-child{
      &:after{
        display: none;
      }
    }

    &:after{
      position: absolute;
      content: '';
      bottom: 0px;
      left: -15px;
      right: -15px;
      border-bottom: 1px solid #ebebeb;
    }

    .attr{
      padding: 0 0 45px 0;

      &:last-child{
        padding: 0 0 0 0;
      }

      div{
        float: left;

        &:first-child{
          min-width: 100px;
          width: 35%;
          font-weight: bold;
        }

        &:nth-child(2){
          white-space: nowrap;
          min-width: 180px;
          width: 60%;
          overflow: hidden;
        }
      }
    }
  }


  .action{
    text-align: center;
  }
}

.map-page{
  h1{
    letter-spacing: -1.2px;
  }

  .input_block{
    margin-bottom: 18px;
  }

  .city_chooser{
    //padding: 7px 0 0 0;
  }

  .slider{
    margin-bottom: -5px;

    .store_block{
      .title{
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.2px;
        margin-bottom: 8px;
      }

      .info{
        font-size: 16px;
        padding: 0 0 0 0;
        line-height: 1.35;
      }
    }
  }

  .map_holder{
    height: 795px;
    background: #d9d9d9;
    margin-bottom: -145px;

    #is_map{
      height: 795px;
      width: 100%;
    }
  }
}
html.mob .questions_block .questions_area .questions .label:hover div.radio span {
  background-position: -20px 0;
}
//html.mob {
//@media (max-resolution: 190dpi) {
//  input[type=text] {
//    -webkit-appearance: textfield !important;
//    background-color: white !important;
//    border: 2px inset !important;
//    border-image-source: initial !important;
//    border-image-slice: initial !important;
//    border-image-width: initial !important;
//    border-image-outset: initial !important;
//    border-image-repeat: initial !important;
//    -webkit-rtl-ordering: logical !important;
//    -webkit-user-select: text !important;
//  }
//}
//}
@media (max-resolution: 190dpi){
  //  @media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.4), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.4dppx) {
  input {
    -webkit-appearance: textfield!important;
    background-color: white!important;
    border: 2px inset!important;
    border-image-source: initial!important;
    border-image-slice: initial!important;
    border-image-width: initial!important;
    border-image-outset: initial!important;
    border-image-repeat: initial!important;
    -webkit-rtl-ordering: logical!important;
    -webkit-user-select: text!important;
    &:focus {
      border: 2px inset!important;
    }
  }
  .main_content.checkout-page .profile_nav  {
    .profile_nav_link {
      &.active {
        background: #bebebe;
        padding: 1px;
        outline: none;
        .wrap {
          background: #fff;
          padding: 10px;
          display: inline-block;
          font-weight: bold;
        }
      }
    }
  }
  .main_content.list-page .filter_items li {
    padding: 1px;
    background: #bebebe;
    a {
      background: #fff;
      outline: none;
      border: none;
    }
  }
  .main_content.list-page .filter_list ul.sizes li {
    padding: 1px;
    background: #bebebe;
    margin-right: 4px;
    a {
      background: #fff;
      outline: none;
      border: none;
      margin-right: 0;
      width: 35px;
    }
  }
  .main_content.checkout-page .tab_wrapper .tab_content .input_block.wrong input {
    border: 2px inset #e84428!important;
  }
  select {
    border: none;
  }
  select {
    -webkit-appearance: value!important;
    background-color: white!important;
    border: 1px inset!important;
    border-color: #000000;
    border-image-source: initial!important;
    border-image-slice: initial!important;
    border-image-width: initial!important;
    border-image-outset: initial!important;
    border-image-repeat: initial!important;
    -webkit-rtl-ordering: logical!important;
    -webkit-user-select: text!important;
  }
  .select_wrap {
    background: #bebebe;
    padding: 1px;
    select {
      border: none!important;
      background: #fff;
    }
  }
}

//@media (min-resolution: 1.4dppx) {
//  //  @media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.4), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.4dppx) {
//  input {
//    -webkit-appearance: textfield!important;
//    background-color: white!important;
//    border: 2px inset!important;
//    border-image-source: initial!important;
//    border-image-slice: initial!important;
//    border-image-width: initial!important;
//    border-image-outset: initial!important;
//    border-image-repeat: initial!important;
//    -webkit-rtl-ordering: logical!important;
//    -webkit-user-select: text!important;
//    &:focus {
//      border: 2px inset!important;
//    }
//  }
//  .main_content.list-page .filter_items li {
//    padding: 1px;
//    background: #363636;
//    a {
//      background: #fff;
//      outline: none;
//      border: none;
//    }
//  }
//  .main_content.list-page .filter_list ul.sizes li {
//    padding: 1px;
//    background: #363636;
//    margin-right: 4px;
//    a {
//      background: #fff;
//      outline: none;
//      border: none;
//      margin-right: 0;
//      width: 35px;
//    }
//  }
//  .main_content.checkout-page .tab_wrapper .tab_content .input_block.wrong input {
//    border: 2px inset #e84428!important;
//  }
//  select {
//    border: none;
//  }
//  select {
//    -webkit-appearance: value!important;
//    background-color: white!important;
//    border: 1px inset!important;
//    border-color: #000000;
//    border-image-source: initial!important;
//    border-image-slice: initial!important;
//    border-image-width: initial!important;
//    border-image-outset: initial!important;
//    border-image-repeat: initial!important;
//    -webkit-rtl-ordering: logical!important;
//    -webkit-user-select: text!important;
//  }
//}