
@media screen and (min-width: 480px) {
  //  variant first
//  .header {
//    height: 45px;
//    padding-top: 15px;
//    .logo_holder {
//      left: 50%;
//      margin-left: -62px;
//      position: absolute;
//      a {
//        margin-top: 0;
//      }
//    }
//  }

//  variant second
  .header {
    height: 45px;
    padding-top: 15px;
    .menu {
      .menu_item {
        display: none;
      }
    }
    .logo_holder {
      left: 50%;
      margin-left: -107px;
      position: absolute;
      top: 1px;
      a {
        height: 30px;
        width: 214px;
      }
    }
  }
  .main_content.list-page{
    padding-top: 105px;
    .filter_wrapper {
      top: 45px!important;
    }
  }
  .main_content {
    padding-top: 60px;
  }
}
@media screen and (min-width: 720px) {
  //variant second
  .header {
    .menu {
      .menu_item {
        display: inline-block;
      }
    }
  }
  .trends-page {
    .carvari_card {
      height: 340px;
      margin: 0 auto 35px;
      padding: 0 15px;
      width: 550px;
      .card_number{
        font-size: 36px;
        padding-top: 95px;
      }
      .holder_name {
        font-size: 28px;
        padding-top: 53px;
      }
      .holder_phone {
        font-size: 28px;
        padding-top: 12px;
      }
    }
  }
}