.icon-AdminSimpleBlog:before {
	content: '\f0f6';
}

li.ph_simpleblog_icon a {
	background: url(../logo.png) no-repeat center 25px #f8f8f8;
}
.item {
	margin-top: 20px;
	height: 360px;
	margin-bottom: 10px;
}

.item .item_link{
	margin-top: 14px;
}