.want_red{
    color: red;
    font-size: 23px;
}
.podtv_text{
    font-size: 20px;
}
input[type=range].range_form {
    -webkit-appearance: none;
    width: 100%;
    margin: 2.7px 0;
}
input[type=range].range_form:focus {
    outline: none;
}
input[type=range].range_form::-webkit-slider-runnable-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #f5f5f5, 0px 0px 1px #e5e5e5;
    background: green;
    border-radius: 2px;
    border: 1px solid #ccc;
}
input[type=range].range_form::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px #f5f5f5, 0px 0px 1px #e5e5e5;
    border: 1px solid #e5e5e5;
    height: 18px;
    width: 11px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3px;
}
input[type=range].range_form:focus::-webkit-slider-runnable-track {
    background: green;
}
input[type=range].range_form::-moz-range-track {
    width: 100%;
    height: 24.6px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: green;
    border-radius: 1.3px;
    border: 0.2px solid #000001;
}
input[type=range].range_form::-moz-range-thumb {
    box-shadow: 1.4px 1.4px 1px #000000, 0px 0px 1.4px #0d0d0d;
    border: 1px solid #000000;
    height: 30px;
    width: 11px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
}
input[type=range].range_form::-ms-track {
    width: 100%;
    height: 24.6px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range].range_form::-ms-fill-lower {
    background: green;
    border: 0.2px solid #000001;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].range_form::-ms-fill-upper {
    background: green;
    border: 0.2px solid #000001;
    border-radius: 2.6px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].range_form::-ms-thumb {
    box-shadow: 1.4px 1.4px 1px #000000, 0px 0px 1.4px #0d0d0d;
    border: 1px solid #000000;
    height: 30px;
    width: 11px;
    border-radius: 3px;
    background: #ffffff;
    cursor: pointer;
    height: 24.6px;
}
input[type=range].range_form:focus::-ms-fill-lower {
    background: green;
}
input[type=range].range_form:focus::-ms-fill-upper {
    background: green;
}
p.payment_module a.cheque:after, p.payment_module a.bankwire:after, p.payment_module a.cash:after, p.payment_module a.parts:after, p.payment_module a.rassrochka:after {
    display: block;
    content: "\f054";
    position: absolute;
    right: 15px;
    margin-top: -11px;
    top: 50%;
    font-family: "FontAwesome";
    font-size: 25px;
    height: 22px;
    width: 14px;
    color: #777;
}
p.payment_module a.parts, p.payment_module a.rassrochka {
    background: url("/modules/ecm_payparts/logo.png") no-repeat scroll -50px -50px;
    display: block;
    padding: 20px 40px 20px 99px;
}
.parts img {
    margin: 0px 30px 0px -80px;
}
.rassrochka img {
    margin: 0px 30px 0px -80px;
}

.ff_payparts {
    font-size: 20px;
    color: #363636;
    text-align: center;
    margin-bottom: 15px;
}
.ff_payparts_slide {
    display: none;
}
.ff_payparts_val {
    background: #5bb1e7;
    color: #fff;
    padding: 10px;
    border-radius: 6px;
}
.ff_payparts_count {
    font-size: 15px;
}
.ff_payparts_count__text {
    display: block;
    margin-bottom: 5px;
}
.ff_payparts_count__time {
    line-height: 30px;
    font-weight: bold;
    font-size: 20px;
}
.ff_payparts_count__select {
    background: #fff;
}
.ff_payparts_cost {
    display: flex;
    padding: 5px;
    background: #f3f3f3;
    border-radius: 5px;
    border: 1px solid #b6b6b6;
}
.ff_payparts_cost__title {
    font-size: 18px;
    margin-bottom: 10px;
}
/*.ff_payparts_cost__left,*/
/*.ff_payparts_cost__right {*/
    /*padding: 5px;*/
    /*background: #ececec;*/
    /*border-radius: 10px;*/
    /*border: 1px solid #b6b6b6;*/
    /*margin-top: 10px;*/
/*}*/
.ff_payparts_cost__left {
    margin-right: 10px;
}
.ff_payparts_cost__left .ff_payparts_count {
    width: 50%;
    float: left;
}
