@font-face {
    font-family: 'FontAwesome';
    src: url("../fonts/fontawesome-webfont.eot?v=4.3.0");
    src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
    font-weight: normal;
    font-style: normal; }
.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 100%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    /*white-space: nowrap;*/
    vertical-align: baseline;
    border-radius: 0; }
.label[href]:hover, .label[href]:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer; }
.label:empty {
    display: none; }

label.required:after {
    content: "*";
    color: red;
    font-size: 14px;
    position: relative;
    line-height: 12px; }

.label-default {
    background-color: #999999; }
.label-default[href]:hover, .label-default[href]:focus {
    background-color: gray; }

.label-primary {
    background-color: #428bca; }
.label-primary[href]:hover, .label-primary[href]:focus {
    background-color: #3071a9; }

.label-success {
    background-color: #55c65e;
    border: 1px solid #36943e; }
.label-success[href]:hover, .label-success[href]:focus {
    background-color: #3aae43; }

.label-info {
    background-color: #5192f3;
    border: 1px solid #4b80c3; }
.label-info[href]:hover, .label-info[href]:focus {
    background-color: #2174f0; }

.label-warning {
    background-color: #fe9126;
    border: 1px solid #e4752b; }
.label-warning[href]:hover, .label-warning[href]:focus {
    background-color: #f07701; }

.label-danger {
    background-color: #f3515c;
    border: 1px solid #d4323d; }
.label-danger[href]:hover, .label-danger[href]:focus {
    background-color: #f0212f; }



div.filter_exp a.item, .menu_list a, .filter_name.dynamic a {
    /*color: red;*/
    color: #363636;
    text-decoration: none;
}

#newsletter_error.error_msg {
    position: absolute;
    color: #e84428;
    font-size: 14px;
    padding-top: 5px;
}
.email_input.wrong {
    border-color: #e84428 !important;
}

#social_block {
    //float: left;
    //width: 50%;
    //padding: 22px 15px 0 15px;
}
#social_block ul {
    .clearfix;
    margin-top: 20px;
    text-align: center;
    //float: right;
}
#social_block ul li {
    display: inline-block !important;
    float: left;
    //width: 30px;
    margin-right: 10px;
    text-align: center;
    &:last-child{
        margin-right: 0;}
    &.facebook{
        a{
            background-image: url('../img/icon/facebook.svg');
        }
    }
    &.youtube{
        a{
            background-image: url('../img/icon/youtube.svg');
        }
    }
    &.instagram{
        a{
            background-image: url('../img/icon/instagram.svg');
        }
    }
}
#social_block ul li a {
    display: block;
    width: 44px;
    height: 44px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    //color: #aaaaaa;
    //font-size: 13px;
    &:before{
        text-indent: -9999px;
    }
}
#social_block ul li a span {
    display: none; }
// #social_block ul li a:before {
//     display: inline-block;
//     font-family: "FontAwesome";
//     vertical-align: -5px;
//     font-weight: normal;
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale; }
#social_block ul li a:hover {
    color: #464646; }
// #social_block ul li.vk a:before {
//     content: "\f189"; }
// #social_block ul li.facebook a:before {
//     content: "\f09a"; }
// #social_block ul li.twitter a:before {
//     content: "\f099"; }
// #social_block ul li.rss a:before {
//     content: "\f09e"; }
// #social_block ul li.youtube a:before {
//     content: "\f16a"; }
// #social_block ul li.google-plus a:before {
//     content: "\f0d5"; }
// #social_block ul li.pinterest a:before {
//     content: "\f0d2"; }
// #social_block ul li.vimeo a:before {
//     content: "\f194"; }
// #social_block ul li.instagram a:before {
//     content: "\f16d"; }
//#social_block ul li a:before {
//    display: inline-block;
//    font-family: Myriad;
//    vertical-align: -5px;
//    font-weight: normal;
//    -webkit-font-smoothing: antialiased;
//    -moz-osx-font-smoothing: grayscale;
//    margin-right: 30px;
//    font-size: 13px;
//    &:last-child{
//        margin-right: 0;
//  }
//
//    }
//#social_block ul li.vk a:before {
//    content: "VK"; }
//#social_block ul li.facebook a:before {
//    content: "Facebook"; }
//#social_block ul li.twitter a:before {
//    content: "Twitter"; }
//#social_block ul li.rss a:before {
//    content: "RSS"; }
//#social_block ul li.youtube a:before {
//    content: "YouTube"; }
//#social_block ul li.google-plus a:before {
//    content: "Google+"; }
//#social_block ul li.pinterest a:before {
//    content: "Pinterest"; }
//#social_block ul li.vimeo a:before {
//    content: "Vimeo"; }
//#social_block ul li.instagram a:before {
//    content: "Instagram"; }
#social_block h4 {
    float: right;
    margin-bottom: 0;
    font-size: 21px;
    line-height: 25px;
    text-transform: none;
    padding: 0 10px 0 0; }
#opc-right-carrier-content {
    position:relative;
    margin-bottom: 40px;
}
#opc-page-loader {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: 115px;
    background: white;
    opacity: 0.7;
    top: -45px;
    text-align: center;
    padding-top:55px;
}

#orderform {
    .left_content {
        width: 720px;
        padding-left: 15px;
    }
    .right_content {
        width: 280px;
        padding-right: 15px;
    }
    .profile_section_title {
        font-size: 20px;
    }
    .user_info {
        padding-right: 30px;
        .logout_link {
            font-size: 14px;
            float: right;
            padding-top: 5px;
            color: #5bb1e7;
            &:hover {
                text-decoration: none;
            }
        }
    }
    #try-login-div {
        position: relative;
        top: -15px;
        line-height: 15px;
        .input__message--hello {
            padding-top: 5px;
            text-align: right;
        }
        .order_login_holder {
            padding-top: 5px;
            padding-left: 110px;
            text-align: left;
            .btn__login {
                display: inline-block;
                vertical-align: top;
                height: auto;
                margin-top: 3px;
                padding: 4px 6px;
                border: 0 none;
                font-size: 13px;
                color: #fff;
                background: #5bb1e7;
                cursor: pointer;
                border-radius: 0;
            }
            .input_link {
                float: right;
                line-height: 30px;
                text-decoration: underline;
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
    .btn_holder {
        text-align: center;
        &.login {
            margin-left: 143px;
        }
    }
    .input_block,
    .carrier_block {
        & > * {
            font-size: 14px;
        }
        label,
        .carrier_block__name {
            width: 110px;
        }
        input {
            width: ~"calc(100% - 110px)";
            height: 30px;
        }
    }
    .jq-selectbox__select {
        width: auto;
        max-width: 240px;
        margin-bottom: 0;
        height: 30px;
        line-height: 30px;
    }
    .jq-selectbox__trigger-arrow {
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-top: 7px solid #707070;
        top: 11px;
    }
    .jq-selectbox__dropdown {
        top: 29px;
    }
    .ecm_novaposhta {
        table td,
        table th {
            padding: 0;
        }
    }
    .opc-divider .opc-form-group,
    .delivery_option,
    .opc-table.payment {
        margin-bottom: 10px;
        .opc-radio {
            .jq-radio {
                top: -2px;
            }
        }
    }
    .opc-delivery_options {
        margin-bottom: 11px;
    }
}
