.page.page--contacts {
  .contacts_left {
    width: 213px;
    margin-top: 10px;
    margin-right: 57px;
    float: left;
  }
  .contacts_right {
    width: 60%;
    float: left;
  }
  .contacts_title {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 15px;
    color: #303030;
  }
  .contact_map {
    height: 500px;
  }
  .contacts_text__days {
    display: inline-block;
    width: 62px;
    font-size: 15px;
  }
  .contacts_text__time {
    display: inline-block;
    font-size: 15px;
    &--bold{
      font-weight: bold;
    }
  }
  .contacts_text {
    font-size: 17px;
  }
  .contacts_link{
    display: block;
    color: #aaa;
    text-decoration: none;
    &:hover{
      color: #464646;
    }
    &+.contacts_link{
      margin-top: 5px;
    }
  }
  .contacts_address {
    font-size: 15px;
  }
  .contacts_text__schedule + .contacts_text__schedule{
    margin-top: 5px;
  }
  .contact-form-box{
    margin-top: 20px;
  }
  .page-subheading{
    font-size: 24px;
    margin-bottom: 5px;
  }

  .form-control{
    display: block;
    width: 100%;
  }
  .button{
    padding: 2px 15px;
  }
}