@import "general-css.less";
@import "general.less";
@import "ui-kit.less";
@import "contacts.less";

body,html {
  width: 100%;
  height:100%;
  //min-width: 1000px;
  font-family: Myriad Light,arial,sans-serif;
  color: #363636;
}
h4 {
	padding:10px 0;
}
.body_wrapper{
  min-height:100%;
  position:relative;
  //padding-bottom: 185px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-width: 1000px;
  .content_wrapper {
    flex: 1 0 auto;
  }
  .footer {
    flex: 0 0 auto;
  }
  .container,
  .footer_wrapper{
    z-index: 2;
  }
}
.slider-wrap{
  padding-top: 190px;
  &.small-pad{
    padding-top: 122px !important;
  }
}
.none-padding{
  padding-top: 0 !important;
}
.branding_holder{
  display: none;
  position: absolute;
  top: 110px;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-repeat: no-repeat;
  background-position: top center;
  overflow: hidden;
  *{
    vertical-align: middle;
  }
  @media (min-width: 1280px) {
    display: block;
  }

  .branding_holder__link{
    //position: absolute;
    //top: 0;
    //right: 0;
    //bottom: 0;
    //left: 0;
    position: relative;
  }

  //.full_container{
  //   position: relative;
  // }
  .brand_tc{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    img{
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .brand_left{
    position: absolute;
    top: 0;
    right: 100%;
    z-index: 2;
  }
  .brand_right{
    position: absolute;
    top: 0;
    left: 100%;
    z-index: 2;
  }
}
.point_none{
  pointer-events: none;
}
.wrapp_index_page{
  //padding: 20px;
  padding: 5px;
  background: #fff;
  pointer-events: all;
}
// slider style START
// .pt-tabs-container {
//   margin-top: 20px;
//   margin-bottom: 80px;
// }
.tabs{
  margin-top: 20px;
  margin-bottom: 80px;
  &__caption{
      display: flex;
      justify-content: center;
      margin-bottom: 30px;
  }
  &__content{
    visibility: hidden;
    height: 0px;
    overflow:hidden;
    &.active{
      visibility: visible;
    height: auto;
    overflow: visible;
    }
  }
}
.caption{
  &__item{
    margin-right: 25px;
    font-family: Myriad Light;
    font-size: 17px;
    color: #aaaaaa;
    cursor: pointer;
    &.active{
      color: #656565;
      border-bottom: 2px solid #656565;
    }
    &:last-child{
      margin-right: 0;
    }
  }
}
.pt-tabs-container .list-tabs-wrap{
  display: none;
}
.pt-tabs-container .button-container{
  display: none;
}
.pt-tabs-container .module-title{
  display: none;
}
.pt-tabs-container .new-box{
  display: none;
}
.pt-tabs-container .quick-view{
  display: none;
}
.pt-tabs-container .product-container{
  text-align: center;
}
.pt-tabs-container .product-image-container{
  margin-bottom: 40px;
}
.list-items-wrap{
  position: relative;
  padding: 0 30px;
}
.owl-carousel .owl-nav [class*='owl-']{
  width: 19px;
  height: 64px;
  background: transparent !important;
  position: absolute;
  top: 26%;
  margin: 0 !important;
}
.owl-carousel .owl-nav .owl-prev{
  left: 0;
  background: url(/themes/carvari-theme/img/arrow_sprite.png) no-repeat left bottom !important;
}
.owl-carousel .owl-nav .owl-prev:hover{
  background: url(/themes/carvari-theme/img/arrow_sprite.png) no-repeat left top !important;
}
.owl-carousel .owl-nav .owl-next{
  right: 0;
  background: url(/themes/carvari-theme/img/arrow_sprite.png) no-repeat right bottom !important;
}
.owl-carousel .owl-nav .owl-next:hover{
  background: url(/themes/carvari-theme/img/arrow_sprite.png) no-repeat right top !important;
}
.pt-tabs-container .product-container .product-name a{
  font-family: Myriad Light;
  font-size: 17px;
  color: #656565;
  margin-bottom: 10px;
  display: inline-block;
  text-decoration: none;
}
.pt-tabs-container .product-container .content_price {
  //font-size: 13px;
  display: block;

  & .price {
    display: inline-block;
    margin-right: 10px;
  }

  & .old-price {
    display: inline-block;
    color: #a1a1a1;
    text-decoration: line-through;
  }
}
// slider style END
.full_container{
  position: relative;
  z-index: 2;
  width: 90%;
  margin: 0 auto;
  max-width: 1440px;
  min-width: 1000px;

  //@media (min-width: 1367px) {
  //  .main_content{
  //    width: 90%;
  //  }
  //}
  //@media (min-width: 1681px) {
  //  .main_content{
  //    width: 100%;
  //  }
  //}
}

input {
  font-size: 18px;
  &:focus {
    border: 1px solid #7da7d9!important;
  }
}
input[type=button],input[type=submit] {
  &:focus {
    border: none!important;
  }
}

* {
  .box-sizing();
}

.min_width {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
.menu_inner_wrap{
  float: left;
}
.dropdown_menu {
  background: #f5f5f5;
  // border-bottom: 1px solid #e9e9e9;
  //height: 230px;
  text-align: center;
  &.fixed-drop{
  position: fixed !important;
  top: 47px!important;
  border-top: 1px solid #fff;
  }
  &&--large{
    //height: 280px;
    min-width: 1000px;
    .menu_inner_wrap{
      margin-right: 5px;
    }
    .dd_menu__image_holder{
      position: relative;
      width: 300px;
      height: 269px;
    }
    .dropdown_menu__image_link{
      position: absolute;
      display: block;
      top: 50%;
      left: 0;
      margin-top: -115px;
    }
    .dd_menu_list {
      li {
        margin-bottom: 5px;
        max-width: 245px;
        min-width: 110px;
      }
      a {
        padding: 11px 15px;
      }
    }
  }
  &.fixed {
    position: absolute;
    top: 190px;
    left: 0;
    width: 100%;
    z-index: 9;
  }
  .dd_menu_list {
    float: left;
    padding-top: 15px;
    padding-bottom: 15px;
    li {
      margin-bottom: 13px;
      max-width: 250px;
      min-width: 160px;
      padding-left: 1px;
      padding-top: 1px;
      text-align: left;

      &:last-child{
        margin-bottom: 0;}
    }
    a {
      color: #363636;
      display: inline-block;
      padding: 11px 20px;
      text-decoration: none;
      &:hover, &.outline {
        outline: 1px solid #707070;
      }
    }
  }
}
.dot {
  width: 8px;
  display: inline-block;
  height: 29px;
  text-align: center;
  background: url("../img/carvari_logo.svg") no-repeat;
  background-position: -89px -2px!important;
  position: absolute;
  z-index: 100;
  left: 50%;
  margin-left: -40px;
  top: 54px;
}

.hovered_logo {
  left: 440px;
  position: absolute;
  top: 54px;
  text-decoration: none;
  span {
    display: inline-block;
    width: 20px;
    height: 29px;
    text-align: center;
    transform-origin: 10px 10px;
    background: url("../img/carvari_logo.svg") no-repeat;
  }
  //&.animate {
  //  span {
  //    -webkit-animation-name: animent;
  //    animation-name: animent;
  //    -webkit-animation-duration: 0.5s;
  //    animation-duration: 0.5s;
  //    -webkit-animation-timing-function: linear;
  //    animation-timing-function: linear;
  //    -webkit-animation-iteration-count: 1;
  //    animation-iteration-count: 1;
  //  }
  //}
  .l {
    background-position: -70px -2px!important;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  .dot {
    width: 8px;
    display: inline-block;
    height: 29px;
    text-align: center;
    background: url("../img/carvari_logo.svg") no-repeat;
    background-position: -89px -2px!important;
    margin-left: -4px;
    position: static;
    opacity: 0;
  }
  .c {
    background-position: -102px -2px!important;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  .a {
    background-position: -126px -2px!important;
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
  }
  .r {
    background-position: -150px -2px!important;

    -webkit-animation-delay: .6s;
    animation-delay: .6s;
  }
  .v {
    background-position: -175px -2px!important;

    -webkit-animation-delay: .8s;
    animation-delay: .8s;
  }
  .a2 {
    background-position: -199px -2px!important;

    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  .r2 {
    background-position: -223px -2px!important;

    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
  }
  .i {
    background-position: -248px -2px!important;

    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
  }
}

@keyframes animent{
  0%{
    transform: scaleX(1);
  }
  25% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(-1);
  }
  75% {
    transform: scaleX(0);
  }
  100%{
    transform: scaleX(1);
  }
}
@-webkit-keyframes animent{
  0%{
    -webkit-transform: scaleX(1);
  }
  25% {
    -webkit-transform: scaleX(0);
  }
  50% {
    -webkit-transform: scaleX(-1);
  }
  75% {
    -webkit-transform: scaleX(0);
  }
  100%{
    -webkit-transform: scaleX(1);
  }
}

.language {
  -webkit-touch-callout: none;
  --webkit-user-select: none;
  --khtml-user-select: none;
  --moz-user-select: none;
  --ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: default;
  position: absolute;
  top: -38px;
  right: 0;

  &__point {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    text-decoration: none !important;
    color: #aaaaaa;

    &:last-child {
      margin-right: 0;
    }

    &:first-child {
      margin-right: 10px;
    }

    &--active {
      color: #363636;
      cursor: default;

      &:hover {
        .language__title {
          color: #363636;

          &:after {
            display: none;
          }
        }
      }
    }
  }

  &__flag {
    margin-right: 4px;
    margin-top: -2px;
    width: 19px;
    height: 16px;
  }

  &__flag_img {
    max-height: 100%;
    width: 100%;
  }

  &__title {
    .solid-line {
      .border-line() {
        .mini-reset {
          border: none;
          margin: 0;
          padding: 0;
          outline: none;
          text-decoration: none;
          line-height: inherit;
          font-size: inherit;
          position: static;

          &:hover {
            color: #363636;
            text-decoration: none;
          }
        }
        white-space: nowrap;
        position: relative;
        text-decoration: none;
        line-height: 1.6em;

        &:hover,
        &:active,
        &:focus {
          color: #363636;
          text-decoration: none;
          -webkit-transition: color 0.3s ease-in-out;
          transition: color 0.3s ease-in-out;
        }

        &:after {
          content: '';
          position: absolute;
          bottom: .1em;
          left: 0;
          right: 0;
          border-bottom-width: 0.05em;
          //transition: .3s;
        }
      }
      &:after {
        border-bottom-style: solid;
      }
    }
    font-size: 12px;
    text-decoration: none;
    text-transform: uppercase;

    &:after {
      opacity: .0;
      bottom: 3px;
    }

    &:hover {
      &:after {
        opacity: .5;
      }
    }
  }
}

.right-bl{
  &__login{
    font-size: 15px;
    color: #aaaaaa;
    text-decoration: none;
    transition: color .3s ease-in-out;
    &:hover{
      transition: color .3s ease-in-out;
      color: #363636;
    }
  }

}
.phones{
  max-width: 300px;
  &__phone{
    display: block;
    float: left;
    font-family: Myriad;
    font-size: 16px;
    color: #aaaaaa;
    &:nth-child(1),
    &:nth-child(2) {
      margin-bottom: 10px;
    }
    &:nth-child(1),
    &:nth-child(3)
    {
      margin-right: 25px;
    }
  }
}
.header {
  background: #fff;
  border-bottom: 1px solid #e9e9e9;
  height: 190px;
  position: absolute;
  width: 100%;
  font-family: Myriad Light,arial, sans-serif;
  font-size: 18px;
  color: #363636;
  z-index: 10;
  //overflow: hidden;
  // transition: .2s linear;
  &.small-height{
    height: 47px !important;
    overflow: hidden;
    position: fixed;
  }
  .header_min_width{
    min-width: 1000px;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  &__menu-wrap{
    height: 47px;
    width: 100%;
    background: #f5f5f5;
    &.fixed{
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 99999;

      .header__right {
        top: 15px;
        background: #f5f5f5;
        padding-left: 60px;

        .right-bl__login{
          display: none;
        }
      }
    }
  }
  &__right{
    font-family: Myriad;
    display: flex;
    justify-content: flex-end;

    position: absolute;
    top: -80px;
    right: 15px;

    transition: top .3s;
  }
  &__left {
    justify-content: flex-start;
    flex-grow: 1;
  }
  &__logo-wrap{
    height: 142px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  &.imp {
    height: 48px!important;
  }
  &.fixed {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
  }
  .min_width_head{
    height: auto;
    width: 65%;
    position: relative;
    margin: 0 auto;
  }
  .head_logo {
    width: 270px;
    height: 40px;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -130px;
    top: 52px;
    padding-left: 70px;
    padding-top: 2px;
    .bird {
//      background: url("../img/carvari_logo.svg") no-repeat;
      height: 40px;
      width: 60px;
      position: absolute;
      top: 0;
      left: 0;
      transition: .2s linear;
      transform: rotate(0);
      -webkit-transform: rotate(0);
      &.animate {
        transform: rotate(34deg);
        -webkit-transform: rotate(34deg);
      }
      &.dead {
        transition: .5s ease-in;
        transform: rotate(-160deg);
        -webkit-transform: rotate(-160deg);
        transform-origin: 0 30px 0;
      }
    }
    .body {
      background: url("../img/carvari_logo.svg") no-repeat;
      height: 24px;
      position: relative;
      transform: rotate(0) translate(0, 0);
      transition: all 0.2s linear 0s;
      width: 60px;
      path{
        fill: #000;
      }
      &.animate {
        transform: rotate(34deg) translate(10px, -3px);
        -webkit-transform: rotate(34deg) translate(10px, -3px);
      }
    }
    .legs {
      background: url("../img/carvari_logo.svg") no-repeat 0 -24px;
      height: 20px;
      width: 60px;
    }
  }
  .menu_list {
    display: flex;
    align-items: center;
    height: 48px;
    justify-content: space-around;
    a:hover{
      color: #000;
    }
    li {
      //margin-right: 189px;
      // margin-right: 60px;
      // float: left;
      &:first-child{
        // margin-left: 60px;
      }
      span {
        color: #363636;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.4s ease-out 0s;
        &:hover, &.active {
          border-bottom: 2px solid #636363;
          padding-bottom: 9px;
        }
        &.menu_burger {
          border-bottom: none;
          padding-bottom: 0;
        }
      }
      //&:nth-of-type(4) {
      &:nth-of-type(5) {
        margin-right: 0;
      }
    }
  }
  .menu_burger{
    position: relative;
    // right: 6px;
    left: 0;
    display: inline-block;
    // bottom: 7px;
    width: 20px;
    height: 13px;
    cursor: pointer;
    div {
      background: #7d7d7d none repeat scroll 0 0;
      display: block;
      height: 2px;
      left: 50%;
      margin-left: -9px;
      opacity: 1;
      position: absolute;
      transition: all 0.3s ease 0s, left 0.2s ease 0s;
      width: 19px;
    }

    div:nth-of-type(1){top: 0px;}
    div:nth-of-type(2){top: 6px;}
    div:nth-of-type(3){top: 12px;}

    &.active{
      div:nth-of-type(1){
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
      div:nth-of-type(2){
        left: 0;
        opacity: 0;
      }
      div:nth-of-type(3){
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
      div:nth-of-type(1),
      div:nth-of-type(3){
        top: 7px;
        width: 19px;
      }
    }
  }
  .menu-block{
    position: absolute;
    right: 0;
    top: 0;
    height: 48px;
    display: none;
  }
  .menu-block.visible{
    display: flex;
    align-items: center;
  }
  .cart {
    display: inline-block;
    // width: 26px;
    // height: 32px;
    font-size: 15px;
    font-family: Myriad;
    text-align: center;
    text-decoration: none;
    color: #aaaaaa;
     transition: color 0.3s ease-in-out;
     margin-left: 15px;
    // background: url("../img/cart_icon.svg") no-repeat;
    .count{
      background: #fb4651;
      color: #fff;
      padding: 3px 12px;
      border-radius: 10px;
      margin-left: 10px;
      font-size: 12px;
    }
    .icon {
      fill: #7d7d7d;
      height: 30px;
      left: -2px;
      position: absolute;
      stroke: #7d7d7d;
      top: 0;
      width: 30px;
    }
    &:hover {
      // -webkit-animation-name: hvr-buzz-out;
      // animation-name: hvr-buzz-out;
      // -webkit-animation-duration: 0.5s;
      // animation-duration: 0.5s;
      // -webkit-animation-timing-function: linear;
      // animation-timing-function: linear;
      // -webkit-animation-iteration-count: 1;
      // animation-iteration-count: 1;
      transition: color 0.3s ease-in-out;
      color: #363636;
      .icon {
        fill: #363636;
        stroke: #363636;
      }
    }
    &.hover {
      -webkit-animation-name: hvr-buzz-out;
      animation-name: hvr-buzz-out;
      -webkit-animation-duration: 0.5s;
      animation-duration: 0.5s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
      .icon {
        fill: #363636;
        stroke: #363636;
      }
    }
  }
}
.header--short {
  position: relative;
  height: 75px;
  margin: 0 auto 2% auto;
  min-width: 1000px;
  max-width: 1600px;
  border-bottom: 1px solid #464646;
  .header__logo-wrap {
    position: relative;
    display: inline-block;
    width: 300px;
    height: 65px;
    margin: 5px 0;
    .head_logo {
      top: 17px;
    }
    .dot {
      top: 19px;
    }
  }
  .header__info-wrap.info-wrap {
    position: relative;
    float: right;
    font-size: 12px;
    padding-top: 10px;
    padding-right: 27px;
    .info-wrap__title {
      color: #979797;
    }
    .info-wrap__phone {
      position: relative;
      z-index: 3;
      color: #231f20;
      font-size: 25px;
      &:after {
        opacity: 0;
        content: "*";
        font-size: 10px;
        vertical-align: top;
        display: inline-block;
        padding-top: 3px;
        transition: all 0.5s ease;
      }
    }
    .info-wrap__serious {
      color: #5bb1e7;
      margin-top: 5px;
      margin-bottom: 1px;
    }
    .info-wrap__more {
      color: #5bb1e7;
    }
    .info-wrap__icon {
      position: relative;
      border-radius: 50%;
      text-align: center;
      border: 1px solid #5bb1e7;
      width: 13px;
      height: 13px;
      display: inline-block;
      font-size: 10px;
      &:before {
        margin-left: -2px;
        content: "i";
      }
    }
    .call_center {
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: 2;
      top: 10px;
      right: 17px;
      padding: 50px 10px 10px;
      width: 195px;
      height: 0;
      font-size: 13px;
      background: #fff;
      box-shadow: 0 0 5px 0 rgba(50, 50, 50, 0.75);
      border-radius: 5px;
      transition: all .5s ease;
      strong {
        font-size: 20px;
        color: #231f20;
      }
      .call_center__time {
        color: #979797;
        margin-bottom: 5px;
      }
      .call_center__small_text {
        color: #d1d1d1;
        font-size: 10px;
      }
    }
    &:hover {
      .info-wrap__phone:after {
        opacity: 1;
      }
      .call_center {
        opacity: 1;
        height: 225px;
      }
    }
  }
}
.main-page{
  &__middle_area{
    margin: 60px 0 40px 0;
    display: flex;
    width: 75%;
    float: left;
  }
}
.middle_area{
  &__post{
    width: ~"calc(33.3% - 50px)";
    margin-right: 50px;
    float: left;
    &:last-child{
      margin-right: 0;
      width: 25%;
    }
  }
}
.post{
  &__post-link{
    text-decoration: none;
  }
  &__image{
    width: 196px;
    height: 120px;
    overflow: hidden;
    border-radius: 25px;
  }
  &__image_mod{
      width: 215px;
  }
  &__brand{
    position: absolute;
    top: 0;
    right: 0;
    font-family: Myriad;
    font-weight: 700;
    font-size: 13px;
    color: #aaa;
    display: flex;
    justify-content: flex-end;
    width: 41%;
    padding: 20px 0 20px 0;
    letter-spacing: 4px;
    text-transform: uppercase;
  }
  &__title{
    font-family: Myriad;
    font-weight: 700;
    font-size: 24px;
    color: #000;
    padding-left: 50px;
    text-transform: uppercase;
    min-height: 100px;
    margin-bottom: 10px;
  }
  &__text{
    font-family: Myriad Light;
    font-size: 15px;
    color: #aaaaaa;
    line-height: 22px;
    overflow: hidden;
    position: relative;
    &.open .p-text__gradient{
      display: none;
    }
  }
}
.post-photo__img {
  max-width: 100%;
  height: auto;
}
.middle_area__post_last{
  height: 232px;
  background-image: url('/themes/carvari-theme/img/subscribe.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding-top: 35px;
  padding-left: 30px;
  width: 25%;
  margin: 60px 0 40px 0;
  border-radius: 25px;
}
.email{
  &__title{
    font-family: Myriad;
    color: #656565;
    font-size: 13px;
    letter-spacing: 2px;
    margin-bottom: 15px;
  }
  &__text{
    font-family: Myriad Light;
    color: #656565;
    font-size: 13px;
    line-height: 17px;
  }
  &__text_first,
  &__text_second{
    display: block;
  }
  &__text_second {
    max-width: 95px;
  }

}
.middle_area__post_last{
   #newsletter_error.error_msg{
      font-size: 12px !important;
      padding-top: 5px !important;
      bottom: 10px !important;
    }
  .newsletter_success_msg {
    color: #2c8013;
    font-size: 14px;
    padding-top: 85px;
    display: block;
  }
  .subscribe_block {
    position: absolute;
    bottom: 23px;
    left: 0;
    width: 70%;
    span{
      display: none;
    }
    .email_input{
      font-size: 13px;
      color: #656565;
      height: 31px;
      border: 0;
      display: block;
      padding-left: 0px;
      padding-right: 40px;
      width: 100%;
      text-indent: 32px;
      outline: 0;
      &:focus{
        outline: 0;
        border: 0 !important;
      }
      &:active{
        outline: 0;
      }
    }
    .sub_button{
        font-family: Myriad;
        font-size: 13px;
        border: 0;
        height: 31px;
        width: 53px;
        position: absolute;
        bottom: 0;
        right: 0;
        background: #7997e4;
        color: #fff;
        cursor: pointer;
        display: block;
        .icon{
          width: 100%;
          height: 100%;
          fill: #7d7d7d;
          font-style: normal;
          svg{
            background: inherit;
            fill: inherit;
            height: 100%;
            vertical-align: top;
            width: 100%;
          }
        }
    }
  }
}
.ph(@color, @font) {
  input::-webkit-input-placeholder { color: @color;font-family: @font; }
  input:-moz-placeholder { color: @color; font-family: @font; }
}
@colorPh: #656565;
@fontPh: Myriad;
.ph(@colorPh, @fontPh);

.grey-line{
  height: 1px;
  width: 100%;
  background: #dfdfdf;
  margin: 0 0 30px 0;
}
.js-open-text-btn{
  font-family: Myriad;
  font-weight: 700;
  font-size: 13px;
  margin-top: 15px;
  cursor: pointer;
}
#information-more{
  font-family: Myriad;
  font-weight: 700;
  font-size: 13px;
  margin-top: 15px;
  cursor: pointer;
  text-decoration: none;
  color: #000;
}
.information_text{
  font-family: Myriad Light;
  font-weight: 100;
  font-size: 14px !important;
  line-height: 20px;
  color: #aaaaaa;
  position: relative;
}
.information_text p{
  margin: 0 !important;
}
.js_hide .text-box-gradient{
  height: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+53,ffffff+100&0+0,0.8+53 */
  background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 53%, rgba(255,255,255,0.8) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 53%,rgba(255,255,255,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 53%,rgba(255,255,255,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ccffffff',GradientType=0 ); /* IE6-9 */
}
.title{
  &__text{
    position: relative;
    z-index: 1;
    display: block;
    line-height: 30px;
    margin-top: -12px;
    text-shadow: -1px -1px 3px white;
  }
  &__name{
    font-size: 13px;
    margin-top: 7px;
    display: block;
  }
}
.p-text{
  &__gradient{
    height: 20px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+53,ffffff+100&0+0,0.8+53 */
background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(255,255,255,0.8) 53%, rgba(255,255,255,0.8) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 53%,rgba(255,255,255,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.8) 53%,rgba(255,255,255,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ccffffff',GradientType=0 ); /* IE6-9 */
  }
}
.img-wrap{
  display: flex;
  position: relative;
}
.middle_area__post:nth-child(1) .img-wrap{
    align-items: flex-start;
}
.middle_area__post:nth-child(2) .img-wrap{
    align-items: flex-end;
}
.middle_area__post:nth-child(3) .img-wrap{
    align-items: center;
}

#search_block_top {
  padding-top: 2px;
  margin-right: 10px;
  display: flex;
  justify-content: flex-end;
  width: 17%;
  position: relative;
  max-width: 180px;
}
 #search_block_top .srch{
  font-size: 15px;
    color: #aaaaaa;
    text-decoration: none;
    transition: color .3s ease-in-out;
    cursor: pointer;
    margin-right: 5px;
 }
 #search_block_top .srch:hover{
      transition: color .3s ease-in-out;
      color: #363636;
    }
  #search_block_top #searchbox {
    width: 0.1%;
  border-bottom: 1px solid #acacac;
top: -3px;}
#search_block_top .focus-link{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#search_block_top.open{
  transition: width .3s ease-in-out;
  width: 90%;
}
#search_block_top.open #searchbox{
  transition: width .3s ease-in-out;
  width: 90%;
}
  #search_block_top .btn.button-search {
    background: #333;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    color: #fff;
    width: 50px;
    text-align: center;
    padding: 10px 0 11px 0; }
    #search_block_top .btn.button-search span {
      display: none; }
    #search_block_top .btn.button-search:before {
      content: "\f002";
      display: block;
      font-family: "FontAwesome";
      font-size: 17px;
      width: 100%;
      text-align: center; }
    #search_block_top .btn.button-search:hover {
      color: #6f6f6f; }
#search_block_top .btn.button-search-top {
  position: absolute;
  top: 2px;
  right: -50px;
  border: none;
  color: #aaaaaa;
  font-size: 15px;
  font-family: Myriad;
  background: none;
  cursor: pointer;
  width: 50px;
  text-align: center;
  padding: 2px 0 11px 0;
  transition: color 0.3s ease-in-out 0s;
}

@-moz-document url-prefix() {
  #search_block_top .btn.button-search-top {
    padding: 1px 0 11px 0;
  }
}
#search_block_top .btn.button-search-top:hover {
  color:#363636;
  transition: color 0.3s ease-in-out 0s;
}

#search_block_top #search_query_top {
    display: inline;
    padding: 0;
    height: 15px;
    margin-right: 1px;
    border: 0;
    font-size: 15px;
    font-family: Myriad;
    background: transparent;
  }
   #search_block_top #searchbox input{
    width: 95%;
   }
   #search_block_top #searchbox input:focus {
    border: 0 !important;
    outline: 0;
  }
   #search_block_top #searchbox input:active {
    border: 0 !important;
    outline: 0;
  }
  #search_block_top #search_query_top:focus {
    border: 0;
    outline: 0;
  }
  #search_block_top #search_query_top:active {
    border: 0;
    outline: 0;
  }

.ac_results {
  background: #fff;
  border: 0 !important;
  min-width: 112px;
  margin-top: 1px !important; }
  .ac_results li {
    padding: 0 10px;
    font-weight: normal;
    color: #686666;
    font-size: 13px;
    line-height: 22px; }
    .ac_results li.ac_odd {
      background: #fff; }
    .ac_results li:hover, .ac_results li.ac_over {
      background: #fbfbfb; }

form#searchbox {
  position: relative;
  right:35px;}
  form#searchbox label {
    color: #333; }
  form#searchbox input#search_query_block {
    margin-right: 10px;
    max-width: 222px;
    margin-bottom: 10px;
    display: inline-block;
    float: left; }
  form#searchbox .button.button-small {
    float: left; }
    form#searchbox .button.button-small i {
      margin-right: 0; }

/*# sourceMappingURL=blocksearch.css.map */


#search_block_top2 {
  padding-top: 7px;
  display: flex;
  width: 17%;
  position: relative;
}
 #search_block_top2 .srch{
  font-size: 15px;
    color: #aaaaaa;
    text-decoration: none;
    transition: color .3s ease-in-out;
    cursor: pointer;
    margin-right: 5px;
 }
 #search_block_top2 .srch:hover{
      transition: color .3s ease-in-out;
      color: #363636;
    }
  #search_block_top2 #searchbox2 {
    width: 0.1%;
  border-bottom: 1px solid #acacac;
top: -3px;}
#search_block_top2 .focus-link{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#search_block_top2.open{
  transition: width .3s ease-in-out;
  width: 55%;
}
#search_block_top2.open #searchbox2{
  transition: width .3s ease-in-out;
  width: 55%;
}
  #search_block_top2 .btn.button-search {
    background: #333;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    color: #fff;
    width: 50px;
    text-align: center;
    padding: 10px 0 11px 0; }
    #search_block_top2 .btn.button-search span {
      display: none; }
    #search_block_top2 .btn.button-search:before {
      content: "\f002";
      display: block;
      font-family: "FontAwesome";
      font-size: 17px;
      width: 100%;
      text-align: center; }
    #search_block_top2 .btn.button-search:hover {
      color: #6f6f6f; }
  #search_block_top2 #search_query_top2 {
    display: inline;
    padding: 0;
    height: 15px;
    margin-right: 1px;
    border: 0;
    font-size: 15px;
    font-family: Myriad;
    background: transparent;
  }
   #search_block_top2 #searchbox2 input{
    width: 100%;
   }
   #search_block_top2 #searchbox2 input:focus {
    border: 0 !important;
    outline: 0;
  }
   #search_block_top2 #searchbox2 input:active {
    border: 0 !important;
    outline: 0;
  }
  #search_block_top2 #search_query_top2:focus {
    border: 0;
    outline: 0;
  }
  #search_block_top2 #search_query_top2:active {
    border: 0;
    outline: 0;
  }

.ac_results {
  background: #fff;
  border: 0 !important;
  border-top: 1px solid #aaa !important;
  min-width: 175px;
  margin-top: 0px !important;
  box-shadow: 0px 5px 4.6px 0.4px rgba(0, 0, 0, 0.11);
}
  .ac_results li {
    padding: 9px 20px;
    font-weight: normal;
    color: #656565;
    font-size: 17px;
    line-height: 1;
    cursor: pointer;
  }
    .ac_results li.ac_odd {
      background: #fff; }
    .ac_results li:hover, .ac_results li.ac_over {
      background: #fbfbfb; }

form#searchbox2 {
  position: relative; }
  form#searchbox2 label {
    color: #333; }
  form#searchbox2 input#search_query_block2 {
    margin-right: 10px;
    max-width: 222px;
    margin-bottom: 10px;
    display: inline-block;
    float: left; }
  form#searchbox2 .button.button-small {
    float: left; }
    form#searchbox2 .button.button-small i {
      margin-right: 0; }

/*# sourceMappingURL=blocksearch.css.map */

@media (max-width: 1485px){
  .header .min_width_head{
    width: 60%;
  }
  .middle_area{
    &__post{
      margin-bottom: 40px;
    }
  }
  .post{
    &__title{
      padding-left: 30px;
    }
  }
}
@media (max-width: 1365px){
  .header .min_width_head{
    margin: 0;
    width: 70%;
  }
}
.footer_min_width{
  max-width: 1600px;
  min-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 1385px){
  .post__brand{
      font-size: 12px;
      width: 50%;
      padding: 20px 0;
      letter-spacing: 1px;
    }
}
@media (max-width: 1600px){
  .header_min_width{
    padding: 0 15px;
  }
  .wrapp_index_page{
    padding: 5px 15px;
  }
  .footer_min_width{
    padding: 0 15px;
  }
  .menu-block{
    padding-right: 15px;
  }
}

.dd_menu__image_holder{
  display: block;
  float: left;
  vertical-align: middle;
  height: 229px;
  overflow: hidden;
  .dropdown_menu__image_link{
    //display: block;
    //position: relative;
    //padding: 0 !important;
  }
  //.dropdown_menu__image_text{
  //  position: absolute;
  //  top: 50%;
  //  left: 0;
  //  right: 0;
  //  transform: translateY(-50%);
  //  text-align: center;
  //
  //  font-size: 34px;
  //  font-family: 'MuseoSansCyrl', 'Myriad', Arial;
  //  font-weight: 700;
  //  color: #131313;
  //  text-transform: uppercase;
  //  line-height: 1.2;
  //}
  .dropdown_menu__image{
    vertical-align: middle;
  }
}
.container {
  width: 1000px;
  margin: 0 auto;
  &.pt155 {
    padding-top: 155px;
    padding-bottom: 20px;
  }
  &.big {
    width: 100%;
  }
}
.main_content {
  padding-bottom: 20px;
  padding-top: 215px;

  //min_width
  max-width: 1600px;
  min-width: 1000px;
  margin: 0 auto;
  position: relative;

  &.page404 {
    text-align: center;
    h1 {
      font-size: 64px;
      margin-bottom: 16px;
    }
    .text404 {
      font-size: 40px;
      margin-bottom: 30px;
      a {
        color: #363636;
        border-bottom: 1px solid;
        text-decoration: none;
        &:hover {
          border-bottom: none;
        }
      }
    }
  }
  &.list {
    width: 100%;
  }
  //  transition: .3s linear;
  .clearfix;
  &.fixed {
    padding-top: 155px;
  }
  &.fixed2 {
    padding-top: 385px;
  }
  .choose_gender_container {
    .choose_gender {
      float: left;
      height: 477px;
      margin-bottom: 20px;
      padding: 15px 2px 2px;
      text-decoration: none;
      width: 490px;
      &:hover {
        border: 2px solid #e9e9e9;
        padding: 13px 0 0;
      }
      &:first-child {
        margin-right: 20px;
      }
      .title {
        font-size: 63px;
        color: #636363;
        line-height: 50px;
        text-transform: uppercase;
        text-align: center;
      }
      .img_container {
        height: 410px;
        width: 485px;
      }
        &.female {
        .img_container {
          background: url("../img/main_page_content/ladies.png") no-repeat;
        }
      }
      &.male {
        .img_container {
          background: url("../img/main_page_content/man.png") no-repeat;
        }
      }
    }
  }
  .find_pair {
    display: block;
    text-decoration: none;
    position: relative;
    //background: url("../img/main_page_content/find_pair.png") no-repeat;
    //height: 305px;
    max-height: 500px;
    color: #ffffff;
    overflow: hidden;
    & > *{vertical-align: middle;}
    &:hover {
      outline: 2px solid #e9e9e9;
    }
  }
  .theme-default .nivoSlider{
    margin-bottom: 1% !important;}
  .big_text {
    font-family: Myriad;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 5px;
    position: absolute;
    right: 22px;
    text-transform: uppercase;
    top: 33px;
  }
  .small_text {
    font-family: Myriad;
    font-size: 40px;
    letter-spacing: 3px;
    position: absolute;
    right: 75px;
    top: 91px;
  }
  .nav_blocks {
    float: left;
    //height: 270px;
    max-height: 381px;
    //width: 490px;
    width: 49.5%;
    color: #ffffff;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    & > *{vertical-align: middle;}
    &:hover {
      outline: 2px solid #e9e9e9;
    }
    &.first {
      margin-right: 1%;
      //background: url("../img/main_page_content/nav_block1.png") no-repeat;
      .title {
        font-family: Myriad;
        font-size: 52px;
        font-weight: bold;
        left: 30px;
        letter-spacing: 2px;
        position: absolute;
        text-transform: uppercase;
        top: 21px;
      }
    }
    &.second {
      //background: url("../img/main_page_content/nav_block2.png") no-repeat;
      .title {
        bottom: 12px;
        font-family: Myriad;
        font-size: 49px;
        font-weight: bold;
        left: 17px;
        letter-spacing: 2px;
        position: absolute;
        text-transform: uppercase;
      }
    }
  }
  .find_pair {
    //margin-bottom: 20px;
    margin-bottom: 1%;
  }
  .item_list {
    padding-top: 40px;
    .no_content {
      width: 1000px;
      margin: 0 auto;
      padding-bottom: 40px;
    }
    .alert{
      padding-left: 45px;
      padding-right: 45px;
      margin-bottom: 40px;
    }
    .items {
      display: flex;
      -webkit-display: flex;
      display: -webkit-flex;
      flex-wrap: wrap;
      justify-content: space-around;
      -webkit-flex-wrap: wrap;
      -webkit-justify-content: space-around;
      margin-left: auto;
      margin-right: auto;
      padding: 0 20px;
      li {
        max-width: 310px;
      }
      .product-item {
        position: relative;
        margin-bottom: 105px;
        background: #fff;
        .product-item_list {
          display: none;
        }
        &:hover {
          outline: 1px solid #ececec;
        }
      }
      .item {
        display: inline-block;
        min-width: 100%;
        position: relative;
        text-align: center;
        vertical-align: baseline;
        width: 30%;
        padding-left: 1px;
        padding-bottom: 20px;
        text-decoration: none;
        color: #363636;
        img {
          margin-bottom: 15px;
          max-width: 100%;
	  padding: 0 20px 20px 20px;
        }
      }
      .item_price {
        display: block;
      }
      .name {
        display: block;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 8px;
        line-height: 1.3;
        //word-wrap: break-word;
      }
      .price {
        display: inline-block;
        margin-right: 10px;
      }
      .old_price {
        display: inline-block;
        color: #a1a1a1;
        text-decoration: line-through;
      }
      .discount-percentage {
        //position: absolute;
        //top: 10px;
        //left: 10px;
        border: 0;
        height: 25px;
        width: 40px;
        line-height: 26px;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 700;
        color: #fff;
        background: #86af91;
        padding: 0;
        margin-left: 10px;
        text-align: center;
        display: inline-block;
        //-moz-transform: rotate(45deg);
        //-webkit-transform: rotate(45deg);
        //-o-transform: rotate(45deg);
        //-ms-transform: rotate(45deg);
        //transform: rotate(45deg);

        span {
          //-moz-transform: rotate(-45deg);
          //-webkit-transform: rotate(-45deg);
          //-o-transform: rotate(-45deg);
          //-ms-transform: rotate(-45deg);
          //transform: rotate(-45deg);
          display: inline-block;
        }
      }
    }
  }
  .instagram_title{
    margin-top: 30px;
    margin-bottom: 30px;
    &>*{
      font-size: 24px;
    }
    .fleft{
      line-height: 31px;
    }
    .instagram{
      &:before{
        content: "\f16d";
        display: inline-block;
        font-family: "FontAwesome";
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
    .btn{
      display: inline-block;
      text-align: center;
      font-size: 18px;
      background: none;
      padding: 6px 12px;
      color: #464646;
      border: 1px solid #464646;
      border-radius: 3px;
      cursor: pointer;
      text-decoration: none;
      transition: all .3s ease;

      &:hover{
        text-decoration: none;
        background: #464646;
        color: #fff;
      }
    }
  }
  .instagram_list {
    font-size: 0;
    text-align: justify;
    &:after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 0;
      vertical-align: top;
    }
    .instagram_list__point{
      display: inline-block;
      vertical-align: top;
      width: 32%;
      margin: 0 0 2%;
      .instagram_list__img {
        width: 100%;
        height: auto;
        vertical-align: middle;
      }
    }
  }
  .pager {
    margin: -22px 0 80px;
    text-align: center;
    .pager_list {
      display: inline-block;
      li {
        &.dots {
          &:hover, &.active {
            outline:none;
          }
        }
        display: inline-block;
        height: 39px;
        line-height: 39px;
        vertical-align: middle;
        width: 39px;
        a, span {
          height: 39px;
          width: 39px;
          font-size: 20px;
          display: inline-block;
          text-decoration: none;
          color: #363636;
        }
        &:hover, &.active {
          outline:1px solid #707070;
        }
      }
    }
  }
  h1 {
    font-size: 34px;
    margin-bottom: 20px;
    line-height: 40px;
  }
  .bread_crumbs {
    margin-bottom: 15px;
    li {
      display: inline-block;
    }
    a,span,li {
      color: #9b9b9b;
      font-size: 16px;
      text-decoration: underline;
      position: relative;
      padding-left: 20px;
      &:before {
        content: "→";
        position: absolute;
        display: inline-block;
        left: 2px;
      }
      &:hover {
        text-decoration: none;
      }
      &:first-child {
        padding-left: 0;
        &:before {
          display: none;
        }
      }
    }
    span, li {
      text-decoration: none;
    }
  }
  .top_content {
    padding-left: 45px;
  }
  .big_img {
    padding: 0 45px;
    .temp_img {
      height: 280px;
      width: 100%;
      background: url("../img/main_page_content/temp_big_img.png") center center;
      background-size: cover;
      border: 1px solid #e9e9e9;
    }
  }
  .filters {
    background: #ffffff none repeat scroll 0 0;
    min-height: 75px;
    position: relative;
    width: 100%;
    .expand_filter_btn {
      height: 36px;
      left: -30px;
      position: absolute;
      top: 0;
      width: 20px;
      cursor: pointer;
      transition:.3s linear;
      z-index: 2;
      .icon {
        stroke: #363636;
      }
      &.close {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
      }
    }
    .filters_wrapper {
      width: 100%;
      position: absolute;
      //top: -73px;
      top: -25px;
      left: 0;
      z-index: 2;
      padding: 6px 0;
      background: #ffffff none repeat scroll 0 0;
      border-bottom: 1px solid #e9e9e9;

      &__line{
        position: absolute;
        top: 100%;
        border-bottom: 1px solid #e9e9e9;
      }

      &.fixed {
        position: fixed;
        top: 47px;
        .filters_wrapper__line{
          display: none;
        }
      }

    }
    .filter_list {
      > .title {
        float: none;
        line-height: 30px;
        margin-right: 7px;
      }
    }
    .table_exp {
      background: #ffffff;
      position: relative;
      z-index: 1;
      padding-top: 8px;
      margin-left: -17px;
    }
    .filter_block {
      float: left;
      .empty_filter {
        float: left;
        margin-right: 5px;
        padding: 9px;
        cursor: pointer;
        color: #a1a1a1;
      }
      .filter_name {
        float: left;
        margin-right: 5px;
        padding: 9px;
        outline: 1px solid #cccccc;
        cursor: pointer;

        &.price_filt {
          position: absolute;
          right: 0;
          &:hover {
            .filt_item {
              text-decoration: none;
              color: #363636;
              cursor: pointer;
            }
          }
        }
        &:hover {
          .filt_item {
            text-decoration: line-through;
            color: #a1a1a1;
            cursor: pointer;
          }
        }
      }
      .filter_items {
        display: inline-block;
      }
    }
  }
  .clean_filter {
    color: #adadad;
    float: right;
    margin-top: 13px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .filter_wrap {
    float: left;
  }
  .filter_exp {
//    float: left;
    width: 200px;
    max-height: 300px;
    &.size {
      width: 135px;
    }
    &.title {
      margin-bottom: 30px;
      padding-left: 17px;
      font-family: Myriad,arial, sans-serif;
    }
  }
  .filter_exp_title {
    float: left;
    margin-bottom: 30px;
    width: 100%;
  }
  .filter_options {
    padding-left: 10px;
    padding-top: 10px;
    .item {
      padding: 7px;
      cursor: pointer;
      &:hover, &.active {
        outline: 1px solid #707070;
      }
    }
    li {
      margin-bottom: 24px;
    }
  }
  .filters_exp {
    &.js_list_over {
      max-height: 475px;
    }
    > .title {
      float: left;
      line-height: 35px;
      margin-right: 7px;
      cursor: pointer;
    }
  }
  &.checkout {
    padding-bottom: 0;
    .error_msg {
      display: none;
      width: 100%;
      font-size: 14px;
      padding-left: 5px;
      color: #e84428;
      text-align: right;
    }
    .wrong {
      input,
      select,
      textarea,
      .jq-selectbox__select {
        border: 1px solid #e84428 !important;
      }
      .error_msg {
        display: block !important;
      }
    }
    &.thx {
      .delete_item {
        display: none;
      }
      .right_content {
        h1 {
          color: #959595;
        }
        .auth_descr {
          color: black;
          line-height: 20px;
          padding: 90px 0;
        }
      }
    }
    .thx_text {
      font-size: 18px;
    }
    .ordernav {
      //margin-top: -25px;
      margin-bottom: 20px;
    }
    .profile_nav {
      width: 100%;
      margin-left: -20px;
      margin-bottom: 30px;
      .profile_nav_link {
        text-decoration: none;
        display: inline-block;
        padding: 11px 20px;
        color: #363636;
        font-size: 18px;
        cursor: pointer;
        .underline {
          display: block;
          height: 1px;
          width: 100%;
          background: #707070;
        }
        &:last-child {
          margin-right: 0;
        }
        &:hover, &.active {
          outline: 1px solid #707070;
          .underline {
            background: #fff;
          }
        }
      }
    }
    .left_content {
      width: 630px;
      float: left;
      .left_content__title {
        text-align: center;
      }
    }
    .right_content {
      width: 370px;
      float: right;
      .right_content__title {
        text-align: center;
      }
      .history_link {
        text-align: center;
        margin-top: 10px;
        a {
          color: #363636;
          text-decoration: none;
          font-size: 14px;
        }
      }
	.auth_descr {
		color: black;
		line-height: 20px;
		padding: 90px 0;
	}

      .place_order_ff {
        position: relative;
        margin-bottom: 25px;
      }
      .place_order_ff  .opc-spinner {
        position: absolute;
        left: 0;
        right: 0;
      }


      .order_list {
        border: 1px solid #e9e9e9;
        .order_items {
          .item {
            position: relative;
            display: flex;
            align-items: center;
            padding: 20px;
            border-bottom: 1px solid #e9e9e9;
            font-size: 0;
            &.errorr {
              outline: 1px solid #e84428!important;
              .delete_item {
                fill: #e84428!important;
              }
            }
            .delete_item {
              height: 11px;
              position: absolute;
              right: 20px;
              top: 23px;
              width: 11px;
              fill: #616161;
              cursor: pointer;
              transition: .2s linear;
              &:hover {
                transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                fill: #363636
              }
            }
            .item_img {
              height: 90px;
              width: 90px;
              padding-right: 10px;
              text-align: center;
              img {
                max-width: 100%;
                height: auto;
              }
            }
            .item_descr {
              font-size: 16px;
              .title {
                a {
                  display: inline-block;
                  color: #363636;
                  text-decoration: none;
                }
              }
              div {
                line-height: 18px;
                margin-bottom: 5px;
                width:155px;
              }
              .size {
                margin-bottom: 14px;
              }
            }
            &:hover {
              outline: 1px solid #acacac;
            }
          }
        }
        .discount {
          padding: 20px;
          position: relative;
          .text {
            margin-bottom: 10px;
          }
          input {
            display: inline-block;
            width: 135px;
            height: 30px;
            padding-left: 7px;
            padding-right: 7px;
            font-size: 12px;
            color: #363636;
            border: 1px solid #acacac;
          }
        }
        .discount_used {
          padding: 13px 20px;
          .big_title {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 6px;
          }
          .discount_percent {
            font-size: 20px;
            margin-bottom: 13px;
          }
          .cancel_discount {
            display: inline-block;
            border-bottom: 1px dotted #363636;
            height: 18px;
            cursor: pointer;
            &:hover {
              border-bottom: none;
            }
          }
        }
	      .discount_button {
		      display: inline-block;
		      float: right;
		      margin-top: 4px;
		      padding: 2px 6px;
		      border: 0 none;
		      font-size: 13px;
		      color: #fff;
		      background: #5bb1e7;
		      border-radius: 3px;
		      cursor: pointer;
		      &.visible {
			      display: block;
		      }
	      }
        .total {
          padding: 10px 20px 20px;
          .price_text {
            width: 100%;
            margin-bottom: 9px;
            &.to_pay {
              margin-top: 25px;
              .price_title,.price {
                font-size: 22px;
                font-weight: bold;
              }
            }
            .price_title {
              float: left;
            }
            .price {
              float: right;
            }
          }
        }
      }
    }
  }
  &.profile {
    padding-bottom: 90px;
    h1 {
      float: left;
      margin-bottom: 30px;
    }
    .carvari_card {
      width: 490px;
      height: 300px;
      border-radius: 15px;
      margin: 0 auto 20px;
      box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.35);
      padding: 0 15px;
      text-align: center;
      .card_number{
        font-weight: bold;
        font-size: 36px;
        padding-top: 70px;
      }
      .holder_name {
        font-size: 26px;
        padding-top: 50px;
      }
      .holder_phone {
        font-size: 28px;
        padding-top: 20px;
      }
      .holder_bonuses {
        font-size: 14px;
        padding-top: 15px;
        a {
          text-decoration: underline;
          color: #363636;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    .blogs_list {
      .blog_link {
        color: #363636;
        float: left;
        text-decoration: none;
        width: 490px;
        margin-bottom: 100px;
        &:nth-of-type(odd) {
          margin-right: 20px;
        }
        .img_holder {
          width: 490px;
          height: 300px;
          background-size: cover;
          margin-bottom: 18px;
        }
        .blog_text, .blog_date {
          color: #898989;
          line-height: 18px;
          margin-bottom: 10px;
          word-wrap: break-word;
        }
        .blog_title {
          font-size: 22px;
          word-wrap: break-word;
          margin-bottom: 7px;
        }
      }
    }
    .loyalty_cats {
      padding: 15px 0;
    }
    .loyalty_btn {
      text-align: center;
      padding: 10px 0;
    }
    .table-bordered {
      tbody{
        tr.alternate_item{
          td {
            border-bottom: 1px solid #ccc;
          }
        }
        tr.alternate_item:last-child{
          td {
            border: none;
          }
        }
      }
      tfoot {
        border-top: 1px solid #999;
      }
    }
    .pagination {
      margin: 0 0 10px !important;
      text-align: left;
      li {
          text-align: center;
    //    a {
    //      color: #363636;
    //    }
    //    :hover{
    //      text-decoration: none;
    //    }
      }
    }

    .logout_link {
      color: #7d7d7d;
      float: right;
      font-size: 19px;
      margin-top: 12px;
      text-decoration: none;
    }
    .profile_nav {
      width: 100%;
      margin-left: -20px;
      margin-bottom: 30px;
      .profile_nav_link {
        text-decoration: none;
        display: inline-block;
        padding: 11px 20px;
        color: #363636;
        font-size: 18px;
        margin-right: 23px;
        cursor: pointer;
        .underline {
          display: block;
          height: 1px;
          width: 100%;
          background: #707070;
        }
        &:last-child {
          margin-right: 0;
        }
        &:hover, &.active {
          outline: 1px solid #707070;
          .underline {
            display: none;
          }
        }
      }
    }
  }
  .user_info {
    width: 50%;
    float: left;
    padding-right: 20px;
    table td, table th {
      padding: 0;
    }
  }
  .tab_wrapper {
    .btn_holder {
      position: relative;
      margin-top: 50px;
      &.login {
        margin-top: 0;
        width:368px;
        margin-left: 143px;
        a {
          float: right;
          color:#363636;
          margin-top: 18px;
          &:hover {
            text-decoration: none;
          }
        }
      }
      .opc-spinner {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -30px;
      }
    }
    .tab_content {
      .order_status {
        width: 100%;
        text-align: left;
        th {
          text-align: left;
          font-weight: bold;
        }
        th, td {
          font-size: 14px;
          padding: 18px 0;
          line-height: 1.3;
          vertical-align: middle;
        }
        tbody tr {
          &:hover {
            background: #fafafa;
          }
        }
      }
      .order_points{
        width: 100%;
        text-align: left;
        th {
          text-align: left;
          font-weight: bold;
        }
        th, td {
          font-size: 14px;
          padding: 18px 0;
          line-height: 1.3;
          vertical-align: middle;
        }
        tbody tr {
          &:hover {
            background: #fafafa;
          }
        }
      }
      .input_block,
      .carrier_block {
        margin-bottom: 20px;
        font-size: 0;
        & > * {
          font-size: 18px;
        }
        label,
        .carrier_block__name {
          display: inline-block;
          width: 143px;
          vertical-align: top;
          padding-top: 5px;
          line-height: 1.4;
        }
        input {
          display: inline-block;
          vertical-align: top;
          padding: 0 13px;
          width: 367px;
          color: #363636;
          height: 40px;
          border: 1px solid #acacac;
        }
        textarea {
          display: inline-block;
          vertical-align: top;
          padding: 5px 13px;
          width: ~"calc(100% - 110px)";
          color: #363636;
          height: 50px;
          min-height: 30px;
          border: 1px solid #acacac;
          font-size: 16px;
          outline: 0;
          resize: vertical;
        }
        select,
        .carrier_block__select {
          display: inline-block;
          width: ~"calc(100% - 110px)";
        }
        input[readonly],
        textarea[readonly],
        select[readonly] {
          background-color: #e9ecef;
          color: #495057;
        }
      }
      .profile_section_title {
        font-size: 25px;
        margin: 0 0 10px;
      }
    }
    .payment {
      .label_with_check {
        display: block;
        width: 430px;
        margin-bottom: 15px;
      }
      .payment_description {
        line-height: 13px;
        padding-left: 30px;
      }
    }
    .label_with_check {
      float: left;
      width: 146px;
      line-height: 40px;
      cursor: pointer;
      label {
        cursor: pointer;
      }
      &:hover {
        .jq-radio__div {
          background: #c2c2c2 none repeat scroll 0 0;
          border-radius: 50%;
          height: 10px;
          margin: 4px 0 0 4px;
          width: 10px;
        }
      }
    }
    .post_delivery {
      .input_block {
        label {
          padding-left: 25px;
        }
      }
    }
    .radio_label {
      line-height: 27px;
      vertical-align: middle;
    }
    .post_radio {
      margin-bottom: 30px;
      width: 146px;
      label {
        cursor: pointer;
      }
      &:hover {
        .jq-radio__div {
          background: #c2c2c2 none repeat scroll 0 0;
          border-radius: 50%;
          height: 10px;
          margin: 4px 0 0 4px;
          width: 10px;
        }
      }
    }
  }
  &.trends {
    .blogs_list {
      .blog_link {
        color: #363636;
        float: left;
        text-decoration: none;
        width: 490px;
        margin-bottom: 100px;
        &:nth-of-type(odd) {
          margin-right: 20px;
        }
        .img_holder {
          width: 490px;
          height: 300px;
          background-size: cover;
          margin-bottom: 18px;
        }
        .blog_text, .blog_date {
          color: #898989;
          line-height: 18px;
          margin-bottom: 10px;
          word-wrap: break-word;
        }
        .blog_title {
          font-size: 22px;
          word-wrap: break-word;
          margin-bottom: 7px;
        }
      }
    }
    .pager {
      margin-top: 0;
    }
    h1 {
      margin-bottom: 20px;
    }
  }
}
#adv_order .checkout {
  padding-top: 0;
}

.col-offset-3 {
  margin-left: 23%;
}
.col-9 {
  width: 66%;
}
.col-4 {
  width: 38%;
}

[class^='col-'] {
  float: left;
  position: relative;
  min-height: 1px;
  //padding-left: 15px;
  padding-right: 15px;
}

.form__group {

  & .input__message {

    &--hello {
      display: block;
      font-size: 16px;
    }

    &--error {
      display: block;
      position: absolute;
      color: #e84428;
      //display: none;
      font-size: 14px;
      margin-left: 14.5%;
      vertical-align: middle;
    }

    &:not(:empty) {
      margin-bottom: 5px;
    }
  }

  &--error{
    & .form__input {
      border: 1px solid #ff5300 !important;
    }

    & .form__textarea {
      border: 1px solid #ff5300;
    }
  }
}

.input_link {
  display: inline-block;
  color: #363636;
  text-decoration: none;
}
.error_note {
  background: #fefbf1;
  font-size: 15px;
  line-height: 1.4;
  margin-bottom: 10px;
  //padding: 10px 20px;
  color: #e84428;
}

.btn_holder {
  width: 100%;
  float: left;
  margin-top: 24px;
}
.button {
  background: #5e5e5e;
  border-radius: 3px;
  border:none;
  border-bottom: 1px solid #333333;
  display: inline-block;
  color: #ffffff;
  font-size: 22px;
  text-decoration: none;
  transition: .2s linear;
  cursor: pointer;
  .light;
  &:hover {
    background: #363636;
  }
  &.small {
    padding: 0 24px;
    height: 45px;
    line-height: 45px;
  }
  &.big {
    font-size: 25px;
    height: 55px;
    line-height: 45px;
    padding: 0 24px;
  }
  &:disabled {
    background: #c2c2c2;
    border-bottom: 1px solid #adadad;
    &:hover {
      cursor: not-allowed;
      background: #c2c2c2;
      border-bottom: 1px solid #adadad;
    }
  }
  &.btn__login {
    background: none;
    font-size: 16px;
    color: rgb(54, 54, 54);
    border-bottom: none;
    height: 18px;
    cursor: pointer;
  }
}
.button2 {
  background: #90e1f4;
  border-radius: 3px;
  display: inline-block;
  color: #ffffff;
  font-size: 22px;
  text-decoration: none;
  transition: .2s linear;
  cursor: pointer;
  font-family: 'Myriad Light', Arial;
  background: rgba(75,198,198,1);
  border:none;
  box-shadow: 2px 2px 3px 0px rgba(58,173,174,1);
  &:hover {
    background: #63a9b9;
    box-shadow: 2px 2px 3px 0px #63a9b9;
  }
}
.icon {
  transition: .2s linear;
  svg {
    background: inherit;
    fill: inherit;
    height: 100%;
    vertical-align: top;
    width: 100%;
  }
}

.footer{
  background: #f5f5f5;
  padding: 20px 0;
  .footer_row,
  .footer_hr {
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    .footer_info,
    .footer_menu,
    .footer_subscribe {
      flex-grow: 1;
    }
    .footer_info {
      width: 23.7%;
    }
    .footer_subscribe {
      width: 29%;
      .footer_subscribe__form {
        padding-left: 30px;
        margin-bottom: 30px;
      }
    }
    .footer_copyright {
      font-size: 12px;
      &.footer_copyright--left {
        width: 53%;
      }
      &.footer_copyright--right {
        width: 47%;
      }
    }
  }
  .footer_row--hr {
    max-width: 960px;
    margin: 20px auto 10px auto;
    border-top: 1px solid #4e4948;
  }
  .footer_row--around {
    justify-content: space-around;
  }
  .footer_slogan {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.2;
  }
  .footer_logo {
    text-decoration: none;
    display: block;
    width: 55px;
    height: 33px;
    background: url("../img/carvari_foot_logo.svg") no-repeat;
    background-size: 180px;
    .footer_logo__brand{
      font-family: Myriad;
      letter-spacing: 3px;
      font-size: 13px;
      font-weight: 700;
      color: #656565;
      display: block;
      margin-bottom: 6px;
      padding-left: 70px;
    }
    .footer_logo__year{
      font-family: Myriad Light;
      letter-spacing: 3px;
      font-size: 13px;
      font-weight: 100;
      color: #656565;
      display: block;
      padding-left: 70px;
    }
  }
  .footer_phone {
    margin-top: 20px;
    font-size: 25px;
  }
  .footer_menu {
    .footer_menu__title {
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    .footer_menu__item {
      line-height: 1.4;
      text-decoration: none;
      color: #363636;
    }
  }
  .footer__icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &--phone{
      width: 19px;
      height: 19px;
      background-image: url('../img/icon/icon-phone.png');
    }
    &--lock{
      width: 21px;
      height: 26px;
      background-image: url('../img/icon/icon-lock.png');
      margin-right: 14px;
    }
  }

  .social_block {
    font-size: 0;
    padding-bottom: 15px;
    .social_block__item {
      display: inline-block;
      padding-right: 10px;
    }
    .social_block__images {
      width: 35px;
      svg {
        width: 35px;
        height: 35px;
        & path {
          fill: #262626;
        }
      }
      &--fb:hover path{
          fill: #4267b2;
      }
      &--inst:hover path{
        fill: #8941a7;
      }
      &--yt:hover path{
        fill: #b90f0f;
      }
    }
  }
}
.work_time {
  .work_time__item {
    font-size: 14px;
    line-height: 1.4;
  }
}
.payments {
  font-size: 16px;
  text-transform: uppercase;
  .payments_list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;
    .payments_list__item {
      height: 16px;
      padding-right: 10px;
      img {
        height: 100%;
        filter: grayscale(100%);
      }
    }
  }
}
.subscribe {
  .subscribe__title {
    display: block;
    margin-bottom: 5px;
    font-size: 15px;
    line-height: 1.2;
    color: #909090;
  }
  .subscribe__input {
    display: block;
    width: auto;
    max-width: 100%;
    height: 40px;
    margin-bottom: 0;
    padding-left: 20px;
    padding-right: 20px;
    color: #b0b0b0;
    font-size: 20px;
    border: 1px solid #d8d8d8;
  }
  .subscribe__submit {
    display: block;
    width: 50%;
    padding: 10px 0;
    margin-top: 15px;
    float: left;
    border: 1px solid #999;
    background-color: #464646;
    text-align: center;
    font-size: 18px;
    line-height: 1;
    color: #ededed;
    cursor: pointer;
    transition: all 0.3s;
  }
  .subscribe__notification {
    &.error {
      color: #e84428;
    }
    &.success {
      color: #2c8013;
    }
  }
}
.copyright {
  .copyright__text {
    text-align: justify;
  }
  .copyright__author {
    float: right;
  }
}
.forforce {
  margin-top: 5px;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  a{
    width: 48px;
    height: 14px;
    margin-left: 5px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url("../img/ff_logo.svg");
    background-color: #7d7d7d;
    background-attachment: scroll;
    background-size: cover;
    display: inline-block;
    overflow: hidden;
    text-indent: -10000px;
    vertical-align: bottom;
    transition: .2s linear;
    &:hover {
      background-color: #363636;
    }
  }
}

.navigation{
  @fade-time: .4s;

  line-height: 28px;
  height: 28px;
  .light;

  a, span{
    color: #9b9b9b;
  }

  &.active{
    .follow_back{
      border-top: 1px solid;
      border-right: 1px solid;
      border-bottom: 1px solid;

      &:before{
        opacity: 1;
      }
    }
  }

  .follow_back{
    display: block;
    float: left;
    padding-right: 7px;
    margin-right: 10px;
    text-decoration: none;
    padding-left: 6px;
    margin-left: -6px;
    position: relative;
    border: 1px solid transparent;
    transition: @fade-time;

    &:before{
      position: absolute;
      content: '';
      width: 11px;
      height: 30px;
      right: 100%;
      top: -1px;
      background: url('../img/nav_back_arrow.png') top right no-repeat;
      opacity: .7;
      transition: @fade-time;
    }
  }

  &.active{
    .fade_bread_crumbs{
      //opacity: 1;
    }
  }

  .fade_bread_crumbs{
    float: left;
    //opacity: 0;
    //transition: @fade-time;

    ul li{
      float: left;
    }

    a{
      margin-right: 20px;
      position: relative;

      &:hover{
        text-decoration: none;
      }

      &:after{
        position: absolute;
        content: '';
        width: 5px;
        height: 7px;
        right: -14px;
        top: 6px;
        background: url('../img/nav_bc_arrow.png') top center no-repeat;
      }
    }

    ul li:last-child a:after{
      display: none;
    }
  }
}


.product-page{
  .order_button {
    margin-bottom: 37px;
  }
  .navigation{
    //margin-top: -25px;
    margin-top: 0;
    margin-bottom: 40px;
  }
  .this_product{
    margin-bottom: 155px;
    .left_column{
      .product_image{
        position: relative;
        margin-bottom: 70px;
        height: 530px;
        line-height: 530px;
        text-align: center;
        img{
          max-width: 660px;
          max-height: 530px;
          cursor: zoom-in;
          cursor: url('../img/icon/zoom-in.png'), auto;
        }
      }

      .product_images{
        .slider{
          .slide{
            display: inline-block;
            width: 80px;
            height: 82px;
            line-height: 80px;
            text-align: center;
            margin: 0 15px;

            a {
              transition: .2s linear;
              opacity:0.6;
              &.active{
                opacity:1;
                img{
                  border-bottom: 2px solid #5e5e5e;
                }
              }
              &:hover {
                opacity: 1;
              }
            }

            img{
              width: 100%;
              width: 80px;
              height: 80px;
              border-bottom: 2px solid transparent;
            }

            &:first-child{
              margin-left: 0px;
            }
          }
        }
      }
    }

    .right_column{
      .product_head{
        margin-bottom: 50px;

        h1{
          margin-bottom: 12px;
          font-size: 28px;
        }

        .price_block{
          .price{
            font-size: 28px;
            font-weight: bold;
            padding-right: 15px;
          }

          .old_price{
            font-size: 21px;
            text-decoration: line-through;
            color: #959595;
          }

          .discount-percentage {
            //position: absolute;
            //top: 10px;
            //left: 10px;
            border: 0;
            height: 25px;
            width: 40px;
            line-height: 26px;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 700;
            color: #fff;
            background: #86af91;
            padding: 0;
            margin-left: 10px;
            text-align: center;
            display: inline-block;

            span {
              display: inline-block;
            }
          }
        }
      }


      .sizes_block{
        margin-bottom: 12px;

        .title-md{
          margin-bottom: 12px;
        }

        ul{
          margin-left: -6px;

          li{
            float: left;
            width: 14%;

            a{
              display: inline-block;
              padding: 11px 0;
              width: 100%;
              max-width: 38px;
              text-align: center;
              margin-bottom: 7px;
              //font-size: 15px;
              color: inherit;
              text-decoration: none;
              border: 1px solid transparent;
            }

            &.active{
              a{
                border: 1px solid #707070;
              }
            }
          }
        }
      }

      #add_to_cart{
        margin-top: 16px;
      }

      .order_button{
        margin-bottom: 20px;

        .btn-lg{
//          width: 185px;
          text-align: center;
        }
      }

      .attr_block{
        .title-md{
          margin-bottom: 18px;
        }

        .attr_list{
          .row{
            margin-bottom: 19px;
            font-size: 15px;
          }
        }
      }
    }
  }

  .related_products{
    margin-bottom: 80px;

    .related_title{
      font-size: 23px;
      text-align: center;
      letter-spacing: -0.5px;
      margin-bottom: 20px;
    }

    .slider{
      .slide{
        float: left;
        text-align: center;
        width: 200px;
        border: 1px solid transparent;

        a{
          color: inherit;
          text-decoration: none;
        }

        span{
          display: inline-block;
        }

        img{
          margin: 0 auto 20px;
        }

        &:hover {
          border: 1px solid #ececec;
        }
      }
    }
  }
}
.gm-style-iw {
  > div {
    overflow: hidden!important;
    > div {
      overflow: hidden!important;
    }
  }
}
.imgs {
  height: 67px;
  //width: 350px;
  //position: absolute;
  //z-index: 11;
  //left: 225px;
  a {
    display: inline-block;
    width: 100px;
    height: 67px;
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.blogpost-page{
  .blog-date{
    color: #898989;
    margin-top: -13px;
    font-size: 15px;
    letter-spacing: -0.2px;
    margin-bottom: 16px;
  }

  .page_cover{
    img{
      width: 100%;
      margin-bottom: 30px;
    }
  }

  .related_posts{
    padding-top: 30px;
    border-top: 1px solid #e1e1e1;
    margin-bottom: 100px;

    a{
      color: inherit;
      text-decoration: none;
      display: inline-block;
      margin-left: -10px;
      padding: 10px;
      .title{
        font-size: 18px;
        margin-bottom: 7px;
      }
      .target{
        font-size: 16px;
        color: #898989;
      }
      &:hover {
        outline: 1px solid #707070;
      }
    }
    .text-right {
      a {
        margin-left: 0;
        margin-right: -10px;
      }
    }
  }

  .disquss_holder{
    margin-bottom: 100px;
  }
  .navigation {
    margin-bottom: 15px;
    //margin-top: -25px;
  }
}
#city_name {
  display: none;
 &:before {
   content: " — ";
   display: inline;
   font-size: inherit;
 }
}
.map-page{
  .map_block{
    height: 740px;
    width: 100%;
    background: #e2e2e2;
    position: relative;
    margin-bottom: 30px;

    #is_map{
      height: 740px;
      width: 100%;
    }

    .info_layer{
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 240px;
      padding: 10px;
      background: fade(#FFF, 75);

      max-height: 740px;

      .mCSB_container {
        min-height: 720px;
      }

      .city_chooser{
        .light;
        font-size: 16px;
        color: #363636;
        //padding: 10px;
        //width: 100%;
        margin-bottom: 15px;

        .jq-selectbox__select{
          width: 210px;
          background-color: #FFF;
        }
      }

      .store_block{
        border: 1px solid transparent;
        padding: 10px 15px;
        margin-bottom: 10px;
        cursor: pointer;
        transition: .3s;
        max-width: 210px;

        &:hover,
        &.active{
          border: 1px solid #363636;
        }

        .title{
          font-weight: bold;
          margin-bottom: 10px;
        }
        .info{

        }
      }
    }
  }
}


BODY{
  position: relative;
}


.grand .product_popup .popup_wrapper .popup_content IMG {
  max-height: 800px;
}

.product_popup{
  position: absolute;
  //top: 109px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FFF;
  display: none;
  z-index: 1000;

  .popup_wrapper{
    position: relative;
    margin: 0 auto;
    padding: 30px 40px 0;

    .popup_closer{
      position: absolute;
      right: 50%;
      margin-right: -495px;
      top: 10px;
      width: 21px;
      height: 21px;
      background: url('../img/popup_close.png') center center no-repeat;
      opacity: .6;
      transition: .3s;
      z-index: 5;

      &:hover{
        opacity: 1;
      }
    }

    .popup_content{
      text-align: center;
      //padding: 40px;

      IMG{
        //max-height: 600px;
        max-height: 530px;
        margin: 0 auto;
      }
    }

    .popup-slider{
      min-height: 600px;

      .slick-dots{
        left: 0;
        bottom: 5px !important;

        li{
          width: 6px;
          margin: 0 6px;
          padding: 0px;
        }

        button{
          &:before{
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 6px;
            background: #444;
            //width: 10px;
            //height: 10px;
            //border-radius: 10px;
            //background-color: black;
            //content: ' ';
          }
        }
      }
    }
  }
}
.bdate {
	width:110px;
}
.title-md{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

@-webkit-keyframes hvr-buzz-out {
  17% {
    -webkit-transform: translateX(3px) rotate(6deg);
    transform: translateX(3px) rotate(6deg);
  }

  34% {
    -webkit-transform: translateX(-3px) rotate(-6deg);
    transform: translateX(-3px) rotate(-6deg);
  }

  51% {
    -webkit-transform: translateX(2px) rotate(3deg);
    transform: translateX(2px) rotate(3deg);
  }

  68% {
    -webkit-transform: translateX(-2px) rotate(-3deg);
    transform: translateX(-2px) rotate(-3deg);
  }

  85% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

@keyframes hvr-buzz-out {
  17% {
    -webkit-transform: translateX(3px) rotate(6deg);
    transform: translateX(3px) rotate(6deg);
  }

  34% {
    -webkit-transform: translateX(-3px) rotate(-6deg);
    transform: translateX(-3px) rotate(-6deg);
  }

  51% {
    -webkit-transform: translateX(2px) rotate(3deg);
    transform: translateX(2px) rotate(3deg);
  }

  68% {
    -webkit-transform: translateX(-2px) rotate(-3deg);
    transform: translateX(-2px) rotate(-3deg);
  }

  85% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

.reminder{
  padding-top: 30px;
  text-align: center;

  .button.big{
    line-height: 55px !important;
  }
}


.cat_desc{
  .lnk_more{
    margin-top: 10px;
    display: inline-block;
  }
}


.information_block{
  color: #777;
  font-size: 16px;
  line-height: 19px;
  margin: 26px 0 0 0;

  .js_information_text_box{
    padding: 0 0 1px;
  }

  .information_text{
    overflow: hidden;

    &:after {
      content: '';
      height: 1px;
      display: block;
      margin-top: -1px;
    }
  }

  .information_more{
    margin-top: 10px;
    text-decoration: underline;
  }
}

.subscribe_popup{
  position: fixed;
  bottom: 0;
  right: ~"calc( 50% - 495px )";
  z-index: 999;

  max-width: 270px;
  //min-height: 185px;

  border: 1px solid #cdcdcd;
  padding: 15px 9px 9px;
  pointer-events: all;

  background: #fff;

  text-align: center;
  &__title{
    color: #303030;
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 5px;
  }
  &__form{}
  &__input{
    margin-bottom: 5px;
    padding: 0 10px;
    color: #303030;

    border: 1px solid #d9d9d9;
    background-color: #fff;
    width: 249px;
    height: 35px;

  }
  &__submit{
    margin-bottom: 15px;
    border: none;
    border-radius: 3px;
    background-color: #5e5e5e;
    box-shadow: 0px 1px 0px 0px #333;
    color: rgba(255,255,255,.7);
    width: 249px;
    height: 35px;
    transition: all .3s;

    cursor: pointer;

    &:hover{
      box-shadow: none;
    }
    &:active{

    }
  }
  &__notification{
    color: #303030;
    font-size: 18px;
    line-height: 1.2;
  }
  &__close{
    position: absolute;
    top: 3px;
    right: 3px;
    width: 10px;
    height: 10px;

    cursor: pointer;

    background: url("/themes/carvari-theme/img/icon/close-10x10.png") no-repeat center;
  }
}

//.branding {
//  position: relative;
//  width: 100%;
//  //padding-top: 155px;
//  padding-bottom: 80px;
//  margin-bottom: -25px;
//}
//
//.branding__brand_layer {
//  display: block;
//  position: absolute;
//  top: 0;
//  left: 0;
//  right: 0;
//  bottom: 0;
//  background-position: top center;
//  //background-size: contain;
//  background-repeat: no-repeat;
//  background-color: #FFF;
//  z-index: 1;
//}
//
//.branding__holder {
//  position: relative;
//  width: 90%;
//  margin: 0 auto;
//  max-width: 1440px;
//  min-width: 1000px;
//  background: #FFF;
//  padding: 20px;
//  z-index: 2;
//
//  .main_content {
//    width: 100%;
//  }
//
//  &&--transparent {
//    background-color: transparent !important;
//
//    .information_block {
//      padding: 20px;
//      background: #FFF;
//    }
//  }
//}



@import "carvari.less";

.ui-autocomplete{
  position: absolute !important;
  width: 180px !important;
  background-color: #fff;
  box-shadow: 0px 5px 4.6px 0.4px rgba(0, 0, 0, 0.11);
  border-top: 1px solid #aaa;
  max-height: 400px;
  overflow-y: scroll;
}
.ui-menu-item-wrapper{
  display: block;
  padding: 10px 20px;
  text-decoration: none;
  color: #656565;
  font-size: 17px;
  line-height: 1;

  &.ui-state-active{
    background-color: #fbfbfb;
  }
}
.ui-helper-hidden-accessible{
  display: none;
}

.autocompleter__name span,
.autocompleter__name
{
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;//chrome
}
.js_product_image_zoom_holder{
  display: block;
  position: relative;
  line-height: 1;
}
.js_product_zoom_holder{
  position: absolute !important;
  top: 68px;
  left: 0;
  width: 100%;
  height: 458px;
}
.js_product_zoom_holder_wrap{
  position: relative;
  opacity: 0;
  transition: opacity .3s;
}
.js_product_zoom_holder_wrap--is_visible{
  opacity: 1;
}
.js_product_zoom_holder_wrap--is_visible .js_product_zoom_holder{
  box-shadow: 0 3px 10px 3px rgba(0, 0, 0, 0.1);
  cursor: zoom-out;
  cursor: url('../img/icon/zoom-out.png'), auto;
}
.js_product_image_zoom_text{
  position: fixed;
  padding: 2px 5px;
  background-color: #f5f5f5;
  border: 1px solid #707070;
  border-radius: 3px;
  font-size: 1em;
  color: #363636;
}
.product_image__video {
  display: none;
  position:absolute;
  top: 0;
  left: 0;
  right: 10px;
  bottom: 0;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
  iframe {
    position:absolute;
    top:0;
    left:0;
    width:648px;
    height:364px;
  }
}

body{
  #bingc-phone-button,
  #bingc-phone-button:hover {
    svg.bingc-phone-button-circle circle.bingc-phone-button-circle-inside {
      fill: #f79968 !important;
    }
    div.bingc-phone-button-tooltip {
      background: #f79968 !important;
      svg.bingc-phone-button-arrow polyline {
        fill: #f79968 !important;
      }
    }
  }

  #bingc-passive > div.bingc-passive-overlay {
    background: #f79968 !important;
    color: #fff !important;
  }

  #bingc-active {
    background: #f79968 !important;
    color: #fff !important;
  }
  #bingc-active div.bingc-active-overlay div.bingc-active-content div.bingc-we-will-call-you,
  #bingc-active div.bingc-active-overlay div.bingc-active-content div.bingc-statistics,
  #bingc-active div.bingc-active-overlay div.bingc-active-content div.bingc-active-get-phone-form form.bingc-active-get-phone-form span.bingc-sample-countdown-timer,
  #bingc-active div.bingc-active-overlay div.bingc-active-content div.bingc-active-get-phone-form form.bingc-active-get-phone-form span.bingc-sample-countdown-timer span,
  #bingc-active div.bingc-active-overlay div.bingc-active-content div.bingc-we-will-call-you span,
  #bingc-passive div.bingc-passive-overlay div.bingc-passive-content div.bingc-we-will-call-you,
  #bingc-passive div.bingc-passive-overlay div.bingc-passive-content div.bingc-statistics,
  #bingc-passive div.bingc-passive-overlay div.bingc-passive-content div.bingc-phone-sample,
  #bingc-passive div.bingc-passive-overlay div.bingc-passive-content div.bingc-phone-sample span,
  #bingc-passive div.bingc-passive-overlay div.bingc-passive-content div.bingc-we-will-call-you b,
  #bingc-passive div.bingc-passive-overlay div.bingc-passive-content div.bingc-passive-get-phone-form form.bingc-passive-get-phone-form span.bingc-sample-countdown-timer span,
  #bingc-passive div.bingc-passive-overlay div.bingc-passive-content div.bingc-passive-get-phone-form form.bingc-passive-get-phone-form span.bingc-sample-countdown-timer {
    color: inherit !important;
    opacity: 1;
  }
  #bingc-active a.bingc-active-close-button svg polygon,
  #bingc-passive div.bingc-passive-overlay a.bingc-passive-close-button svg polygon {
    fill: rgb(255, 255, 255) !important;
  }
  #bingc-passive div.bingc-passive-overlay a.bingc-powered-by span.bingc-powered-by-text,
  #bingc-active a.bingc-powered-by span.bingc-powered-by-text {
    color: #f79968 !important;
  }
}

.product_description_short{
  position: relative;
  top: 25px;
  font-size: 15px;
  line-height: 1.45;
  margin-right: 10px;
}

.authentication {
  .main_content.checkout .left_content {
    padding-right: 120px;
  }
}

