.light{
  font-family: 'Myriad Light', Arial;
}

.pro{
  @font-family: 'Myriad', Arial;
}

//GRID
.row.row-full{
  //width: 1040px;
}

.row{
  //margin-left: -15px;
  //margin-right: -15px;
}

.row:before,
.row:after{
  display: table;
  line-height: 0;
  content: "";
}

.row:after{
  clear: both;
  content:'';
}

[class*='col-md-']{
  float: left;
  padding-right: 20px;
  //padding: 0 20px;
  box-sizing: content-box;

  &:last-child{
    padding-right: 0px;
  }
  &:first-child{
    padding-left: 0px;
  }
}

.r-col-width(@width){
  width: 150px*@width + 20px*(@width - 1);
}

.col-md-1{.r-col-width(1)}
.col-md-2{.r-col-width(2)}
.col-md-3{.r-col-width(3)}
.col-md-4{.r-col-width(4)}
.col-md-5{.r-col-width(5)}
.col-md-6{.r-col-width(6)}
//END GRID

//MARGINS
.m-b {margin-bottom: 10px;}
.m-b-sm {margin-bottom: 20px;}
.m-b-lg {margin-bottom: 50px;}
//END MARGINS

//POSITIONS
.inline-block{
  display: inline-block;
  vertical-align: middle;
}

.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
//END POSITIONS


.related_block{
  display: inline-block;
  //margin: 0 auto;
  text-align: center;
  width: 200px;
  margin-bottom: 10px;
  &:hover {
    outline: 1px solid #ececec;
  }

  a{
    color: inherit;
    text-decoration: none;
  }

  span{
    display: inline-block;
  }

  img{
    margin: 0 auto;
    margin-bottom: 20px;
  }
}


.is_post{
  font-size: 17px;
  line-height: 1.45;
  margin-bottom: 30px;

  img{
    margin-bottom: 20px;
  }

  p{
    margin: 5px 0 15px;
  }

  ul{
    margin: 5px 0 15px 15px;
    li{
      position: relative;
      padding-left: 10px;

      &:before{
        position: absolute;
        content: '•';
        left: 0px;
        top: 0px;
        font-size: 20px;
        line-height: 1;
      }
    }
  }

  ol{
    margin: 5px 0 15px 35px;
    list-style-type: decimal;

    li{
      position: relative;
      padding-left: 0px;
    }
  }

  H1, H2, H3, H4, H5, H6{
    margin-bottom: 20px;
  }

  H1{font-size: 30px;}
  H2{font-size: 28px;}
  H3{font-size: 26px;}
  H4{font-size: 24px;}
  H5{font-size: 22px;}
  H6{font-size: 20px;}

  table{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 16px;

    thead{
      td{
        font-weight: bold;
      }
    }

    td{
      padding: 10px;
    }
  }

  a{
    color: inherit;
    border-bottom: 1px solid;
    text-decoration: none;

    &:visited{
      color: #898989;
    }

    &:hover{
      border-bottom: 1px solid transparent;
    }
  }

  blockquote{
    margin: 5px 0 15px 30px;
    font-weight: bold;

    &:before{
      content: '«';
    }
    &:after{
      content: '»';
    }
  }

  .slider{
    margin-bottom: 17px;
    .slick-dots{
      bottom: 0px;

      li{
        width: 6px;
        margin: 0 6px;
        padding: 0px;

        &:before{
          display: none;
        }

        button{
          &:before{
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 6px;
            background: #444;
            border: 1px solid fade(#FFF, 50);
          }
        }
      }
    }
  }
}

.social_block{
  padding-bottom: 30px;

  div{
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }

  .soc{
    //display: inline-block;
    float: left;
    width: 36px;
    height: 36px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-right: 7px;
    padding: 5px;
    transition: .3s;
    //fill: #7B7B7B;
    fill: #7d7d7d;

    &:hover{
      //border: 1px solid #7B7B7B;
      fill: #363636;
    }
  }
}


.btn-lg {
  display: inline-block;
  //padding: 18px 40px 14px 45px;
  padding: 14px 40px 14px 45px;
  background: #5e5e5e;
  border-radius: 5px;
  border-bottom: 1px solid #333;
  .light;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 23px;
  line-height: 23px;
  transition: .5s;

  &.btn-outline{
    background: #FFF;
    border: 1px solid #333;
    color: inherit;

    &:hover{
      background: #FFF;
    }
  }
}