<noscript><iframe src="//www.googletagmanager.com/ns.html?id={$google_tag_manager_id}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<script>
    var google_tag_manager_id = "{if $google_tag_manager_id}{$google_tag_manager_id}{/if}";
    {literal}
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        '//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer',google_tag_manager_id);
    {/literal}
</script>
<script>
    var ecommerce_info = {if $ecommerce_info}{$ecommerce_info|json_encode}{else}''{/if};
    var ecommerce_event_type = '{$ecommerce_event_type}';
</script>