
@font-face {
  font-family: 'Myriad';
  src: url('MyriadPro-SemiExt.eot?#iefix') format('embedded-opentype'),  url('MyriadPro-SemiExt.otf')  format('opentype'),
	     url('MyriadPro-SemiExt.woff') format('woff'), url('MyriadPro-SemiExt.ttf')  format('truetype'), url('MyriadPro-SemiExt.svg#MyriadPro-SemiExt') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'Myriad Light';
    src: url('MyriadPro-LightSemiExt.eot?#iefix') format('embedded-opentype'),  url('MyriadPro-LightSemiExt.otf')  format('opentype'),
    url('MyriadPro-LightSemiExt.woff') format('woff'), url('MyriadPro-LightSemiExt.ttf')  format('truetype'), url('MyriadPro-LightSemiExt.svg#MyriadPro-LightSemiExt') format('svg');
    font-weight: normal;
    font-style: normal;
}

