.label {
    display: inline;
    padding: .2em .6em .3em;
    font-size: 100%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    /*white-space: nowrap;*/
    vertical-align: baseline;
    border-radius: 0; }
.label[href]:hover, .label[href]:focus {
    color: #fff;
    text-decoration: none;
    cursor: pointer; }
.label:empty {
    display: none; }

label.required:after {
    content: "*";
    color: red;
    font-size: 14px;
    position: relative;
    line-height: 12px; }

.label-default {
    background-color: #999999; }
.label-default[href]:hover, .label-default[href]:focus {
    background-color: gray; }

.label-primary {
    background-color: #428bca; }
.label-primary[href]:hover, .label-primary[href]:focus {
    background-color: #3071a9; }

.label-success {
    background-color: #55c65e;
    border: 1px solid #36943e; }
.label-success[href]:hover, .label-success[href]:focus {
    background-color: #3aae43; }

.label-info {
    background-color: #5192f3;
    border: 1px solid #4b80c3; }
.label-info[href]:hover, .label-info[href]:focus {
    background-color: #2174f0; }

.label-warning {
    background-color: #fe9126;
    border: 1px solid #e4752b; }
.label-warning[href]:hover, .label-warning[href]:focus {
    background-color: #f07701; }

.label-danger {
    background-color: #f3515c;
    border: 1px solid #d4323d; }
.label-danger[href]:hover, .label-danger[href]:focus {
    background-color: #f0212f; }



div.filter_exp a.item, .menu_list a, .filter_name.dynamic a {
    /*color: red;*/
    color: #363636;
    text-decoration: none;
}

#newsletter_error.error_msg {
    position: absolute;
    color: #e84428;
    font-size: 14px;
    padding-top: 5px;
}
.email_input.wrong {
    border-color: #e84428 !important;
}

.sort_item.active {
    padding: 4px;
    border: 1px solid;
}

.resume {
   .address_delivery {
	label {
	   display: block;
	   font-size: 16px;
	   margin-bottom: 7px;
	   margin-top:10px;
	}
   	select {
	   border: 1px solid #363636;
	   font-family: 'Myriad Light', Arial;
	   font-size: 14px;
	   height: 39px;
	   padding: 0 15px 0 10px;
	   width: 100%;
	}
   }
}