.transition(@duration:0.15s, @ease:ease-out) {
	-webkit-transition: all @duration @ease;
	-moz-transition: all @duration @ease;
	-o-transition: all @duration @ease;
	transition: all @duration @ease;
}
.box-sizing(@sizing: border-box) {
  -ms-box-sizing: @sizing;
  -moz-box-sizing: @sizing;
  -webkit-box-sizing: @sizing;
  box-sizing: @sizing;
}
.transform(@arguments: scale(1.2)) {
  -webkit-transform: @arguments;
  -moz-transform: @arguments;
  -o-transform: @arguments;
  -ms-transform: @arguments;
  transform: @arguments;
}
.box-shadow (@string) {
	-webkit-box-shadow: @string;
	-moz-box-shadow:    @string;
	box-shadow:         @string;
}
.text-shadow (@string) {
	-webkit-text-shadow: @string;
	-moz-text-shadow:    @string;
	text-shadow:         @string;
}
.drop-shadow (@x: 0, @y: 1px, @blur: 2px, @spread: 0, @alpha: 0.25) {
	-webkit-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	-moz-box-shadow:	@x @y @blur @spread rgba(0, 0, 0, @alpha);
	box-shadow:		@x @y @blur @spread rgba(0, 0, 0, @alpha);
}
.transform-origin (@string) {
	-webkit-transform-origin: @string;
	-moz-transform-origin: @string;
	-o-transform-origin: @string;
	-ms-transform-origin: @string;
	transform-origin: @string;
}
.perspective (@string) {
	-webkit-perspective: @string;
	-moz-perspective: @string;
	-ms-perspective: @string;
	perspective: @string;
}
.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;
}
#social_block {
    //float: left;
    //width: 50%;
    //padding: 22px 15px 0 15px;
}
#social_block ul {
	width: 200px;
  text-align: center;
margin: 0 auto  20px auto;
    //float: right;
}
#social_block ul li {
    display: inline-block !important;
    float: left;
    //width: 30px;
    margin-right: 20px;
    text-align: center; }
#social_block ul li a {
    display: inline-block;
    color: #908f8f;
    font-size: 32px; }
#social_block ul li a span {
    display: none; }
#social_block ul li a:before {
    display: inline-block;
    font-family: "FontAwesome";
    vertical-align: -5px;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
#social_block ul li a:hover {
    color: #464646; }
#social_block ul li.vk a:before {
    content: "\f189"; }
#social_block ul li.facebook a:before {
    content: "\f09a"; }
#social_block ul li.twitter a:before {
    content: "\f099"; }
#social_block ul li.rss a:before {
    content: "\f09e"; }
#social_block ul li.youtube a:before {
    content: "\f16a"; }
#social_block ul li.google-plus a:before {
    content: "\f0d5"; }
#social_block ul li.pinterest a:before {
    content: "\f0d2"; }
#social_block ul li.vimeo a:before {
    content: "\f194"; }
#social_block ul li.instagram a:before {
    content: "\f16d"; }
