
@import "general-css.less";
@import "responsive.less";
@import "general.less";
//@import "fonts/fonts.css";


body,html {
  width: 100%;
  height:100%;
  font-family: Myriad Light,arial,sans-serif;
  color: #363636;
  //min-width: 640px;
}
* {
  .box-sizing();
}
input {
  -webkit-appearance: none;
  border-radius: 0;
}
input:focus {
  border: 1px solid #7da7d9!important;
}
select {
  //-moz-appearance: none;
  //-webkit-appearance: none;
  //appearance: none;
  border-radius: 0;
}

.header {
  background: #fafafa;
  border-bottom: 1px solid #e9e9e9;
  height: 107px;
  position: fixed;
  width: 100%;
  z-index: 102;
  .menu_burger{
    bottom: 0;
    cursor: pointer;
    height: 40px;
    left: 5px;
    position: absolute;
    width: 40px;
    div {
      background: #7d7d7d none repeat scroll 0 0;
      display: block;
      height: 2px;
      left: 50%;
      margin-left: -10px;
      opacity: 1;
      position: absolute;
      transition: all 0.3s ease 0s, left 0.2s ease 0s;
      width: 20px;
    }

    div:nth-of-type(1){top: 14px;}
    div:nth-of-type(2){top: 20px;}
    div:nth-of-type(3){top: 26px;}

    &.active{
      div:nth-of-type(1){
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
      div:nth-of-type(2){
        left: 0;
        opacity: 0;
      }
      div:nth-of-type(3){
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
      div:nth-of-type(1),
      div:nth-of-type(3){
        top: 20px;
        width: 20px;
      }
    }
  }
  .menu {
    display: flex;
    justify-content: space-around;
    padding: 0 95px 0 55px;
    width: 100%;
    //text-align: justify;
    .menu_item {
      display: inline-block;
      //margin-left: 40px;
      font-size: 16px;
      &.active {
        border-bottom: 2px solid;
        padding-bottom: 9px;
      }
      .accessories_menu_item{
        display: none;
        @media (min-width: 380px) {
          display: block;
        }
      }
    }
    //&:after {
    //  content: "";
    //  display: inline-block;
    //  font-size: 1px;
    //  height: 0;
    //  width: 100%;
    //}
    .menu_item--hidden{
      @media (max-width: 767px){
        display: none;
      }
    }
  }
  .logo_holder {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 28px;
    .logo {
      display: inline-block;
      width: 127px;
      height: 17px;
      background: url("../img/carvari_logo.svg") no-repeat center center;
      background-size: cover;
      .safari &{
          width: 128px;
          height: 18px;
      }
    }
    #logo {
		display: none;
	}
  }
  .cart {
    bottom: 8px;
    color: #363636;
    font-size: 11px;
    height: 30px;
    padding-top: 15px;
    position: absolute;
    right: 14px;
    text-align: center;
    text-decoration: none;
    width: 26px;
    background: url("../img/cart_icon.svg") no-repeat;
    .icon {
      width: 100%;
      height: 100%;
      position: absolute;
      fill: #7d7d7d;
      stroke: #7d7d7d;
      left: 0;
      top: 0;
    }
  }
}

.main_content {
  padding-top: 70px;
  //&:not(.main-page){
  //  padding-top: 100px;
  //}
  .user_info {
    table td, table th {
      padding: 0;
    }
  }
  &.page404 {
    text-align: center;
    padding-bottom: 50px;
    h1 {

    }
    .text404 {
      margin-bottom: 13px;
    }
  }
  .instagram_title{
    margin-top: 30px;
    margin-bottom: 30px;
    &>*{
      font-size: 24px;
    }
    .fleft{
      line-height: 31px;
      margin-bottom: 15px;
    }
    .fleft,
    .fright{
      width: 100%;
      float: none !important;
      text-align: center;

    }
    .instagram{
      &:before{
        content: "\f16d";
        display: inline-block;
        font-family: "FontAwesome";
        font-weight: normal;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      }
    }
    .btn{
      display: inline-block;
      text-align: center;
      font-size: 18px;
      background: none;
      padding: 6px 12px;
      color: #464646;
      border: 1px solid #464646;
      border-radius: 3px;
      cursor: pointer;
      text-decoration: none;
      transition: all .3s ease;

      &:hover{
        text-decoration: none;
        background: #464646;
        color: #fff;
      }
    }
  }
  .instagram_list {
    font-size: 0;
    text-align: justify;
    padding: 0 2%;
    &:after {
      content: "";
      display: inline-block;
      width: 100%;
      height: 0;
      vertical-align: top;
    }
    .instagram_list__point{
      display: inline-block;
      vertical-align: top;
      width: 100%;
      margin: 0 0 2%;
      .instagram_list__img {
        width: 100%;
        height: auto;
        vertical-align: middle;
      }
    }
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      .instagram_list__point{
        width: 48%;
      }
    }
  }
  &.main-page {
    padding-bottom: 25px;
//    .big_link {
//      color: #363636;
//      text-decoration: none;
//      .big_img_link {
//        display: block;
//        margin-bottom: 10px;
//        padding-bottom: 96%;
//        position: relative;
//        width: 100%;
//        border-bottom: 1px solid #e8e8e8;
//        img {
//          left: 0;
//          position: absolute;
//          top: 40px;
//          width: 100%;
//        }
//      }
//      &.not_so_big {
//        .big_img_link {
//          padding-bottom: 50%;
//          border-bottom: none;
//          img {
//            top: 0;
//          }
//        }
//      }
//    }
    .main-page__single, .main-page__stage {
      .clearfix;
    }
    .img_link {
      margin-bottom: 10px;
      display: block;
      border-bottom: 1px solid #e8e8e8;
      text-decoration: none;
      position: relative;
      .big_title {
        color: #363636;
        display: block;
        font-size: 42px;
        position: relative;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        top: 22px;
        z-index: 1;
      }
      .img_container {
        text-align: center;
      }
      &.big {
        margin-bottom: 10px;
        img {
          max-width: 480px;
          width: 100%;
        }
        &:nth-child(2) {
          border-bottom: none;
        }
      }
      &.small {
        border: none;
        img {
          max-width: 100%;
          max-height: 280px;
        }
      }
    }
  }
  &.list-page {
    padding-bottom: 50px;
    padding-top: 120px;
    .big_img_link {
      display: inline-block;
      img {
        width: 100%;
      }
    }
    .filter_items {
      margin-top: 12px;
      li {
        display: inline-block;
        margin-right: 10px;
        margin-bottom: 12px;
        a {
          color: #363636;
          display: inline-block;
          font-size: 16px;
          outline: 1px solid #363636;
          padding: 5px;
          text-decoration: none;
        }
      }
    }    
    .filter_wrapper {
      background: #fff none repeat scroll 0 0;
      border-bottom: 1px solid #ebebeb;
      left: 0;
      padding: 15px 0 15px 15px;
      position: fixed;
      //top: 67px;
      top: 47px!important; //without logo
      width: 100%;
      z-index: 100;
      .filter {
        font-size: 16px;
        position: relative;
        .icon {
          height: 15px;
          margin-left: 5px;
          position: absolute;
          stroke: #707070;
          top: 1px;
          width: 10px;
        }
        &.active {
          .icon {
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
          }
        }
      }
    }

    .filter_btns_wrapper {
      background: #fff;
      border-top: 1px solid #ebebeb;
      bottom: 0;
      padding-bottom: 10px;
      padding-top: 10px;
      position: fixed;
      text-align: center;
      width: 100%;
      z-index: 100;
      display: none;
      .button {
        background: #5e5e5e none repeat scroll 0 0;
        border-bottom: 1px solid #333;
        border-radius: 5px;
        color: #fff;
        display: inline-block;
        font-family: "Myriad Light",Arial;
        font-size: 16px;
        height: 40px;
        line-height: 42px;
        padding: 0 15px;
        text-decoration: none;
      }
      .clear_link {
        color: #363636;
        display: inline-block;
        font-size: 16px;
        margin-left: 20px;
        text-decoration: none;
      }
    }
    .filter_list_wrapper {
      background: #fff;
      box-sizing: border-box;
      height: 0;
      left: 0;
      overflow-y: auto;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 99;
    }
    .filter_list {
      padding: 65px 15px 0;
      background: #fff none repeat scroll 0 0;
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 99;
      .filter_title {
        font-family: Myriad;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 16px;
        &.sizes {
          margin-bottom: 12px;
        }
      }
      hr {
        color: #ebebeb;
        left: 0;
        margin-top: -17px;
        opacity: 0.35;
        position: absolute;
        width: 100%;
      }
      ul {
        margin-bottom: 40px;
        &:last-child {
          margin-bottom: 60px;
        }
        &.sizes {
          li {
            float: left;
            margin-bottom: 0;
            a {
              display: inline-block;
              font-size: 15px;
              margin-left: 0;
              margin-right: 4px;
              outline: 1px solid #acacac;
              padding: 7px 0 4px;
              text-align: center;
              width: 38px;
              &.active {
                font-family: Myriad;
                outline: 1px solid #363636;
                font-weight: bold;
              }
            }
            &:last-child {
              a {
                margin-right: 0;
              }
            }
          }
        }
        li {
          margin-bottom: 29px;
          a {
            color: #363636;
            font-size: 16px;
            margin-left: -4px;
            padding: 4px;
            text-decoration: none;
            &.active {
              outline: 1px solid;
            }
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .item_list {
      padding-top: 30px;
      text-align: center;
      &.padded_block {
        max-width: 1024px;
      }
      ul {
        &.product-list {
          display: flex;
          -webkit-display: flex;
          display: -webkit-flex;
          flex-wrap: wrap;
          justify-content: space-around;
          -webkit-flex-wrap: wrap;
          -webkit-justify-content: space-around;
          margin-left: auto;
          margin-right: auto;
        }
        li {
          margin-bottom: 62px;
          max-width: 220px;
          &:last-child {
            margin-bottom: 42px;
          }
          a {
            color: #363636;
            display: inline-block;
            text-decoration: none;
            img {
              width: 100%;
              margin-bottom: 50px;
              max-width: 480px;
            }
            .descr {
              font-size: 16px;
              text-align: center;
              .title {
                display: block;
                font-weight: bold;
                margin-bottom: 5px;
              }
              .new_price {
                margin-right: 7px;
              }
              .old_price {
                color: #7d7d7d;
                text-decoration: line-through;
              }
            }
            .discount-percentage {
              border: 0;
              height: 25px;
              width: 40px;
              line-height: 26px;
              font-size: 16px;
              text-transform: uppercase;
              font-weight: 700;
              color: #fff;
              background: #86af91;
              padding: 0;
              margin-left: 10px;
              text-align: center;
              display: inline-block;

              span {
                display: inline-block;
              }
            }
          }
        }
      }
      .button {
        background: #5e5e5e none repeat scroll 0 0;
        border-bottom: 1px solid #333;
        border-radius: 5px;
        color: #fff;
        display: inline-block;
        font-family: "Myriad Light",Arial;
        font-size: 18px;
        height: 40px;
        line-height: 42px;
        padding: 0 15px;
        text-decoration: none;
      }
    }

    #pagination_next_bottom{
      max-width: 100%;
    }

  }
  .profile_nav {
    margin-bottom: 28px;
    text-align: center;
    padding-bottom: 5px;
    .profile_nav_link_wrap {
      display: inline-block;
    }
    .profile_nav_link {
      display: inline-block;
      font-size: 14px;
      padding: 13px 11px;
      &.active {
        .light;
        font-weight: bold;
        outline: 1px solid;
      }
    }
  }

  &.checkout-page {
    //padding-bottom: 40px;
    .btn_holder__place_order_ff {
      text-align: center;
    }
    .order_login_holder {
      .btn__login {
        background: #48c6c6;
        border: none;
      }
    }
    .place_order_ff {
      font-size: 25px;
      height: 55px;
      line-height: 50px;
      padding: 0 24px;
      margin-bottom: 25px;
      background: #48c6c6;
      border-bottom: none;
    }
    .ff_payparts {
      max-width: 300px;
    }
    .ff_payparts_cost {
      justify-content: space-between;
      .ff_payparts_count__select {
        font-weight: normal;
      }
    }
    .error_msg {
      color: #e84428;
      display: none;
      font-size: 14px;
      padding-top: 5px;
    }
    .wrong {
      input,
      select,
      textarea {
        border: 1px solid #e84428 !important;
      }
      .error_msg {
        display: block;
      }
    }
    .loyalty_cats {
      padding: 15px 0;
    }
    table{
      margin-bottom: 20px;
      width: 100%;
      .select_wrapper {
        width: 100%;
      }
    //  font-size: 12px;
    }
    .opc-divider .opc-form-group {
      margin-bottom: 10px;
    }
    .order_list {
      border-top: 1px solid #e1e1e1;
      .order_items {
        li {
          &:first-child {
            //border-top: 1px solid #e1e1e1;
          }
        }
        .item {
          position: relative;
          //border-bottom: 1px solid #e1e1e1;
          &:before{
            content: '';
            position: absolute;
            bottom: 0px;
            left: -15px;
            right: -15px;
            border-bottom: 1px solid #e1e1e1;
          }

          .delete_item {
            height: 12px;
            position: absolute;
            right: -3px;
            top: 13px;
            width: 12px;
          }

          .item_descr {
            //float: left;
            font-size: 14px;
            padding: 15px 0;
            padding-left: 145px;
            .title {
              margin-bottom: 7px;
              a {
                color: #363636;
                font-size: 14px;
                text-decoration: none;
                display: inline-block;
                margin-right: 15px;
              }
            }
            .code {
              margin-bottom: 7px;
            }
            .size {
              margin-bottom: 16px;
            }
          }
          .item_img {
            float: left;
            padding: 12px 0;
            text-align: center;
            width: 145px;

            img{
              width: 120px;
            }
          }
        }
      }
    }
    .discount {
      padding-top: 15px;
      position: relative;
      margin-bottom: 20px;
      .text {
        font-size: 14px;
        margin-bottom: 6px;
      }
      .discount_button {
        display: inline-block;
        float: right;
        width: 100px;
        padding: 0 5px;
        line-height: 40px;
        font-weight: 700;
        color: #fff;
        text-align: center;
        cursor: pointer;
        background: #48c6c6;
      }
      input {
        border: 1px solid #363636;
        .light;
        font-size: 14px;
        height: 40px;
        padding: 0 40px 0 12px;
        width: ~'calc(100% - 100px)';
      }
    }
    .discount_used {
      margin: 10px 0;
      .cancel_discount span {
        border-bottom: 1px dotted #363636;
      }
    }

    .total {
      font-size: 14px;
      margin-bottom: 40px;
      .price_text {
        margin-bottom: 9px;
        .price_title {
          float: left;
        }
        .price {
          float: right;
        }
        &.to_pay {
          .pro;
          font-size: 19px;
          margin-top: 19px;
        }
      }
    }

    .tab_wrapper {
      .tab_content {
        .input_block {
          label {
            display: inline-block;
            font-size: 16px;
            margin-bottom: 7px;
          }
          input {
            border: 1px solid #363636;
            .light;
            font-size: 14px;
            height: 39px;
            padding: 0 15px;
            width: 100%;
          }
          &.wrong {
            input {
              border: 1px solid #e84428;
            }
            .error_msg {
              display: inline-block;
            }
          }
          .error_msg {
            color: #e84428;
            display: none;
            margin-top: 5px;
            font-size: 14px;
          }
        }
        .login {
          .remind_pass {
            color: #363636;
            display: inline-block;
            font-size: 16px;
            margin-left: 20px;
            text-decoration: none;
          }
        }
        .payment_description {
          color: #949494;
          font-size: 14px;
          padding-left: 23px;
          padding-top: 5px;
          margin-bottom: 30px;
        }
        h2 {
          margin: 40px 0 25px;
        }
        .label_with_check {
          margin-bottom: 15px;
          .radio_label {
            font-size: 16px;
            vertical-align: middle;
          }
        }
      }
      .btn_holder {
        margin-top: 62px;
        text-align: center;
        margin-bottom: 25px;
      }
    }
    h3 {
      font-size: 25px;
      margin-left: -10px;
      margin-right: -10px;
      margin-bottom: 25px;
      text-align: center;
    }
  }
  &.proof-page {
    text-align: center;
    padding-bottom: 50px;
    padding-top: 100px;
    .scss_text {
      line-height: 1.25;
      margin: 15px 0;
    }
    .text {
      font-size: 14px;
      line-height: 1.25;
      text-align: center;
      margin-bottom: 50px;
    }
    .btn_holder {
      text-align: center;
      margin-bottom: 57px;
    }
    .history_link {
      color: #363636;
      font-size: 14px;
      text-decoration: none;
    }
  }
  .contacts_left {
    margin: 10px 14px;
  }
  .contacts_title {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 20px;
    color: #303030;
    margin-top: 4px;
  }
  .contacts_address{
    line-height: 20px;
  }
  .contacts_text {
    font-size: 18px;
    .contacts_link {
      display: block;
      color: #aaa;
      margin-bottom: 4px;
      text-decoration: none;
    }
  }

}
.icon {
  svg {
    background: inherit;
    fill: inherit;
    height: 100%;
    vertical-align: top;
    width: 100%;
  }
}
.dropdown_menu_wrapper {
  background: #fff;
  box-sizing: border-box;
  height: 0;
  left: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 101;
  .dd_menu__image_holder{
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    padding: 0 0 29px;
    text-align: center;
    .dropdown_menu__image_link{
      display: inline-block;
    }
    .dropdown_menu__image{
      width: 100%;
      height: auto;
      vertical-align: middle;
    }
  }
}
.page_index .dropdown_menu {
  padding: 107px 15px 0;
}
.dropdown_menu {
  padding: 50px 15px 0;
  background: #fff none repeat scroll 0 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 99;
  overflow-y: auto;
  ul {
    //display: flex;
    //flex-wrap: wrap;
    //justify-content: space-between;
      padding-top: 14px;
      padding-bottom: 14px;
    li {
      //margin-bottom: 29px;
      &.accessories_menu_item{
        display: none;
        @media (max-width: 767px) {
          display: block;
        }
        .accessories_dop_menu{
          display: none;
          //margin-top: 19px;
          padding-left: 10px;
          //.accessories_dop_menu__point{
          //  margin-bottom: 19px;
          //}
        }
          &>a{
              position: relative;

              &:after{
                  content: '';
                  display: block;
                  position: absolute;
                  right: 0;
                  top: 50%;
                  margin-top: -2px;
                  width: 0;
                  height: 0;
                  border-left: 4px solid transparent;
                  border-right: 4px solid transparent;
                  border-top: 4px solid #7d7d7d;
                  transform: rotate(90deg);
                  transition: transform .3s;
              }

              &.accessories_menu_item_link--open{
                  &:after{
                      transform: rotate(0deg);
                  }
              }
          }
      }
        a {
            position: relative;
            display: inline-flex;
            color: #363636;
            font-size: 16px;
            text-decoration: none;
            padding-top: 11px;
            padding-right: 20px;
            padding-left: 0;
            padding-bottom: 11px;
            word-wrap: break-word;
            word-break: break-all;
            word-break: break-word; //chrome
            &.outline {
                outline: 1px solid #707070;
            }
        }
    }
  }
  .menu_burger__item--hidden{
    @media (min-width: 768px){
      display: none;
    }
  }
}
.dd_content{
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;

    //&>li{
        //width: 50%;
    //}
}
.body_wrapper {
  overflow: hidden;
  position: relative;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  //padding-bottom: 270px;
}
.content_wrapper {
  flex: 1 0 auto;
}
.footer {
  flex: 0 0 auto;
}
.mobile_height_spike {
  bottom: 0;
  left: 1px;
  position: fixed;
  top: 0;
  width: 1px;
}

//.footer{
//  background: #fafafa;
//  border-top: 1px solid #e9e9e9;
//  //position: absolute;
//  text-align: center;
//  width: 100%;
//  //bottom: 0;
//  color: #363636;
//  padding: 25px 0 20px 0;
//
//  .phone{
//    font-size: 28px;
//    margin-bottom: 28px;
//    letter-spacing: -1.2px;
//    .working_hours {
//      padding: 10px 0;
//      font-size: 16px;
//    }
//  }
//
//  .footer_social_list {
//    margin-bottom: 22px;
//
//    ul {
//      li {
//        &:last-child{
//          .social{
//            margin-right: 0px;
//          }
//        }
//
//        display: inline-block;
//        .social {
//          fill: #7d7d7d;
//          display: inline-block;
//          margin-right: 30px;
//          &.fb {
//            height: 40px;
//            width: 22px;
//          }
//          &.vk {
//            height: 36px;
//            width: 30px;
//          }
//          &.tt {
//            height: 39px;
//            width: 46px;
//            margin-right: 27px;
//          }
//          &.yt {
//            height: 37px;
//            width: 41px;
//          }
//          &:hover {
//            fill: #363636;
//          }
//        }
//      }
//    }
//  }
//
//  .change_lang{
//    margin-bottom: 18px;
//
//    .footer_lang_control{
//      text-decoration: none;
//      color: inherit;
//      font-size: 15px;
//      margin-bottom: 10px;
//    }
//  }
//
//  .copyright{
//    //font-size: 11px;
//    font-size: 10px;
//    color: #707070;
//    display: inline-block;
//  }
//}


//Footer Start
.footer{
  background: #f5f5f5;
  padding: 20px 0;
  text-align: center;
  .footer_row,
  .footer_hr {
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
    display: flex;
    .footer_info {
      flex-grow: 1;
    }
    .footer_info {
      width: 23.7%;
    }
    .footer_copyright {
      margin-top: 5px;
      font-size: 14px;
    }
  }
  .footer_row--hr {
    max-width: 960px;
    margin: 20px auto 10px auto;
    border-top: 1px solid #4e4948;
  }
  .footer_row--column {
    flex-direction: column;
  }
  .footer_slogan {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 14px;
    text-transform: uppercase;
    line-height: 1.2;
  }
  .footer_logo {
    text-decoration: none;
    display: block;
    width: 55px;
    height: 33px;
    background: url("../img/carvari_foot_logo.svg") no-repeat;
    background-size: 180px;
    margin: auto;
    position: relative;
    left: -50px;
    .footer_logo__brand{
      font-family: Myriad;
      letter-spacing: 3px;
      font-size: 13px;
      font-weight: 700;
      color: #656565;
      display: block;
      margin-bottom: 6px;
      padding-left: 70px;
    }
    .footer_logo__year{
      font-family: Myriad Light;
      letter-spacing: 3px;
      font-size: 13px;
      font-weight: 100;
      color: #656565;
      display: block;
      padding-left: 70px;
    }
  }
  .footer_phone {
    margin-top: 20px;
    font-size: 25px;
  }
  .footer__icon {
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    &--phone{
      width: 19px;
      height: 19px;
      background-image: url('../img/icon/icon-phone.png');
    }
    &--lock{
      width: 21px;
      height: 26px;
      background-image: url('../img/icon/icon-lock.png');
      margin-right: 14px;
    }
  }

  .social_block {
    font-size: 0;
    padding-bottom: 15px;
    .social_block__item {
      display: inline-block;
      padding-right: 10px;
    }
    .social_block__images {
      width: 35px;
      svg {
        width: 35px;
        height: 35px;
        & path {
          fill: #262626;
        }
      }
      &--fb:hover path{
        fill: #4267b2;
      }
      &--inst:hover path{
        fill: #8941a7;
      }
      &--yt:hover path{
        fill: #b90f0f;
      }
    }
  }
}
.work_time {
  .work_time__item {
    font-size: 17px;
    line-height: 1.4;
  }
}
.forforce {
  margin-top: 15px;
  position: relative;
  display: block;
  justify-content: flex-start;
  align-items: center;
  a{
    width: 48px;
    height: 14px;
    margin-left: 5px;
    background-repeat: no-repeat;
    background-position: 0 0;
    background-image: url("../img/ff_logo.svg");
    background-color: #7d7d7d;
    background-attachment: scroll;
    background-size: cover;
    display: inline-block;
    overflow: hidden;
    text-indent: -10000px;
    vertical-align: bottom;
    transition: .2s linear;
    &:hover {
      background-color: #363636;
    }
  }
}
//Footer end
.product-page{
  padding-bottom: 40px;
  .slider{
    img{
      width: 100%;
      max-width: 480px;
	padding:0 10px;
    }
  }
  .order_button {
    margin-bottom: 28px;
    font-size:27px;
    
  }
  .go_back{
    height: 20px;
    margin-bottom: 10px;
    margin-top: 5px;
    width:auto;
    float:left;

    a{
      margin-left: -5px;

      .icon{
        width: 25px;
        height: 24px;
        stroke: #363636;
        display: inline-block;
      }
    }
  }

  .product_card {
    .title{
      font-size: 22px;
      margin-bottom: 8px;
    }

    H1{
      margin-bottom: 8px;
    }

    .prices{
      font-size: 22px;
      margin-bottom: 20px;
      margin-top: -5px;
      text-align:center;

      .old_price{
        color: #c2c2c2;
        text-decoration: line-through;
        padding-left: 5px;
        font-size:20px;
      }

      .discount-percentage {
        position: absolute;
        border: 0;
        height: 28px;
        width: 50px;
        line-height: 27px;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: 700;
        color: #fff;
        background: #86af91;
        padding: 0;
        margin-left: 10px;
        text-align: center;
        display: inline-block;

        span {
          display: inline-block;
        }
      }
    }

    .attr-block{
      font-size: 15px;
      margin-bottom: 10px;
    }

    .sizes_block{
      margin-bottom: 35px;



        li{
          display: block;
          float: left;
          margin-bottom: 15px;
          margin-right: 1%;
          min-width: 50px;
          text-align: center;
          width: 13%;
          &.slick-slide {
            display: inline-block;
            float: left;
            margin-right: 10px;
            width: auto;
          }

          &.active a{
            .pro;
            font-weight: bold;
            border-color: #363636;
          }
        }


        a {
          display: inline-block;
          height: 27px;
          line-height: 27px;
          border: 1px solid #E1E1E1;
          width: 100%;
          max-width: 75px;
          font-size: 15px;
          text-decoration: none;
          text-align: center;
          color: #363636;
          padding: 0 10px;


        }
    }

    .action{
      text-align: center;

      .button{
        //width: 225px;
        //padding-right: 0px;
        //padding-left: 0px;
      }
    }

    .show_video{
      display: inline-block;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      bottom: 20px;
      font-size: 18px;

      & .video_link_block {
        color: #363636;
      }
    }
  }

  .product_image__video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 0;
    height: 0;
    overflow: hidden;

    //& iframe{
    //  height: 210px;
    //}
  }

  .js-hide{
    display: none;
  }
}
.product_image__video iframe, .product_image__video object, .product_image__video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.product_image__video iframe, .product_image__video object, .product_image__video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.trends-page{
  padding-bottom: 50px;
  h1{
    padding-top: 2px;
    font-size: 27px;
    letter-spacing: -1.5px;
    text-align: center;
    margin-bottom: 10px;
  }

  .one_entry{
    margin-bottom: 35px;
    a{
      text-decoration: none;
      color: inherit;
      display: block;
      margin: 0 auto;
    }

    .cover{
      margin-bottom: -1px;
      //margin-bottom: 7px;
    }

    h2{
      font-size: 21px;
      line-height: 1.5;
      .padded-block;
      padding-top: 5px;
      padding-bottom: 4px;
      //margin-bottom: 10px;
      margin-bottom: 2px;
    }

    .post{
      font-size: 15px;
      line-height: 1.1;
      color: #898989;
      height: 32px;
      overflow: hidden;
      letter-spacing: -.6px;
      margin-bottom: 8px;
    }

    .attrs{
      font-size: 15px;
      line-height: 1.1;
      color: #898989;
      letter-spacing: -.6px;
      margin-bottom: 20px;
    }

    &.toggled.in{
      .post{
        color: #363636;
        height: auto;
        //overflow: visible;
        line-height: 1.37;
      }
    }
  }

  .action{
    text-align: center;
  }

  .carvari_card {
    border-radius: 20px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
    height: 170px;
    margin: 0 auto 17px;
    padding: 0 7px;
    text-align: center;
    width: 275px;
    .card_number{
      font-size: 18px;
      font-weight: bold;
      padding-top: 47px;
    }
    .holder_name {
      font-size: 14px;
      padding-top: 26px;
    }
    .holder_phone {
      font-size: 14px;
      padding-top: 6px;
    }
  }
  .one_entry.slick-slide {
    margin-bottom: 0;
  }


}

.history-page{
  padding-bottom: 50px;
  h1{
    padding-top: 0px;
    padding-bottom: 5px;
    margin-bottom: 15px;
//    margin-top: -20px;
  }

  .one_order{
    width: 100%;
    font-size: 16px;
    padding-bottom: 37px;
    position: relative;
    margin-bottom: 20px;

    &:last-child{
      &:after{
        display: none;
      }
    }

    &:after{
      position: absolute;
      content: '';
      bottom: 0px;
      left: -15px;
      right: -15px;
      border-bottom: 1px solid #ebebeb;
    }

    .attr{
      padding: 0 0 30px 0;

      &:last-child{
        padding: 0 0 0 0;
      }

      div{
        float: left;

        &:first-child{
          min-width: 100px;
          width: 35%;
          font-weight: bold;
        }

        &:nth-child(2){
          white-space: nowrap;
          min-width: 180px;
          width: 60%;
          overflow: hidden;
        }
      }
    }
  }


  .action{
    text-align: center;
  }
}

.map-page{
  h1{
    letter-spacing: -1.2px;
  }

  .input_block{
    margin-bottom: 18px;
  }

  .city_chooser{
    //padding: 7px 0 0 0;
  }

  .slider{
    margin-bottom: -5px;

    .store_block{
      .title{
        font-size: 16px;
        font-weight: bold;
        letter-spacing: 0.2px;
        margin-bottom: 8px;
      }

      .info{
        font-size: 16px;
        padding: 0 0 0 0;
        line-height: 1.35;
      }
    }
  }

  .map_holder{
    height: 795px;
    background: #d9d9d9;
    //margin-bottom: -145px;
    margin-bottom: 25px;

    #is_map{
      height: 795px;
      width: 100%;
    }
  }
}
html.mob .questions_block .questions_area .questions .label:hover div.radio span {
  background-position: -20px 0;
}
//html.mob {
//@media (max-resolution: 190dpi) {
//  input[type=text] {
//    -webkit-appearance: textfield !important;
//    background-color: white !important;
//    border: 2px inset !important;
//    border-image-source: initial !important;
//    border-image-slice: initial !important;
//    border-image-width: initial !important;
//    border-image-outset: initial !important;
//    border-image-repeat: initial !important;
//    -webkit-rtl-ordering: logical !important;
//    -webkit-user-select: text !important;
//  }
//}
//}
@media (max-resolution: 190dpi){
  //  @media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.4), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.4dppx) {
  input {
    -webkit-appearance: textfield!important;
    background-color: white!important;
    border: 2px inset!important;
    border-image-source: initial!important;
    border-image-slice: initial!important;
    border-image-width: initial!important;
    border-image-outset: initial!important;
    border-image-repeat: initial!important;
    -webkit-rtl-ordering: logical!important;
    -webkit-user-select: text!important;
    &:focus {
      border: 2px inset!important;
    }
  }
  .main_content.checkout-page .profile_nav  {
    .profile_nav_link {
      &.active {
        background: #bebebe;
        padding: 1px;
        outline: none;
        .wrap {
          background: #fff;
          padding: 10px;
          display: inline-block;
          font-weight: bold;
        }
      }
    }
  }
  .main_content.list-page .filter_items li {
    padding: 1px;
    background: #bebebe;
    a {
      background: #fff;
      outline: none;
      border: none;
    }
  }
  .main_content.list-page .filter_list ul.sizes li {
    padding: 1px;
    background: #bebebe;
    margin-right: 4px;
    a {
      background: #fff;
      outline: none;
      border: none;
      margin-right: 0;
      width: 35px;
    }
  }
  .main_content.checkout-page .tab_wrapper .tab_content .input_block.wrong input {
    border: 2px inset #e84428!important;
  }
  select {
    border: none;
  }
  select {
    //-webkit-appearance: value!important;
    background-color: white!important;
    border: 1px inset!important;
    border-color: #000000;
    border-image-source: initial!important;
    border-image-slice: initial!important;
    border-image-width: initial!important;
    border-image-outset: initial!important;
    border-image-repeat: initial!important;
    -webkit-rtl-ordering: logical!important;
    -webkit-user-select: text!important;
  }
  .select_wrap {
    background: #bebebe;
    padding: 1px;
    select {
      border: none!important;
      background: #fff;
    }
  }
}

.button {
  padding: 0 17px;
}

//@media (min-resolution: 1.4dppx) {
//  //  @media (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (-webkit-min-device-pixel-ratio: 1.4), (min-device-pixel-ratio: 1.5), (min-resolution: 144dpi), (min-resolution: 1.4dppx) {
//  input {
//    -webkit-appearance: textfield!important;
//    background-color: white!important;
//    border: 2px inset!important;
//    border-image-source: initial!important;
//    border-image-slice: initial!important;
//    border-image-width: initial!important;
//    border-image-outset: initial!important;
//    border-image-repeat: initial!important;
//    -webkit-rtl-ordering: logical!important;
//    -webkit-user-select: text!important;
//    &:focus {
//      border: 2px inset!important;
//    }
//  }
//  .main_content.list-page .filter_items li {
//    padding: 1px;
//    background: #363636;
//    a {
//      background: #fff;
//      outline: none;
//      border: none;
//    }
//  }
//  .main_content.list-page .filter_list ul.sizes li {
//    padding: 1px;
//    background: #363636;
//    margin-right: 4px;
//    a {
//      background: #fff;
//      outline: none;
//      border: none;
//      margin-right: 0;
//      width: 35px;
//    }
//  }
//  .main_content.checkout-page .tab_wrapper .tab_content .input_block.wrong input {
//    border: 2px inset #e84428!important;
//  }
//  select {
//    border: none;
//  }
//  select {
//    -webkit-appearance: value!important;
//    background-color: white!important;
//    border: 1px inset!important;
//    border-color: #000000;
//    border-image-source: initial!important;
//    border-image-slice: initial!important;
//    border-image-width: initial!important;
//    border-image-outset: initial!important;
//    border-image-repeat: initial!important;
//    -webkit-rtl-ordering: logical!important;
//    -webkit-user-select: text!important;
//  }
//}

.choose_gender_container {
  .choose_gender {
    float: left;
    height: 477px;
    margin-bottom: 20px;
    padding: 15px 2px 2px;
    text-decoration: none;
    width: 490px;
    &:hover {
      border: 2px solid #e9e9e9;
      padding: 13px 0 0;
    }
    &:first-child {
      margin-right: 20px;
    }
    .title {
      font-size: 63px;
      color: #636363;
      line-height: 50px;
      text-transform: uppercase;
      text-align: center;
    }
    .img_container {
      height: 410px;
      width: 485px;
    }
    &.female {
      .img_container {
        background: url("../img/main_page_content/ladies.png") no-repeat;
      }
    }
    &.male {
      .img_container {
        background: url("../img/main_page_content/man.png") no-repeat;
      }
    }
  }
}
.find_pair {
  display: block;
  text-decoration: none;
  position: relative;
  //background: url("../img/main_page_content/find_pair.png") no-repeat;
  height: 305px;
  color: #ffffff;
  &:hover {
    outline: 2px solid #e9e9e9;
  }
}
.big_text {
  font-family: Myriad;
  font-size: 48px;
  font-weight: bold;
  letter-spacing: 5px;
  position: absolute;
  right: 22px;
  text-transform: uppercase;
  top: 33px;
}
.small_text {
  font-family: Myriad;
  font-size: 40px;
  letter-spacing: 3px;
  position: absolute;
  right: 75px;
  top: 91px;
}
.nav_blocks {
  float: left;
  height: 270px;
  width: 490px;
  color: #ffffff;
  text-decoration: none;
  position: relative;
  &:hover {
    outline: 2px solid #e9e9e9;
  }
  &.first {
    margin-right: 20px;
    //background: url("../img/main_page_content/nav_block1.png") no-repeat;
    .title {
      font-family: Myriad;
      font-size: 52px;
      font-weight: bold;
      left: 30px;
      letter-spacing: 2px;
      position: absolute;
      text-transform: uppercase;
      top: 21px;
    }
  }
  &.second {
    float: right;
    //background: url("../img/main_page_content/nav_block2.png") no-repeat;
    .title {
      bottom: 12px;
      font-family: Myriad;
      font-size: 49px;
      font-weight: bold;
      left: 17px;
      letter-spacing: 2px;
      position: absolute;
      text-transform: uppercase;
    }
  }
}

.reminder{
  padding-top: 60px;
  text-align: center;
}


.main-page{
  .main-page__stage{
    .img_link .img_container .big_img{
      max-width: 100%;
      height: auto;
      max-height: initial;
    }
  }

  .main-page__single .img_link.small img{
    width: 100% !important;
    max-height: none !important;
  }
}

#orderform {
    margin-top: 20px;
  .input_block textarea {
    width: 100%;
  }
}

.mobile_search_holder{
    width: 25px;
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 8px;
    right: 55px;
    background-color: #fafafa;
    transition: width .3s;
    height: 25px;
    .menu_burger{
        display: none;
        position: relative;
        width: 20px;
        height: 20px;
        left: 0;
        div{
            background: #7d7d7d;
        }
        &.active div:nth-child(odd){
            top: 9px;
        }
    }
}
.mobile_search_holder--open{
    width: auto;
    left: 55px;

    .mobile_search_form{
        width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }
    .menu_burger{
        display: block;}
}

.mobile_search {
    display: block;
    width: 23px;
    height: 23px;
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.mobile_search_form {
    display: flex;
    align-items: center;
    width: 0;
    overflow-x: hidden;

    #search_block_top{
        width: 100%;
    }

    #search_block_top .button-search-top {
      display: none;
    }

    .form-control{
        width: 100%;
        padding: 0 2px;
        border: none;
        border-bottom: 1px solid #888;
        background-color: #fafafa;

        font-size: 15px;

        &:focus{
            border: none!important;
            border-bottom: 1px solid #888!important;
        }
    }
}


.ui-autocomplete{
    position: absolute !important;
    top: 100% !important;
    left: 0 !important;
    width: 100% !important;
    max-height: 160px;
    padding-top: 15px;
    padding-bottom: 15px;
    overflow-y: auto;
    background-color: #fff;
    border: none !important;
    border-top: 1px solid #e6e6e6 !important;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.26);

    font-family: inherit !important;
}
.ui-menu-item-wrapper{
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #656565 !important;
    font-size: 17px;
    line-height: 1;

    &.ui-state-active{
        border: none !important;
    }
}
.ui-helper-hidden-accessible{
    display: none;
}

.autocompleter__name span {
    word-break: break-all;
}

.col-9 {
  width: 100%;
}
.col-4 {
  width: 50%;
}

[class^='col-'] {
  float: left;
  position: relative;
  min-height: 1px;
  //padding-left: 15px;
  padding-right: 15px;
}
.order_login_holder{
  padding-top: 10px;
  .btn__login{
    line-height: 34px;
    height: 32px;
  }

  #get-passwd-by-sms{
    float: right;
    display: inline-block;
    margin-top: 10px;
    color: #5bb1e7;
    text-decoration: underline;
  }

  .col-4:last-child{
    padding-right: 0;
    text-align: right;
  }
}

#js_toggle_hello{
  .input_block{
    margin-bottom: 15px;
  }
}

.input__message{
  margin-bottom: 15px;
}

.language {
  -webkit-touch-callout: none;
  --webkit-user-select: none;
  --khtml-user-select: none;
  --moz-user-select: none;
  --ms-user-select: none;
  user-select: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: default;
  position: relative;
  top: 10px;

  &__point {
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    text-decoration: none !important;
    color: #aaaaaa;

    &:last-child {
      margin-right: 0;
    }

    &:first-child {
      margin-right: 10px;
    }

    &--active {
      color: #363636;
      cursor: default;

      &:hover {
        .language__title {
          color: #363636;

          &:after {
            display: none;
          }
        }
      }
    }
  }

  &__flag {
    margin-right: 5px;
    margin-top: 2px;
    width: 21px;
    height: 16px;
  }

  &__flag_img {
    max-height: 100%;
    width: 100%;
  }

  &__title {
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    box-sizing: border-box;

    .solid-line {
      .border-line() {
        .mini-reset {
          border: none;
          margin: 0;
          padding: 0;
          outline: none;
          text-decoration: none;
          line-height: inherit;
          font-size: inherit;
          position: static;

          &:hover {
            color: #363636;
            text-decoration: none;
          }
        }
        white-space: nowrap;
        position: relative;
        text-decoration: none;
        line-height: 1.6em;

        &:hover,
        &:active,
        &:focus {
          color: #363636;
          text-decoration: none;
          -webkit-transition: color 0.3s ease-in-out;
          transition: color 0.3s ease-in-out;
        }

        &:after {
          content: '';
          position: absolute;
          bottom: .1em;
          left: 0;
          right: 0;
          border-bottom-width: 0.05em;
          //transition: .3s;
        }
      }
      &:after {
        border-bottom-style: solid;
      }
    }

    &:after {
      opacity: .0;
      bottom: 3px;
    }

    &:hover {
      &:after {
        opacity: .5;
      }
    }
  }
}

//ipad
@media screen and (min-width: 768px) {
    .ui-autocomplete{
        padding-left: 68px;
        padding-right: 68px;
    }
}

.search-wrap{
    .main_content.list-page{
        padding-top: 107px;
    }
}
#our_price_display{font-size:27px;}#spec-mob{width:100%;display:inline;}
#header {height:50px;}
.header--short {
  background: #fff;
  border-bottom: 2px solid #e9e9e9;
  .padded_block {
    display: flex;
    justify-content: space-between;
    min-height: 50px;
  }
  .header__logo {
    margin-top: 5px;
    align-self: center;
    img {
      max-width: 150px;
    }
  }
  .header__phone {
    align-self: center;
  }
}
#header .logo_holder {margin-top:22px;margin-bottom:0;}
.product-page #add_to_cart button {height:50px}
#loyalty { color: #363636;}
.title-md {
color: #bcbcbc; 
text-transform:uppercase;
letter-spacing:5px;
font-size:18px;
margin:30px 0 10px;}
.attr_list {color: #bcbcbc; }
#col-md-1 {
padding:10px 0;
}
#col-md-1 {
color: #bcbcbc;
}
#col-md-2 {
color:#363636;
float:right;
}

.attr_block {
width: 90%;
margin:0 auto;
}

.product_name {}
#product_name {float:left;}
@import "carvari.less";
@import "ui-kit.less";
