.light{
  font-family: 'Myriad Light', Arial;
}

.pro{
  @font-family: 'Myriad', Arial;
}

.padded_block,
.padded-block{
  padding: 0 15px;
  //min-width: 640px;
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
}
.auth_descr{
  text-align:center;
  padding: 10px 0 20px;
  line-height: 20px;
}

.sizes_holder{
  .slick-dots{
    bottom: -35px;
    li{
      width: 3px;
      margin: 0 3px;
      padding: 0px;
      &:before{
        display: none;
      }
      button{
        &:before{
          content: '';
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background: #444;
//          border: 1px solid fade(#FFF, 50);
        }
      }
    }
  }
}
.slider{
  margin-bottom: 3px;
  padding-bottom: 33px;

  .slide{
    width: 100%;
    text-align: center;
    img{
      margin: 0 auto;
    }
  }

  .slick-dots{
    bottom: 0px;

    li{
      width: 3px;
      margin: 0 3px;
      padding: 0px;

      &:before{
        display: none;
      }

      button{
        &:before{
          content: '';
          width: 5px;
          height: 5px;
          border-radius: 50%;
          background: #444;
          //          border: 1px solid fade(#FFF, 50);
        }
      }
    }
  }
}

.full_screen_image{
  padding: 0 30px;

  IMG{
    width: 100%;
  }
}

IMG.full-screen-img{
  padding: 0;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  display: block;
}

h1 {
  font-size: 27px;
  text-align: center;
  margin-bottom: 10px;
}
h2{
  font-size: 20px;
  margin-bottom: 10px;
}


.button {
  display: inline-block;
  background: #5e5e5e;
  border-radius: 2px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #333;
  .light;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  line-height: 42px;
  height: 40px;
  padding: 0 17px !important;
  transition: .5s;
  &.button_twolane {
    height: auto;
    text-align: center;
    line-height: 24px;
  }
}

.button2 {
  background: #90e1f4;
  border-radius: 3px;
  border: none;
  border-bottom: 1px solid #333333;
  display: inline-block;
  color: #ffffff;
  font-size: 22px;
  text-decoration: none;
  box-shadow: 0 4px 2px -2px gray;
  -webkit-transition: .2s linear;
  transition: .2s linear;
  cursor: pointer;
  font-family: 'Myriad Light', Arial;
  &:hover {
    background: #63a9b9;
  }
}

.gm-style img {
  max-width: 32%;
  margin-right: 3px;
}
#block-history {
  overflow-y: hidden;
  overflow-x: scroll;
}
.pager {
  text-align: center;
  .pager_list {
    display: inline-block;
    li {
      &.dots {
        &:hover, &.active {
          outline:none;
        }
      }
      display: inline-block;
      height: 39px;
      line-height: 39px;
      vertical-align: middle;
      width: 39px;
      a, span {
        height: 39px;
        width: 39px;
        font-size: 20px;
        display: inline-block;
        text-decoration: none;
        color: #363636;
      }
      &:hover, &.active {
        outline:1px solid #707070;
      }
    }
  }
}
.button.btn-outline{
  background: #FFF;
  border: 1px solid #333;
  color: inherit;

  &:hover{
    background: #FFF;
  }
}

.slide_to_top{
  position: fixed;
  bottom: -3px;
  right: 2%;
  padding: 5px 11px;
  width: 50px;
  height: 50px;
  //border: 1px solid;
  border-radius: 5px;
  background: #363636;
  cursor: pointer;
  transition: .5s;
  opacity: 0.6;
  &.hidden {
    opacity: 0;
  }

  i{
    width: 26px;
    height: 40px;
    stroke: #FFF;
    display: block;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
  }
}

.is_post{
  line-height: 1.4;

  p{
    margin: 0 0 15px 0;
  }

  img{
    margin-bottom: 15px;
    max-width: 100%;
    height: auto;
  }

  ul{
    margin: 5px 0 15px 15px;
    li{
      position: relative;
      padding-left: 10px;

      &:before{
        position: absolute;
        content: '•';
        left: 0px;
        top: 0px;
        font-size: 1.2em;
        line-height: 1;
      }
    }
  }

  H2, H3, H4, H5, H6{
    margin-bottom: 15px;
  }

  H2{font-size: 28px;}
  H3{font-size: 26px;}
  H4{font-size: 24px;}
  H5{font-size: 22px;}
  H6{font-size: 20px;}

  table{
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;

    thead{
      td{
        font-weight: bold;
      }
    }

    td{
      padding: 10px;
    }
  }

  //img{
  //  //width: 100%;
  //  margin-bottom: 35px;
  //}
}


.input_block{
  margin-bottom: 27px;
  position: relative;
  select {
    border: 1px solid #363636;
    .light;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    padding: 0 0 0 10px;

    //font-size: 28px;
    //height: 80px;
    //padding: 0 0 0 30px;
    width: 100%;
    background: #fff;


  }

  select.width_auto {
    width: auto !important;
  }

  .icon {
    bottom: 16px;
    display: block;
    height: 7px;
    position: absolute;
    right: 11px;
    stroke: #363636;
    width: 7px;
  }
}

.jq-radio{
  width: 15px;
  height: 15px;
  margin-right: 4px;
}
