#productscategory_list .product-name {
  margin-bottom: 5px; }
  #productscategory_list .product-name a {
    font-size: 15px;
    line-height: 18px;
    color: #3a3939; }
    #productscategory_list .product-name a:hover {
      color: #515151; }
#productscategory_list .exclusive span {
  font-size: 13px;
  line-height: 18px;
  padding: 2px 8px 3px;
  text-decoration: none; }
  #productscategory_list .exclusive span:focus, #productscategory_list .exclusive span:active {
    text-decoration: none; }
#productscategory_list li {
  margin-left: 6px;
}
/*# sourceMappingURL=productscategory.css.map */
