{*<h4>Детали доставки Самовывоз Карвари</h4>*}
<input type="hidden" name="carvaricourier" value="1">
<input type="hidden" name="alias" value="Курьером Carvari">

{if $mobile_device}
    {*<div class="input_block">*}
        {*<label>{l s='Address' mod='ffcarvaricourier'}<sup>*</sup></label>*}
        {*<textarea cols="49" rows="3" id="address" data-validate="isAddress"*}
                  {*name="address" placeholder="{l s='Address delivery' mod='ffcarvaricourier'}"*}
                  {*autocomplete="off" type="text" class="opc_carvaricourier is_required validate" >*}
            {*{if isset($input_value[$language.id_lang])}{$input_value[$language.id_lang]|htmlentitiesUTF8|replace:'\r\n':''|replace:'\&quot;':'&quot;'}{/if}*}
        {*</textarea>*}
        {*<span id="opc_carvaricourier_errors" class="error_msg"></span>*}
    {*</div>*}

    <div class="input_block">
        <label>{l s='Address' mod='ffcarvaricourier'}<sup>*</sup></label>
        {*<input type="hidden" name="address1" id="address1" value="1"/>*}
        <textarea placeholder="{l s='Address delivery' mod='ffcarvaricourier'}" data-validate="isAddress" autocomplete="off" type="text" class="opc_carvaricourier is_required validate" id="address1"  name="address1" cols="49" rows="3">{if $field.group != '' && count(${$field.group})}{if isset({${$field.group}->$field.name})}{${$field.group}->$field.name}{/if}{/if}</textarea>
        <span id="opc_carvaricourier_errors" class="error_msg"></span>
    </div>
{else}
    <div class="input_block">
        <label>{l s='Address' mod='ffcarvaricourier'}<sup>*</sup></label>
        {*<input type="hidden" name="address1" id="address1" value="1"/>*}
        <textarea placeholder="{l s='Address delivery' mod='ffcarvaricourier'}" data-validate="isAddress" autocomplete="off" type="text" class="opc_carvaricourier is_required validate" id="address1"  name="address1" cols="49" rows="3">{if $field.group != '' && count(${$field.group})}{if isset({${$field.group}->$field.name})}{${$field.group}->$field.name}{/if}{/if}</textarea>
        <span id="opc_carvaricourier_errors" class="error_msg"></span>
    </div>
{/if}

