<button class="showmoreproduct-btn">see more</button>
<input type="hidden" id="total-pdoduct-count" value="{$nbProducts}" />
<input type="hidden" id="total-pdoduct-page" value="1" />
<input type="hidden" id="category-id" value="{$smarty.get.id_category}" />

