#search_block_top {
  padding-top: 2px; 
  display: flex;
  width: 17%;
  position: relative;
}
 #search_block_top .srch{
  font-size: 15px;
    color: #aaaaaa;
    text-decoration: none;
    transition: color .3s ease-in-out;
    cursor: pointer;
    margin-right: 5px;
 }
 #search_block_top .srch:hover{
      transition: color .3s ease-in-out;
      color: #363636;
    }
  #search_block_top #searchbox {
    width: 0.1%; 
  border-bottom: 1px solid #acacac;
top: -3px;}
#search_block_top .focus-link{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#search_block_top.open{
  transition: width .3s ease-in-out;
  width: 55%;
}
#search_block_top.open #searchbox{
  transition: width .3s ease-in-out;
  width: 55%;
}
  #search_block_top .btn.button-search {
    background: #333;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    color: #fff;
    width: 50px;
    text-align: center;
    padding: 10px 0 11px 0; }
    #search_block_top .btn.button-search span {
      display: none; }
    #search_block_top .btn.button-search:before {
      content: "\f002";
      display: block;
      font-family: "FontAwesome";
      font-size: 17px;
      width: 100%;
      text-align: center; }
    #search_block_top .btn.button-search:hover {
      color: #6f6f6f; }
  #search_block_top #search_query_top {
    display: inline;
    padding: 0;
    height: 15px;
    margin-right: 1px; 
    border: 0;
    font-size: 15px;
    font-family: Myriad;
    background: transparent;
  }
   #search_block_top #searchbox input{
    width: 100%;
   }
   #search_block_top #searchbox input:focus {
    border: 0 !important;
    outline: 0;
  }
   #search_block_top #searchbox input:active {
    border: 0 !important;
    outline: 0;
  }
  #search_block_top #search_query_top:focus {
    border: 0;
    outline: 0;
  }
  #search_block_top #search_query_top:active {
    border: 0;
    outline: 0;
  }

.ac_results {
  background: #fff;
  border: 0 !important;
  min-width: 112px;
  margin-top: 1px !important; }
  .ac_results li {
    padding: 0 10px;
    font-weight: normal;
    color: #686666;
    font-size: 13px;
    line-height: 22px; }
    .ac_results li.ac_odd {
      background: #fff; }
    .ac_results li:hover, .ac_results li.ac_over {
      background: #fbfbfb; }

form#searchbox {
  position: relative; }
  form#searchbox label {
    color: #333; }
  form#searchbox input#search_query_block {
    margin-right: 10px;
    max-width: 222px;
    margin-bottom: 10px;
    display: inline-block;
    float: left; }
  form#searchbox .button.button-small {
    float: left; }
    form#searchbox .button.button-small i {
      margin-right: 0; }

/*# sourceMappingURL=blocksearch.css.map */


#search_block_top2 {
  padding-top: 7px; 
  display: flex;
  width: 17%;
  position: relative;
}
 #search_block_top2 .srch{
  font-size: 15px;
    color: #aaaaaa;
    text-decoration: none;
    transition: color .3s ease-in-out;
    cursor: pointer;
    margin-right: 5px;
 }
 #search_block_top2 .srch:hover{
      transition: color .3s ease-in-out;
      color: #363636;
    }
  #search_block_top2 #searchbox2 {
    width: 0.1%; 
  border-bottom: 1px solid #acacac;
top: -3px;}
#search_block_top2 .focus-link{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#search_block_top2.open{
  transition: width .3s ease-in-out;
  width: 55%;
}
#search_block_top2.open #searchbox2{
  transition: width .3s ease-in-out;
  width: 55%;
}
  #search_block_top2 .btn.button-search {
    background: #333;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    color: #fff;
    width: 50px;
    text-align: center;
    padding: 10px 0 11px 0; }
    #search_block_top2 .btn.button-search span {
      display: none; }
    #search_block_top2 .btn.button-search:before {
      content: "\f002";
      display: block;
      font-family: "FontAwesome";
      font-size: 17px;
      width: 100%;
      text-align: center; }
    #search_block_top2 .btn.button-search:hover {
      color: #6f6f6f; }
  #search_block_top2 #search_query_top2 {
    display: inline;
    padding: 0;
    height: 15px;
    margin-right: 1px; 
    border: 0;
    font-size: 15px;
    font-family: Myriad;
    background: transparent;
  }
   #search_block_top2 #searchbox2 input{
    width: 100%;
   }
   #search_block_top2 #searchbox2 input:focus {
    border: 0 !important;
    outline: 0;
  }
   #search_block_top2 #searchbox2 input:active {
    border: 0 !important;
    outline: 0;
  }
  #search_block_top2 #search_query_top2:focus {
    border: 0;
    outline: 0;
  }
  #search_block_top2 #search_query_top2:active {
    border: 0;
    outline: 0;
  }

.ac_results {
  background: #fff;
  border: 0 !important;
  min-width: 112px;
  margin-top: 1px !important; }
  .ac_results li {
    padding: 0 10px;
    font-weight: normal;
    color: #686666;
    font-size: 13px;
    line-height: 22px; }
    .ac_results li.ac_odd {
      background: #fff; }
    .ac_results li:hover, .ac_results li.ac_over {
      background: #fbfbfb; }

form#searchbox2 {
  position: relative; }
  form#searchbox2 label {
    color: #333; }
  form#searchbox2 input#search_query_block2 {
    margin-right: 10px;
    max-width: 222px;
    margin-bottom: 10px;
    display: inline-block;
    float: left; }
  form#searchbox2 .button.button-small {
    float: left; }
    form#searchbox2 .button.button-small i {
      margin-right: 0; }

      
/*# sourceMappingURL=blocksearch.css.map */
