.r-corner {
display: block;
float: left;
position: relative;
text-decoration: none;
list-style: none;

}
.delivery-payment-wrap {
width: 367px;
border: 1px solid #B2D1E0;
float: left;
padding: 18px 0 15px 20px;
border-radius: 10px;
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
}
.row {
width: 100%;
height: auto;
overflow: hidden;
}
.half .cell {
width: 50%;
}
.delivery-payment-wrap h4 {
color: #333;
font-size: 1.231em;
margin-bottom: 0.5em;
}
.sprite i {
margin-left: -18px;
padding-right: 18px;
background: url(http://i.gsl.ua/design/sprite.png) no-repeat 0 0;
}
.delivery-payment-wrap li {
padding-bottom: 0.923em;
}
.delivery-payment-wrap ul {
padding-right: 18px;
}
.cell {
vertical-align: top;
overflow: hidden;
float: left;
display: block;
}
a.xhr {
color: #00739E;
border-bottom: 1px dashed;
}
.sprite1 i {
margin-left: 7px;
padding-right: 24px;
background: url(/modules/delivery/images/delivery.png) no-repeat 0.9px -2px;
}
.sprite2 i {
margin-left: 8px;
padding-right: 24px;
background: url(/modules/delivery/images/payment.png) no-repeat 0.9px -0.9px;
padding-bottom: 10px;
}