.product_label {
    position: absolute;
    /*z-index: 5002;*/
    width: auto !important;
    background: none !important;

}
.product_label.imgbig {
    max-width: 250px;
}
.product_label.imgsmall {
    max-width: 150px;
}
.product_label.left_up {
    left: 0;
    top: 0;
}
.product_label.right_up {
    right: 0;
    top: 0;
}
.product_label.left_bottom {
    left: 0;
    bottom: 0;
}
.product_label.right_bottom {
    right: 0;
    bottom: 0;
}



#product .product_label {
    position: absolute;
    // z-index: 5002;
    width: auto !important;
    background: none !important;
}

#product .product_label.imgbig {
    max-width: 250px;
}
#product .product_label.imgsmall {
    max-width: 150px;
}

#product .product_label.left_up {
    left: 0;
    top: 0;
}
#product .product_label.right_up {
    right: 0;
    top: 0;
}
#product .product_label.left_bottom {
    left: 0;
    bottom: 0;
}
#product .product_label.right_bottom {
    right: 0;
    bottom: 0;
}


#category .product_label {
    position: absolute;
    /*z-index: 5002;*/
    width: auto !important;
    background: none !important;
}
#category .product_label.imgbig {
    max-width: 250px;
}
#category .product_label.imgsmall {
    max-width: 150px;
}
#category .product_label.left_up {
    left: 0;
    top: 0;
}
#category .product_label.right_up {
    right: 0;
    top: 0;
}
#category .product_label.left_bottom {
    left: 0;
    bottom: 0;
}
#category .product_label.right_bottom {
    right: 0;
    bottom: 0;
}