.page.page--contacts .contacts_left {
  width: 213px;
  margin-top: 10px;
  margin-right: 57px;
  float: left;
}
.page.page--contacts .contacts_right {
  width: 60%;
  float: left;
}
.page.page--contacts .contacts_title {
  display: inline-block;
  margin-bottom: 10px;
  font-size: 15px;
  color: #303030;
}
.page.page--contacts .contact_map {
  height: 500px;
}
.page.page--contacts .contacts_text__days {
  display: inline-block;
  width: 62px;
  font-size: 15px;
}
.page.page--contacts .contacts_text__time {
  display: inline-block;
  font-size: 15px;
}
.page.page--contacts .contacts_text__time--bold {
  font-weight: bold;
}
.page.page--contacts .contacts_text {
  font-size: 17px;
}
.page.page--contacts .contacts_link {
  display: block;
  color: #aaa;
  text-decoration: none;
}
.page.page--contacts .contacts_link:hover {
  color: #464646;
}
.page.page--contacts .contacts_link + .contacts_link {
  margin-top: 5px;
}
.page.page--contacts .contacts_address {
  font-size: 15px;
}
.page.page--contacts .contacts_text__schedule + .contacts_text__schedule {
  margin-top: 5px;
}
.page.page--contacts .contact-form-box {
  margin-top: 20px;
}
.page.page--contacts .page-subheading {
  font-size: 24px;
  margin-bottom: 5px;
}
.page.page--contacts .form-control {
  display: block;
  width: 100%;
}
.page.page--contacts .button {
  padding: 2px 15px;
}
