/**************************************************************************
					Contact Page Styles
**************************************************************************/
.contact-title {
  margin: -5px 0 0px 0;
  line-height: 23px;
}

.contact-title i {
  font-size: 23px;
  color: #c0c0c0;
  padding: 0 8px 0 0;
}

.contact-form-box {
  padding: 25px 0 0 25px;
  margin: 0 0 30px 0;
  /*background: url(../img/contact-form.png) repeat-x #fff;*/
  /*-moz-box-shadow: rgba(0, 0, 0, 0.17) 0px 5px 13px;*/
  /*-webkit-box-shadow: rgba(0, 0, 0, 0.17) 0px 5px 13px;*/
  /*box-shadow: rgba(0, 0, 0, 0.17) 0px 5px 13px;*/
  border: 1px solid #e9e9e9;
}

.contact-form-box input[type="text"],
.contact-form-box input[type="email"],
.contact-form-box input[type="tel"],
.contact-form-box textarea,
.contact-form-box button[type="submit"] {
  font: 400 14px/18px "Open Sans", Helvetica, Arial, sans-serif;
}

.contact-form-box fieldset {
  /*background: url(../img/form-contact-shadow.png) center bottom no-repeat;*/
  /*background-size: contain;*/
  margin: 0 0 10px;
  min-width: 100%;
  padding-bottom: 8px;
  padding-right: 25px;
  width: 100%;
}

.contact-form-box h3 {
  color: #363636;
  display: block;
  font-size: 30px;
  font-weight: 400;
}

.contact-form-box h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
}

.contact-form-box input[type="text"],
.contact-form-box input[type="email"],
.contact-form-box input[type="tel"],
.contact-form-box textarea {
  /*max-width: 270px;*/
  border: 1px solid #d8d8d8;
  color: #363636;
  margin: 0 0 5px;
  padding: 10px;
}

.contact-form-box input[type="text"]:hover,
.contact-form-box input[type="email"]:hover,
.contact-form-box input[type="tel"]:hover,
.contact-form-box textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #d8d8d8;
}

.contact-form-box textarea {
  height: 208px;
  /*max-width: 100%;*/
  resize: none;
}

.contact-form-box button[type="submit"] {
  cursor: pointer;
  color: #ededed;
  margin: 0 0 5px;
  padding: 10px 15px 12px !important;
  font-size: 22px;
  display: block;
  /*width: 50%;*/
  float: left;
  border: 1px solid #999;
  border-radius: 0;
  background-color: #464646;
  text-align: center;
  font-weight: 300;
  line-height: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.contact-form-box button[type="submit"]:hover {
  color: #464646;
  background-color: #ededed;
}
.contact-form-box #contact_loader {
    position: relative;
    top: 15px;
}

.contact-form-box input:focus,
.contact-form-box textarea:focus {
  outline: 0;
  border: 1px solid #7da7d9;
}

.contact-form-box textarea::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease; color: #888888;}
.contact-form-box textarea::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease; color: #888888;}
.contact-form-box textarea:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease; color: #888888;}
.contact-form-box textarea:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease; color: #888888;}
.contact-form-box textarea:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.contact-form-box textarea:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.contact-form-box textarea:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.contact-form-box textarea:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.contact-form-box input::-webkit-input-placeholder       {opacity: 1; transition: opacity 0.3s ease; color: #888888; font-weight: normal}
.contact-form-box input::-moz-placeholder                {opacity: 1; transition: opacity 0.3s ease; color: #888888; font-weight: normal}
.contact-form-box input:-moz-placeholder                 {opacity: 1; transition: opacity 0.3s ease; color: #888888; font-weight: normal}
.contact-form-box input:-ms-input-placeholder            {opacity: 1; transition: opacity 0.3s ease; color: #888888; font-weight: normal}
.contact-form-box input:focus::-webkit-input-placeholder {opacity: 0; transition: opacity 0.3s ease;}
.contact-form-box input:focus::-moz-placeholder          {opacity: 0; transition: opacity 0.3s ease;}
.contact-form-box input:focus:-moz-placeholder           {opacity: 0; transition: opacity 0.3s ease;}
.contact-form-box input:focus:-ms-input-placeholder      {opacity: 0; transition: opacity 0.3s ease;}

.contact-form-box .input-form {
  vertical-align: top;
  display: inline-block;
  width: 35%;
}

.contact-form-box .textarea-form {
  display: inline-block;
  vertical-align: top;
  width: 64%;
}

.contact-form-box label {
  display: inline-block;
  margin-bottom: 5px;
}

.contact-form-box .page-subheading {
  padding-left: 0;
  border: none;
  margin-bottom: 0;
}

.contact-form-box .col-md-3 {
  padding-left: 0;
}

.form-group .error_msg {
  color: #e84428;
  vertical-align: middle;
  font-size: 14px;
}
.contact-form-box .form-group.wrong {
  padding-bottom: 0;
}

.form-group.wrong input {
  border: 1px solid #e84428 !important;
}

.form-group.wrong textarea {
  border: 1px solid #e84428 !important;
}

.button:disabled {
  background: #c2c2c2;
  border-bottom: 1px solid #adadad !important;
}

.button:disabled:hover {
  cursor: not-allowed;
  background: #c2c2c2;
  border-bottom: 1px solid #adadad !important;
}

.thanks-fancy {
    text-align: center;
    margin: 12px 14px;
}
.thanks-fancy .fancy-title {
    font-size: 20px;
    margin-bottom: 14px;
}
.thanks-fancy .fancy-text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 16px;
}

@media (max-width: 767px) {
  .contact-form-box .input-form {
    width: 100%;
  }
  .contact-form-box .textarea-form {
    width: 100%;
  }
  .contact-form-box input[type="text"],
  .contact-form-box input[type="email"],
  .contact-form-box input[type="tel"],
  .contact-form-box textarea {
    width: 100%;
  }
}

.contact-form-box .col-md-9 {
  padding-right: 0;
}

@media (max-width: 991px) {
  .contact-form-box .col-md-9 {
    padding-left: 0;
  }
}

.contact-form-box #desc_contact0 {
  display: none;
}

.contact-form-box .form-group {
  margin-bottom: 7px;
}

.contact-form-box select.form-control {
  max-width: 270px;
  width: 100%;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .contact-form-box div.uploader span.filename {
    width: 114px;
  }
}

/*# sourceMappingURL=contact-form.css.map */
