#stores #stores-list {
    position: absolute;
    right: 5px;
    top: 30px;
    width: 300px;
    height: 600px;
    background-color: white;
}
#stores #stores-list #list li  {
    margin: 2px;
    cursor: pointer;
}