.product_label__pb {
	/* Popup */
	position: relative;
    display: inline-block;
	/* End Popup */
    font-size: 0;
    margin-top: 20px;
}

.product_label__pb .product_label__pb--img {
    display: inline-block;
    vertical-align: middle;
    max-width: 50%;
    margin-bottom: 10px;
    margin-right: 10px;
}

.product_label__pb--img img {
    max-width: 100%;
    height: auto;
}

.product_label__pb .product_label__pb--name {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    color: rgb(54, 54, 54);
    margin-bottom: 10px;
}

.product_label__pb .product_label__pb--name:hover {
    -webkit-transition: color .3s ease-in-out;
    transition: color .3s ease-in-out;
    color: #363636;
}

/* The actual popup */
.product_label__pb .product_label__pb--name .popupimg {
    visibility: hidden;
    width: 251px;
    background-color: #5555555c;
    border-radius: 6px;
    padding: 3px 3px 0px;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -111px;
}

/* Popup image */
.product_label__pb .product_label__pb--name .pop {
	max-width: 100%;
}

/* Popup arrow */
.product_label__pb .product_label__pb--name .popupimg::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 7px;
    border-style: solid;
    border-color: #5555555c transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.product_label__pb .product_label__pb--name .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}