/*-----------------------Css for Tabs ----------------------------*/
.list-tabs-wrap .list-tabs-inner{
	display: inline-block;
	width: 100%;
}
.list-tabs-wrap .list-tabs-inner .tab-item{
	float: left;
	margin-right: 10px;
	padding: 5px 10px;
	border: 1px solid #ccc;
}
.list-tabs-inner .tab-item.active,
.list-tabs-inner .tab-item:hover {
    color: #fff;
	background-color: #6ad4ff;
	border: 1px solid transparent;
	cursor: pointer;
}

/*-----------------------Css for Content ----------------------------*/
.list-items-wrap .list-items{
	display: none;
}
.list-items-wrap .list-items.active{
	display: block;
}
.image-loading {
    width: 100%;
    max-width: 100%;
    padding: 0;
    position: relative;
    background: url(../images/loading.gif) no-repeat scroll center center transparent;
    min-height: 300px;
    display: block;
    z-index: 0;
}
