{if $displayMerchantType == 3 || $displayMerchantType !=2}

<div class="row">
    <div class="col-xs-12">
        <p class="payment_module">
            <a class="parts" href="{$link->getModuleLink('ecm_payparts', 'redirect', ['id_cart' => {$id}, merchantType => {$MerchantTypePP}])}" title="{l s='Pay PayParts' mod='ecm_payparts'}">
                <img src="{$this_path}logo_opc_ps.png" width="50px" />{l s='Оплата частями' mod='ecm_payparts'}
                <span>
                    (оплата на сайте)
                </span>

            </a>
        </p>
    </div>
</div>

{/if}
{if $displayMerchantType == 3 || $displayMerchantType !=1}
<div class="row">
    <div class="col-xs-12">
        <p class="payment_module">
            <a class="rassrochka" href="{$link->getModuleLink('ecm_payparts', 'redirect', ['id_cart' => {$id}, merchantType => {$MerchantTypeII}])}" title="{l s='Pay PayParts' mod='ecm_payparts'}">
                <img src="{$this_path}clock_opc_ps.png" width="50px" />{l s='Мгновенная рассрочка' mod='ecm_payparts'}
                <span>
                    (оплата на сайте)
                </span>

            </a>
        </p>
    </div>
</div>
{/if}

<div class="add_description">



</div><div>not_touch</div><div>not_touch</div>

