@import "general-css.less";
@import "general.less";
@import "fonts/fonts.css";
@import "ui-kit.less";

body,html {
  width: 100%;
  height:100%;
  font-family: Myriad Light,arial,sans-serif;
  color: #363636;
  min-width: 640px;
}
* {
  .box-sizing();
}
input:focus {
  border: 1px solid #7da7d9!important;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.header {
  background: #fafafa;
  border-bottom: 1px solid #e9e9e9;
  height: 135px;
  position: fixed;
  width: 100%;
  z-index: 102;
  .menu_burger{
    bottom: 28px;
    cursor: pointer;
    height: 28px;
    left: 30px;
    position: absolute;
    width: 38px;
    div {
      background: #7d7d7d none repeat scroll 0 0;
      display: block;
      height: 3px;
      left: 50%;
      margin-left: -19px;
      opacity: 1;
      position: absolute;
      transition: all 0.3s ease 0s, left 0.2s ease 0s;
      width: 38px;
    }

    div:nth-of-type(1){top: 0px;}
    div:nth-of-type(2){top: 12px;}
    div:nth-of-type(3){top: 24px;}

    &.active{
      div:nth-of-type(1){
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
      div:nth-of-type(2){
        left: 0;
        opacity: 0;
      }
      div:nth-of-type(3){
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
      div:nth-of-type(1),
      div:nth-of-type(3){
        top: 12px;
        width: 38px;
      }
    }
  }
  .menu {
    padding: 0 140px;
    width: 100%;
    text-align: justify;
    .menu_item {
      display: inline-block;
      font-size: 33px;
      &.active {
        border-bottom: 3px solid;
        padding-bottom: 24px;
      }
    }
    &:after {
      content: "";
      display: inline-block;
      font-size: 1px;
      height: 0;
      width: 100%;
    }
  }
  .logo_holder {
    text-align: center;
    margin-bottom: 25px;
    a {
      display: inline-block;
      height: 35px;
      margin-top: 12px;
      width: 254px;
      background: url("../images/carvari_logo.svg") no-repeat center center;
      background-size: cover;
    }
  }
  .cart {
    bottom: 17px;
    color: #363636;
    font-size: 18px;
    height: 52px;
    padding-top: 24px;
    position: absolute;
    right: 27px;
    text-align: center;
    text-decoration: none;
    width: 46px;
    .icon {
      width: 100%;
      height: 100%;
      position: absolute;
      fill: #7d7d7d;
      stroke: #7d7d7d;
      left: 0;
      top: 0;
    }
  }
}
.main_content {
  padding-top: 175px;
  padding-bottom: 145px;

  &.main-page, {
    .big_link {
      color: #363636;
      text-decoration: none;
      .big_title {
        color: #363636;
        display: block;
        font-size: 85px;
        position: relative;
        text-align: center;
        text-decoration: none;
        text-transform: uppercase;
        top: 87px;
        z-index: 1;
      }
      .big_img_link {
        display: block;
        margin-bottom: 20px;
        padding-bottom: 87%;
        position: relative;
        width: 100%;
        border-bottom: 1px solid #e8e8e8;
        img {
          left: 0;
          position: absolute;
          top: 80px;
          width: 100%;
        }
      }
      &.not_so_big {
        .big_img_link {
          padding-bottom: 50%;
          border-bottom: none;
          img {
            top: 0;
          }
        }
      }
    }
  }
  &.list-page {
    padding-bottom: 80px;
    padding-top: 265px;
    .big_img_link {
      display: inline-block;
      img {
        width: 100%;
      }
    }
    .filter_items {
      margin-top: 25px;
      li {
        display: inline-block;
        margin-right: 20px;
        margin-bottom: 25px;
        a {
          color: #363636;
          display: inline-block;
          font-size: 32px;
          outline: 1px solid #363636;
          padding: 9px;
          text-decoration: none;
        }
      }
    }    
    .filter_wrapper {
      background: #fff none repeat scroll 0 0;
      border-bottom: 1px solid #ebebeb;
      left: 0;
      padding: 30px 0 30px 30px;
      position: fixed;
      top: 135px;
      width: 100%;
      z-index: 100;
      .filter {
        font-size: 32px;
      }
    }
    .filter_btns_wrapper {
      background: #fff;
      border-top: 1px solid #ebebeb;
      bottom: 0;
      padding-bottom: 20px;
      padding-top: 20px;
      position: fixed;
      text-align: center;
      width: 100%;
      z-index: 100;
      display: none;
      .button {
        background: #5e5e5e none repeat scroll 0 0;
        border-bottom: 1px solid #333;
        border-radius: 5px;
        color: #fff;
        display: inline-block;
        font-family: "Myriad Light",Arial;
        font-size: 36px;
        height: 80px;
        line-height: 75px;
        padding: 0 30px;
        text-decoration: none;
      }
      .clear_link {
        color: #363636;
        display: inline-block;
        font-size: 32px;
        margin-left: 40px;
        text-decoration: none;
      }
    }
    .filter_list_wrapper {
      background: #fff;
      box-sizing: border-box;
      height: 0;
      left: 0;
      overflow-y: auto;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 99;
    }
    .filter_list {
      padding: 130px 30px 0;
      background: #fff none repeat scroll 0 0;
      height: 100%;
      position: absolute;
      width: 100%;
      z-index: 99;
      .filter_title {
        font-family: Myriad;
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 33px;
        &.sizes {
          margin-bottom: 25px;
        }
      }
      hr {
        color: #ebebeb;
        left: 0;
        margin-top: -35px;
        opacity: 0.35;
        position: absolute;
        width: 100%;
      }
      ul {
        margin-bottom: 80px;
        &:last-child {
          margin-bottom: 120px;
        }
        &.sizes {
          li {
            float: left;
            margin-bottom: 0;
            a {
              display: inline-block;
              font-size: 30px;
              margin-left: 0;
              margin-right: 8px;
              outline: 1px solid #acacac;
              padding: 10px 0 11px;
              text-align: center;
              width: 76px;
              &.active {
                font-family: Myriad;
                outline: 1px solid #363636;
                font-weight: bold;
              }
            }
            &:last-child {
              a {
                margin-right: 0;
              }
            }
          }
        }
        li {
          margin-bottom: 58px;
          a {
            color: #363636;
            font-size: 32px;
            margin-left: -9px;
            padding: 8px;
            text-decoration: none;
            &.active {
              outline: 1px solid;
            }
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    .item_list {
      padding-top: 60px;
      text-align: center;
      ul {
        li {
          margin-bottom: 125px;
          &:last-child {
            margin-bottom: 85px;
          }
          a {
            color: #363636;
            display: inline-block;
            text-decoration: none;
            img {
              width: 100%;
              margin-bottom: 100px;
            }
            .descr {
              font-size: 32px;
              text-align: center;
              .title {
                display: block;
                font-weight: bold;
                margin-bottom: 10px;
              }
              .new_price {
                margin-right: 15px;
              }
              .old_price {
                color: #7d7d7d;
                text-decoration: line-through;
              }
            }
          }
        }
      }
      .button {
        background: #5e5e5e none repeat scroll 0 0;
        border-bottom: 1px solid #333;
        border-radius: 5px;
        color: #fff;
        display: inline-block;
        font-family: "Myriad Light",Arial;
        font-size: 36px;
        height: 80px;
        line-height: 75px;
        padding: 0 30px;
        text-decoration: none;
      }
    }
  }
  &.checkout-page {
    .order_list {
      .order_items {
        li {
          &:first-child {
            border-top: 1px solid #e1e1e1;
          }
        }
        .item {
          position: relative;
          border-bottom: 1px solid #e1e1e1;
          .delete_item {
            height: 20px;
            position: absolute;
            right: 30px;
            top: 26px;
            width: 20px;
          }

          .item_descr {
            float: left;
            font-size: 27px;
            padding-top: 20px;
            .title {
              margin-bottom: 15px;
              a {
                color: #363636;
                font-size: 27px;
                text-decoration: none;
              }
            }
            .code {
              margin-bottom: 13px;
            }
            .size {
              margin-bottom: 33px;
            }
          }
          .item_img {
            float: left;
            padding-top: 30px;
            text-align: center;
            width: 320px;
          }
        }
      }
    }
    .discount {
      padding-top: 30px;
      position: relative;
      margin-bottom: 40px;
      .text {
        font-size: 27px;
        margin-bottom: 12px;
      }
      .discount_button {
        bottom: 5px;
        display: inline-block;
        height: 70px;
        position: absolute;
        right: 6px;
        width: 70px;
        fill: #363636;
      }
      input {
        border: 1px solid #363636;
        font-family: Myriad Light;
        font-size: 27px;
        height: 80px;
        padding: 0 45px 0 25px;
        width: 100%;
      }
    }
    .total {
      font-size: 27px;
      margin-bottom: 80px;
      .price_text {
        margin-bottom: 18px;
        .price_title {
          float: left;
        }
        .price {
          float: right;
        }
        &.to_pay {
          font-family: Myriad;
          font-size: 38px;
          margin-top: 37px;
        }
      }
    }
    .profile_nav {
      margin-bottom: 55px;
      .profile_nav_link {
        display: inline-block;
        font-size: 28px;
        padding: 25px 22px;
        &.active {
          font-family: Myriad;
          font-weight: bold;
          outline: 1px solid;
        }
      }
    }
    .tab_wrapper {
      .tab_content {
        .input_block {
          label {
            display: inline-block;
            font-size: 32px;
            margin-bottom: 14px;
          }
          input {
            border: 1px solid #363636;
            font-family: Myriad Light;
            font-size: 27px;
            height: 80px;
            padding: 0 31px;
            width: 100%;
          }
          &.wrong {
            input {
              border: 1px solid #e84428!important;
            }
            .error_msg {
              display: inline-block;
            }
          }
          .error_msg {
            color: #e84428;
            display: none;
            margin-top: 5px;
            font-size: 20px;
          }
        }
        .login {
          a {
            color: #363636;
            display: inline-block;
            font-size: 32px;
            margin-left: 40px;
            text-decoration: none;
          }
        }
        .payment_description {
          font-size: 21px;
          padding-left: 42px;
          padding-top: 15px;
        }
        h2 {
          margin: 75px 0 50px;
        }
        .label_with_check {
          margin-bottom: 35px;
          .radio_label {
            font-size: 32px;
            vertical-align: middle;
          }
        }
      }
      .btn_holder {
        margin-top: 122px;
        text-align: center;
      }
    }
    h3 {
      font-size: 41px;
      margin-bottom: 50px;
      text-align: center;
    }
  }
  &.proof-page {
    text-align: center;
    .scss_text {
      line-height: 1.25;
      margin: 30px 0;
    }
    .text {
      font-size: 28px;
      line-height: 1.25;
      text-align: center;
      margin-bottom: 100px;
    }
    .btn_holder {
      text-align: center;
      margin-bottom: 115px;
    }
    .history_link {
      color: #363636;
      font-size: 27px;
      text-decoration: none;
    }
  }
}
.icon {
  svg {
    background: inherit;
    fill: inherit;
    height: 100%;
    vertical-align: top;
    width: 100%;
  }
}
.dropdown_menu_wrapper {
  background: #fff;
  box-sizing: border-box;
  height: 0;
  left: 0;
  overflow-y: auto;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 101;
}
.dropdown_menu {
  padding: 197px 30px 0;
  background: #fff none repeat scroll 0 0;
  height: 100%;
  position: absolute;
  width: 100%;
  z-index: 99;
  ul {
    li {
      margin-bottom: 58px;
      a {
        color: #363636;
        font-size: 32px;
        text-decoration: none;
      }
    }
  }
}
.body_wrapper {
  overflow: hidden;
  position: relative;
}
.mobile_height_spike {
  bottom: 0;
  left: 1px;
  position: fixed;
  top: 0;
  width: 1px;
}

.footer{
  background: #fafafa;
  border-top: 1px solid #e9e9e9;
  position: relative;
  text-align: center;
  color: #363636;
  padding: 33px 0 40px 0;

  .phone{
    font-size: 55px;
    margin-bottom: 40px;
    letter-spacing: -1.8px;
  }

  .footer_social_list {
    margin-bottom: 45px;
    ul {
      li {
        &:last-child{
          .social{
            margin-right: 0px;
          }
        }

        display: inline-block;
        .social {
          fill: #7d7d7d;
          display: inline-block;
          margin-right: 61px;
          &.fb {
            height: 80px;
            width: 44px;
          }
          &.vk {
            height: 72px;
            width: 60px;
          }
          &.tt {
            height: 73px;
            width: 93px;
          }
          &.yt {
            height: 75px;
            width: 83px;
          }
          &:hover {
            fill: #363636;
          }
        }
      }
    }
  }

  .change_lang{
    margin-bottom: 45px;

    .footer_lang_control{
      text-decoration: none;
      color: inherit;
      font-size: 30px;
      margin-bottom: 10px;
    }
  }

  .copyright{
    font-size: 22px;
    color: #707070;
    display: inline-block;
  }
}

.product-page{
  .go_back{
    height: 40px;
    margin-bottom: 20px;
    margin-top: -4px;

    a{
      margin-left: -10px;

      .icon{
        width: 50px;
        height: 47px;
        stroke: #363636;
        display: inline-block;
      }
    }
  }

  .product_card{
    .title{
      font-size: 41px;
      margin-bottom: 13px;
    }

    H1{
      margin-bottom: 13px;
    }

    .prices{
      font-size: 43px;
      margin-bottom: 40px;

      .old_price{
        color: #c2c2c2;
        text-decoration: line-through;
        padding-left: 32px;
      }
    }

    .attr-block{
      font-size: 29px;
      margin-bottom: 21px;
    }

    .sizes{
      margin-bottom: 70px;

      .sizes_holder{
        padding-top: 3px;

        a{
          float: left;
          display: block;
          height: 54px;
          line-height: 55px;
          width: 13%;
          margin-right: 1%;
          border: 1px solid #E1E1E1;

          font-size: 30px;
          text-decoration: none;
          text-align: center;
          color: #363636;

          &.active{
            .pro;
            font-weight: bold;
            border-color: #363636;
          }
        }
      }
    }

    .action{
      text-align: center;

      .button{
        width: 225px;
        padding-right: 0px;
        padding-left: 0px;
      }
    }
  }
}

.trends-page{
  h1{
    padding-top: 2px;
    font-size: 55px;
    letter-spacing: -3.5px;
    text-align: center;
    margin-bottom: 21px;
  }

  .one_entry{
    a,span{
      text-decoration: none;
      color: inherit;
      display: block;
      margin: 0 auto;
    }

    .cover{
      margin-bottom: 13px;
    }

    h2{
      font-size: 41px;
      line-height: 1.35;
      .padded-block;
      margin-bottom: 20px;
    }

    .post{
      font-size: 30px;
      line-height: 1.1;
      color: #898989;
      height: 66px;
      overflow: hidden;
      letter-spacing: -1.2px;
      margin-bottom: 20px;
    }

    .attrs{
      font-size: 30px;
      line-height: 1.1;
      color: #898989;
      letter-spacing: -1.2px;
      margin-bottom: 70px;
    }

    &.toggled.in{
      .post{
        color: #363636;
        height: auto;
        overflow: visible;
        line-height: 1.37;
      }
    }
  }

  .action{
    text-align: center;
  }

  .carvari_card {
    border-radius: 20px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.35);
    height: 340px;
    margin: 0 auto 35px;
    padding: 0 15px;
    text-align: center;
    width: 550px;
    .card_number{
      font-weight: bold;
      font-size: 36px;
      padding-top: 95px;
    }
    .holder_name {
      font-size: 28px;
      padding-top: 53px;
    }
    .holder_phone {
      font-size: 28px;
      padding-top: 12px;
    }
  }

}

.history-page{
  h1{
    padding-top: 0px;
    padding-bottom: 5px;
    margin-bottom: 40px;
  }

  .one_order{
    width: 100%;
    font-size: 33px;
    padding-bottom: 74px;
    position: relative;
    margin-bottom: 40px;

    &:after{
      position: absolute;
      content: '';
      bottom: 0px;
      left: -30px;
      right: -30px;
      border-bottom: 1px solid #ebebeb;
    }

    .attr{
      padding: 0 0 90px 0;

      &:last-child{
        padding: 0 0 0 0;
      }

      div{
        float: left;

        &:first-child{
          width: 200px;
          font-weight: bold;
        }

        &:nth-child(2){
          white-space: nowrap;
          width: 380px;
          overflow: hidden;
        }
      }
    }
  }


  .action{
    text-align: center;
  }
}

.map-page{
  h1{
    letter-spacing: -0.5px;
  }

  .input_block{
    margin-bottom: 35px;
  }

  .city_chooser{
    padding: 7px 0 0 0;
  }

  .slider{
    margin-bottom: 15px;

    .store_block{
      .title{
        font-size: 32px;
        font-weight: bold;
        letter-spacing: 0.2px;
        margin-bottom: 15px;
      }

      .info{
        font-size: 33px;
        padding: 0 0 0 0;
        line-height: 1.3;
      }
    }
  }

  .map_holder{
    height: 795px;
    background: #d9d9d9;
    margin-bottom: -145px;

    #is_map{
      height: 795px;
      width: 100%;
    }
  }
}