.light{
  font-family: 'Myriad Light', Arial;
}

.pro{
  @font-family: 'Myriad', Arial;
}

.padded_block,
.padded-block{
  padding: 0 30px;
  min-width: 640px;
  max-width: 720px;
  width: 100%;
  margin: 0 auto;
}

.slider{
  margin-bottom: 25px;
  padding-bottom: 42px;

  .slide{
    width: 100%;
    text-align: center;
    img{
      margin: 0 auto;
    }
  }

  .slick-dots{
    bottom: 0px;

    li{
      width: 6px;
      margin: 0 6px;
      padding: 0px;

      &:before{
        display: none;
      }

      button{
        &:before{
          content: '';
          width: 6px;
          height: 6px;
          border-radius: 6px;
          background: #444;
          border: 1px solid fade(#FFF, 50);
        }
      }
    }
  }
}

.full_screen_image{
  padding: 0 30px;

  IMG{
    width: 100%;
  }
}

IMG.full-screen-img{
  padding: 0;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
  display: block;
}

h1 {
  font-size: 50px;
  text-align: center;
  margin-bottom: 15px;
}
h2{
  font-size: 41px;
  margin-bottom: 20px;
}


.button{
  display: inline-block;
  background: #5e5e5e;
  border-radius: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #333;
  .light;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  font-size: 36px;
  line-height: 75px;
  height: 80px;
  padding: 0 33px;
  transition: .5s;
}

.slide_to_top{
  position: fixed;
  bottom: -3px;
  right: 40px;
  padding: 5px 11px;
  width: 50px;
  height: 50px;
  //border: 1px solid;
  border-radius: 5px;
  background: #7d7d7d;
  cursor: pointer;
  transition: .5s;

  &:hover{
    background: #363636;
  }

  i{
    width: 26px;
    height: 40px;
    stroke: #FFF;
    display: block;
    transform: rotate(180deg);
  }
}

.is_post{
  p{
    margin: 0 0 35px 0;
  }

  img{
    width: 100%;
    margin-bottom: 35px;
  }
}


.input_block{
  margin-bottom: 55px;
  position: relative;
  select {
    border: 1px solid #363636;
    .light;
    font-size: 28px;
    height: 80px;
    padding: 0 0 0 30px;
    width: 100%;
    background: #fff;
  }
  .icon {
    bottom: 33px;
    display: block;
    fill: red;
    height: 14px;
    position: absolute;
    right: 20px;
    stroke: #acacac;
    width: 14px;
  }
}
