<div id="ulogin_accounts">
    {foreach from=$networks item=network}
        <div class="{$network['network']}_big ulogin_network big_provider" data-ulogin-network="{$network['network']}">
            <i class="fa fa-facebook"></i>
        </div>
    {/foreach}
</div>

