html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { border: 0; font-size: 100%; font: inherit; vertical-align: baseline; margin: 0; padding: 0; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; }
ol, ul { list-style: none; }
table { border-collapse: collapse; border-spacing: 0; }
*:focus, a { outline: none; }
input { outline: 0 }
input::-ms-clear {display: none;}
input[type="submit"] {line-height: 0 !important; padding:0 ;}
button {line-height: 0 !important; padding:0 !important;}

img { border: none; }
.fs0 { font-size: 0 !important; }
.fs1 { font-size: 1px !important; }
.fs8 { font-size: 8px !important; }
.fs9 { font-size: 9px !important; }
.fs10 { font-size: 10px !important; }
.fs11 { font-size: 11px !important; }
.fs12 { font-size: 12px !important; }
.fs13 { font-size: 13px !important; }
.fs14 { font-size: 14px !important; }
.fs15 { font-size: 15px !important; }
.fs16 { font-size: 16px !important; }
.fs17 { font-size: 17px !important; }
.fs18 { font-size: 18px !important; }
.fs19 { font-size: 19px !important; }
.fs20 { font-size: 20px !important; }
.fs21 { font-size: 21px !important; }
.fs22 { font-size: 22px !important; }
.fs23 { font-size: 23px !important; }
.fs24 { font-size: 24px !important; }
.fs25 { font-size: 25px !important; }
.fs26 { font-size: 26px !important; }
.fs28 { font-size: 28px !important; }
.fs30 { font-size: 30px !important; }
.fs35 { font-size: 35px !important; }
.fs40 { font-size: 40px !important; }
.fs50 { font-size: 50px !important; }

.ln0 { line-height: 0 !important; }
.lh1 { line-height: 1 !important; }
.lh8 { line-height: 8px !important; }
.lh9 { line-height: 9px !important; }
.lh10 { line-height: 10px !important; }
.lh11 { line-height: 11px !important; }
.lh12 { line-height: 12px !important; }
.lh13 { line-height: 13px !important; }
.lh14 { line-height: 14px !important; }
.lh15 { line-height: 15px !important; }
.lh16 { line-height: 16px !important; }
.lh17 { line-height: 17px !important; }
.lh18 { line-height: 18px !important; }
.lh19 { line-height: 19px !important; }
.lh20 { line-height: 20px !important; }
.lh21 { line-height: 21px !important; }
.lh22 { line-height: 22px !important; }
.lh23 { line-height: 23px !important; }
.lh24 { line-height: 24px !important; }
.lh25 { line-height: 25px !important; }
.lh28 { line-height: 28px !important; }
.lh30 { line-height: 30px !important; }
.lh35 { line-height: 35px !important; }
.lh40 { line-height: 40px !important; }

.block { display: block !important; }
.inline { display: inline !important; }
.table-cell { display: table-cell !important; }
.inline-block { display: inline-block !important; }
.none { display: none !important; }
.hidden { visibility: hidden !important; }
.visible { visibility: visible !important; }
.clear { clear: both; height: 0; font-size: 0; line-height: 0; overflow: hidden; display: block; }
.fleft { float: left !important; }
.fright { float: right !important; }
.fnone { float: none !important; }

.tar { text-align: right !important; }
.tal { text-align: left !important; }
.tac { text-align: center !important; }
.taj { text-align: justify !important; }

.cp { cursor: pointer !important; }
.cd { cursor: default !important; }

.tdn { text-decoration: none !important; }
.tdu { text-decoration: underline !important; }

.fwb { font-weight: 700 !important; }
.fwn { font-weight: 400 !important; }
.upc { text-transform: uppercase !important; }
.lwc { text-transform: lowercase !important; }

.pt0 { padding-top: 0 !important; }
.pt1 { padding-top: 1px !important; }
.pt2 { padding-top: 2px !important; }
.pt3 { padding-top: 3px !important; }
.pt4 { padding-top: 4px !important; }
.pt5 { padding-top: 5px !important; }
.pt6 { padding-top: 6px !important; }
.pt7 { padding-top: 7px !important; }
.pt8 { padding-top: 8px !important; }
.pt9 { padding-top: 9px !important; }
.pt10 { padding-top: 10px !important; }
.pt11 { padding-top: 11px !important; }
.pt12 { padding-top: 12px !important; }
.pt13 { padding-top: 13px !important; }
.pt14 { padding-top: 14px !important; }
.pt15 { padding-top: 15px !important; }
.pt16 { padding-top: 16px !important; }
.pt17 { padding-top: 17px !important; }
.pt18 { padding-top: 18px !important; }
.pt19 { padding-top: 19px !important; }
.pt20 { padding-top: 20px !important; }
.pt21 { padding-top: 21px !important; }
.pt25 { padding-top: 25px !important; }
.pt30 { padding-top: 30px !important; }
.pt35 { padding-top: 35px !important; }
.pt37 { padding-top: 37px !important; }
.pt40 { padding-top: 40px !important; }
.pt42 { padding-top: 42px !important; }
.pt45 { padding-top: 45px !important; }
.pt50 { padding-top: 50px !important; }
.pt54 { padding-top: 54px !important; }
.pt69 { padding-top: 69px !important; }

.pr0 { padding-right: 0 !important; }
.pr1 { padding-right: 1px !important; }
.pr2 { padding-right: 2px !important; }
.pr3 { padding-right: 3px !important; }
.pr4 { padding-right: 4px !important; }
.pr5 { padding-right: 5px !important; }
.pr6 { padding-right: 6px !important; }
.pr7 { padding-right: 7px !important; }
.pr8 { padding-right: 8px !important; }
.pr9 { padding-right: 9px !important; }
.pr10 { padding-right: 10px !important; }
.pr11 { padding-right: 11px !important; }
.pr12 { padding-right: 12px !important; }
.pr13 { padding-right: 13px !important; }
.pr14 { padding-right: 14px !important; }
.pr15 { padding-right: 15px !important; }
.pr16 { padding-right: 16px !important; }
.pr17 { padding-right: 17px !important; }
.pr18 { padding-right: 18px !important; }
.pr19 { padding-right: 19px !important; }
.pr20 { padding-right: 20px !important; }
.pr25 { padding-right: 25px !important; }
.pr29 { padding-right: 29px !important; }
.pr30 { padding-right: 30px !important; }
.pr34 { padding-right: 34px !important; }
.pr35 { padding-right: 35px !important; }
.pr40 { padding-right: 40px !important; }
.pr45 { padding-right: 45px !important; }
.pr50 { padding-right: 50px !important; }

.pb0 { padding-bottom: 0 !important; }
.pb1 { padding-bottom: 1px !important; }
.pb2 { padding-bottom: 2px !important; }
.pb3 { padding-bottom: 3px !important; }
.pb4 { padding-bottom: 4px !important; }
.pb5 { padding-bottom: 5px !important; }
.pb6 { padding-bottom: 6px !important; }
.pb7 { padding-bottom: 7px !important; }
.pb8 { padding-bottom: 8px !important; }
.pb9 { padding-bottom: 9px !important; }
.pb10 { padding-bottom: 10px !important; }
.pb11 { padding-bottom: 11px !important; }
.pb12 { padding-bottom: 12px !important; }
.pb13 { padding-bottom: 13px !important; }
.pb14 { padding-bottom: 14px !important; }
.pb15 { padding-bottom: 15px !important; }
.pb16 { padding-bottom: 16px !important; }
.pb17 { padding-bottom: 17px !important; }
.pb18 { padding-bottom: 18px !important; }
.pb19 { padding-bottom: 19px !important; }
.pb20 { padding-bottom: 20px !important; }
.pb25 { padding-bottom: 25px !important; }
.pb30 { padding-bottom: 30px !important; }
.pb35 { padding-bottom: 35px !important; }
.pb40 { padding-bottom: 40px !important; }
.pb45 { padding-bottom: 45px !important; }
.pb50 { padding-bottom: 50px !important; }
.pb65 { padding-bottom: 65px !important; }
.pb150 { padding-bottom: 150px !important; }
.pb200 { padding-bottom: 200px !important; }

.pl0 { padding-left: 0 !important; }
.pl1 { padding-left: 1px !important; }
.pl2 { padding-left: 2px !important; }
.pl3 { padding-left: 3px !important; }
.pl4 { padding-left: 4px !important; }
.pl5 { padding-left: 5px !important; }
.pl6 { padding-left: 6px !important; }
.pl7 { padding-left: 7px !important; }
.pl8 { padding-left: 8px !important; }
.pl9 { padding-left: 9px !important; }
.pl10 { padding-left: 10px !important; }
.pl11 { padding-left: 11px !important; }
.pl12 { padding-left: 12px !important; }
.pl13 { padding-left: 13px !important; }
.pl14 { padding-left: 14px !important; }
.pl15 { padding-left: 15px !important; }
.pl16 { padding-left: 16px !important; }
.pl17 { padding-left: 17px !important; }
.pl18 { padding-left: 18px !important; }
.pl19 { padding-left: 19px !important; }
.pl20 { padding-left: 20px !important; }
.pl21 { padding-left: 21px !important; }
.pl25 { padding-left: 25px !important; }
.pl29 { padding-left: 29px !important; }
.pl30 { padding-left: 30px !important; }
.pl35 { padding-left: 35px !important; }
.pl40 { padding-left: 40px !important; }
.pl45 { padding-left: 45px !important; }
.pl50 { padding-left: 50px !important; }

.ma {margin: auto;}
.mt0 { margin-top: 0 !important; }
.mt1 { margin-top: 1px !important; }
.mt2 { margin-top: 2px !important; }
.mt3 { margin-top: 3px !important; }
.mt4 { margin-top: 4px !important; }
.mt5 { margin-top: 5px !important; }
.mt6 { margin-top: 6px !important; }
.mt7 { margin-top: 7px !important; }
.mt8 { margin-top: 8px !important; }
.mt9 { margin-top: 9px !important; }
.mt10 { margin-top: 10px !important; }
.mt11 { margin-top: 11px !important; }
.mt12 { margin-top: 12px !important; }
.mt13 { margin-top: 13px !important; }
.mt14 { margin-top: 14px !important; }
.mt15 { margin-top: 15px !important; }
.mt16 { margin-top: 16px !important; }
.mt17 { margin-top: 17px !important; }
.mt18 { margin-top: 18px !important; }
.mt19 { margin-top: 19px !important; }
.mt20 { margin-top: 20px !important; }
.mt21 { margin-top: 21px !important; }
.mt25 { margin-top: 25px !important; }
.mt27 { margin-top: 27px !important; }
.mt29 { margin-top: 29px !important; }
.mt30 { margin-top: 30px !important; }
.mt31 { margin-top: 31px !important; }
.mt35 { margin-top: 35px !important; }
.mt37 { margin-top: 37px !important; }
.mt40 { margin-top: 40px !important; }
.mt45 { margin-top: 45px !important; }
.mt50 { margin-top: 50px !important; }
.mt70 { margin-top: 70px !important; }
.mt95 { margin-top: 95px !important; }
.mt98 { margin-top: 98px !important; }
.mt120 { margin-top:120px !important; }

.mr0 { margin-right: 0 !important; }
.mr1 { margin-right: 1px !important; }
.mr2 { margin-right: 2px !important; }
.mr3 { margin-right: 3px !important; }
.mr4 { margin-right: 4px !important; }
.mr5 { margin-right: 5px !important; }
.mr6 { margin-right: 6px !important; }
.mr7 { margin-right: 7px !important; }
.mr8 { margin-right: 8px !important; }
.mr9 { margin-right: 9px !important; }
.mr10 { margin-right: 10px !important; }
.mr11 { margin-right: 11px !important; }
.mr12 { margin-right: 12px !important; }
.mr13 { margin-right: 13px !important; }
.mr14 { margin-right: 14px !important; }
.mr15 { margin-right: 15px !important; }
.mr16 { margin-right: 16px !important; }
.mr17 { margin-right: 17px !important; }
.mr18 { margin-right: 18px !important; }
.mr19 { margin-right: 19px !important; }
.mr20 { margin-right: 20px !important; }
.mr25 { margin-right: 25px !important; }
.mr30 { margin-right: 30px !important; }
.mr35 { margin-right: 35px !important; }
.mr40 { margin-right: 40px !important; }
.mr45 { margin-right: 45px !important; }
.mr50 { margin-right: 50px !important; }
.mr100 { margin-right: 100px !important; }
.mr194 { margin-right: 194px !important; }

.mb0 { margin-bottom: 0 !important; }
.mb1 { margin-bottom: 1px !important; }
.mb2 { margin-bottom: 2px !important; }
.mb3 { margin-bottom: 3px !important; }
.mb4 { margin-bottom: 4px !important; }
.mb5 { margin-bottom: 5px !important; }
.mb6 { margin-bottom: 6px !important; }
.mb7 { margin-bottom: 7px !important; }
.mb8 { margin-bottom: 8px !important; }
.mb9 { margin-bottom: 9px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb11 { margin-bottom: 11px !important; }
.mb12 { margin-bottom: 12px !important; }
.mb13 { margin-bottom: 13px !important; }
.mb14 { margin-bottom: 14px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb16 { margin-bottom: 16px !important; }
.mb17 { margin-bottom: 17px !important; }
.mb18 { margin-bottom: 18px !important; }
.mb19 { margin-bottom: 19px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb21 { margin-bottom: 21px !important; }
.mb22 { margin-bottom: 22px !important; }
.mb23 { margin-bottom: 23px !important; }
.mb24 { margin-bottom: 24px !important; }
.mb25 { margin-bottom: 25px !important; }
.mb26 { margin-bottom: 26px !important; }
.mb27 { margin-bottom: 27px !important; }
.mb28 { margin-bottom: 28px !important; }
.mb29 { margin-bottom: 29px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb31 { margin-bottom: 31px !important; }
.mb32 { margin-bottom: 32px !important; }
.mb33 { margin-bottom: 33px !important; }
.mb34 { margin-bottom: 34px !important; }
.mb35 { margin-bottom: 35px !important; }
.mb36 { margin-bottom: 36px !important; }
.mb37 { margin-bottom: 37px !important; }
.mb40 { margin-bottom: 40px !important; }
.mb45 { margin-bottom: 45px !important; }
.mb50 { margin-bottom: 50px !important; }
.mb55 { margin-bottom: 55px !important; }
.mb60 { margin-bottom: 60px !important; }
.mb95 { margin-bottom: 95px !important; }
.mb114 {margin-bottom: 114px !important;}
.mb120 {margin-bottom: 120px !important;}
.mb165 {margin-bottom: 165px !important;}
.mb189 {margin-bottom: 189px !important;}

.ml0 { margin-left: 0 !important; }
.ml1 { margin-left: 1px !important; }
.ml2 { margin-left: 2px !important; }
.ml3 { margin-left: 3px !important; }
.ml4 { margin-left: 4px !important; }
.ml5 { margin-left: 5px !important; }
.ml6 { margin-left: 6px !important; }
.ml7 { margin-left: 7px !important; }
.ml8 { margin-left: 8px !important; }
.ml9 { margin-left: 9px !important; }
.ml10 { margin-left: 10px !important; }
.ml11 { margin-left: 11px !important; }
.ml12 { margin-left: 12px !important; }
.ml13 { margin-left: 13px !important; }
.ml14 { margin-left: 14px !important; }
.ml15 { margin-left: 15px !important; }
.ml16 { margin-left: 16px !important; }
.ml17 { margin-left: 17px !important; }
.ml18 { margin-left: 18px !important; }
.ml19 { margin-left: 19px !important; }
.ml20 { margin-left: 20px !important; }
.ml23 { margin-left: 23px !important; }
.ml25 { margin-left: 25px !important; }
.ml28 { margin-left: 28px !important; }
.ml30 { margin-left: 30px !important; }
.ml35 { margin-left: 35px !important; }
.ml40 { margin-left: 40px !important; }
.ml45 { margin-left: 45px !important; }
.ml50 { margin-left: 50px !important; }

.pr { position: relative !important; }
.ps { position: static !important; }
.pn { position: inherit !important; }
.pa { position: absolute !important; }

.top1 { top: 1px !important; }
.top2 { top: 2px !important; }
.top3 { top: 3px !important; }
.top4 { top: 4px !important; }
.top5 { top: 5px !important; }
.top6 { top: 6px !important; }
.top7 { top: 7px !important; }
.top8 { top: 8px !important; }
.top9 { top: 9px !important; }
.top10 { top: 10px !important; }
.top13 { top: 13px !important; }
.top14 { top: 14px !important; }
.top15 { top: 15px !important; }
.top16 { top: 16px !important; }
.top18 { top: 18px !important; }
.top20 { top: 20px !important; }
.topm1 { top: -1px !important; }
.topm2 { top: -2px !important; }
.topm3 { top: -3px !important; }
.topm4 { top: -4px !important; }
.topm5 { top: -5px !important; }
.topm6 { top: -6px !important; }
.topm7 { top: -7px !important; }
.topm8 { top: -8px !important; }
.topm9 { top: -9px !important; }
.topm10 { top: -10px !important; }
.topm12 { top: -12px !important; }
.topm16 { top: -16px !important; }
.topm18 { top: -18px !important; }

.left1 { left: 1px !important; }
.left2 { left: 2px !important; }
.left3 { left: 3px !important; }
.left4 { left: 4px !important; }
.left5 { left: 5px !important; }
.left6 { left: 6px !important; }
.left7 { left: 7px !important; }
.left8 { left: 8px !important; }
.left9 { left: 9px !important; }
.left10 { left: 10px !important; }
.leftm1 { left: -1px !important; }
.leftm2 { left: -2px !important; }
.leftm3 { left: -3px !important; }
.leftm4 { left: -4px !important; }
.leftm5 { left: -5px !important; }
.leftm6 { left: -6px !important; }
.leftm7 { left: -7px !important; }
.leftm8 { left: -8px !important; }
.leftm9 { left: -9px !important; }
.leftm10 { left: -10px !important; }
.leftm15 { left: -15px !important; }
.right1 { right: 1px !important; }
.right10 { right: 10px !important; }

.oa { overflow: auto !important; }
.oh { overflow: hidden !important; }

.vabase { vertical-align: baseline !important; }
.vat { vertical-align: top !important; }
.vam { vertical-align: middle !important; }
.vab { vertical-align: bottom !important; }

.brn { border: none !important; }
.nw {white-space: nowrap !important;}
.wa {width: auto !important;}
.ha {height: auto !important;}

.toe {text-overflow: ellipsis !important;}
.w100p {width: 100%;}
.color_red {color: red !important;}
.bgr {background: red !important;}
.lsp0{letter-spacing: 0 !important;}
.bgw {background: #fff !important;}

.cl_black { color: #000;}
.cl_white { color: #fff;}

.bg_white { background-color: #fff;}

.clearfix{
  &:after{
	clear: both;
	content: " ";
	display: block;
	font-size: 0;
	height: 0;
	visibility: hidden;
  }
}