@import "general-css.less";
@import "general.less";
@import "fonts/fonts.css";
@import "ui-kit.less";

body,html {
  width: 100%;
  height:100%;
  min-width: 1000px;
  font-family: Myriad Light,arial,sans-serif;
  color: #363636;
}

.body_wrapper{
  min-height:100%;
  position:relative;
  padding-bottom: 290px;
  box-sizing: border-box;
}

input {
  font-size: 18px;
  &:focus {
    border: 1px solid #7da7d9!important;
  }
}
input[type=button],input[type=submit] {
  &:focus {
    border: none!important;
  }
}

* {
  .box-sizing();
}

.min_width {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}
.dropdown_menu {
  background: #ffffff;
  border-bottom: 1px solid #e9e9e9;
  height: 230px;
  text-align: center;
  &.fixed {
    position: absolute;
    top: 110px;
    left: 0;
    width: 100%;
    z-index: 999;
  }
  .dd_menu_list {
    float: left;
    padding-top: 15px;
    li {
      margin-bottom: 13px;
      max-width: 250px;
      min-width: 160px;
      padding-left: 1px;
      padding-top: 1px;
      text-align: left;
    }
    a {
      color: #363636;
      display: inline-block;
      padding: 11px 20px;
      text-decoration: none;
      &:hover {
        outline: 1px solid #707070;
      }
    }
  }
}
.dot {
  width: 8px;
  display: inline-block;
  height: 29px;
  text-align: center;
  background: url("../img/carvari_logo.svg") no-repeat;
  background-position: -89px -2px!important;
  position: absolute;
  z-index: 100;
  left: 50%;
  margin-left: -40px;
  top: 20px;
}

.hovered_logo {
  left: 440px;
  position: absolute;
  top: 20px;
  text-decoration: none;
  span {
    display: inline-block;
    width: 20px;
    height: 29px;
    text-align: center;
    transform-origin: 10px 10px;
    background: url("../img/carvari_logo.svg") no-repeat;
  }
  //&.animate {
  //  span {
  //    -webkit-animation-name: animent;
  //    animation-name: animent;
  //    -webkit-animation-duration: 0.5s;
  //    animation-duration: 0.5s;
  //    -webkit-animation-timing-function: linear;
  //    animation-timing-function: linear;
  //    -webkit-animation-iteration-count: 1;
  //    animation-iteration-count: 1;
  //  }
  //}
  .l {
    background-position: -70px -2px!important;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  .dot {
    width: 8px;
    display: inline-block;
    height: 29px;
    text-align: center;
    background: url("../img/carvari_logo.svg") no-repeat;
    background-position: -89px -2px!important;
    margin-left: -4px;
    position: static;
    opacity: 0;
  }
  .c {
    background-position: -102px -2px!important;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
  }
  .a {
    background-position: -126px -2px!important;
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
  }
  .r {
    background-position: -150px -2px!important;

    -webkit-animation-delay: .6s;
    animation-delay: .6s;
  }
  .v {
    background-position: -175px -2px!important;

    -webkit-animation-delay: .8s;
    animation-delay: .8s;
  }
  .a2 {
    background-position: -199px -2px!important;

    -webkit-animation-delay: 1s;
    animation-delay: 1s;
  }
  .r2 {
    background-position: -223px -2px!important;

    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
  }
  .i {
    background-position: -248px -2px!important;

    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
  }
}

@keyframes animent{
  0%{
    transform: scaleX(1);
  }
  25% {
    transform: scaleX(0);
  }
  50% {
    transform: scaleX(-1);
  }
  75% {
    transform: scaleX(0);
  }
  100%{
    transform: scaleX(1);
  }
}
@-webkit-keyframes animent{
  0%{
    -webkit-transform: scaleX(1);
  }
  25% {
    -webkit-transform: scaleX(0);
  }
  50% {
    -webkit-transform: scaleX(-1);
  }
  75% {
    -webkit-transform: scaleX(0);
  }
  100%{
    -webkit-transform: scaleX(1);
  }
}

.header {
  background: #fafafa;
  border-bottom: 1px solid #e9e9e9;
  height: 110px;
  position: absolute;
  width: 100%;
  font-family: Myriad Light,arial, sans-serif;
  font-size: 18px;
  color: #363636;
  z-index: 1000;
  overflow: hidden;
  transition: .2s linear;
  &.imp {
    height: 70px!important;
  }
  &.fixed {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
  }
  .min_width {
    height: 100%;
  }
  .head_logo {
    width: 270px;
    height: 40px;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -130px;
    top: 18px;
    padding-left: 70px;
    padding-top: 2px;
    .bird {
//      background: url("../img/carvari_logo.svg") no-repeat;
      height: 40px;
      width: 60px;
      position: absolute;
      top: 0;
      left: 0;
      transition: .2s linear;
      transform: rotate(0);
      -webkit-transform: rotate(0);
      &.animate {
        transform: rotate(34deg);
        -webkit-transform: rotate(34deg);
      }
      &.dead {
        transition: .5s ease-in;
        transform: rotate(-160deg);
        -webkit-transform: rotate(-160deg);
        transform-origin: 0 30px 0;
      }
    }
    .body {
      background: url("../img/carvari_logo.svg") no-repeat;
      height: 24px;
      position: relative;
      transform: rotate(0) translate(0, 0);
      transition: all 0.2s linear 0s;
      width: 60px;
      &.animate {
        transform: rotate(34deg) translate(10px, -3px);
        -webkit-transform: rotate(34deg) translate(10px, -3px);
      }
    }
    .legs {
      background: url("../img/carvari_logo.svg") no-repeat 0 -24px;
      height: 20px;
      width: 60px;
    }
  }
  .menu_list {
    position: absolute;
    top: 75px;
    li {
      margin-right: 189px;
      float: left;
      span {
        color: #363636;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.4s ease-out 0s;
        &:hover, &.active {
          border-bottom: 2px solid #636363;
          padding-bottom: 12px;
        }
        &.menu_burger {
          border-bottom: none;
          padding-bottom: 0;
        }
      }
      &:nth-of-type(4) {
        margin-right: 0;
      }
    }
  }
  .menu_burger{
    position: absolute;
    right: 6px;
    bottom: 2px;
    width: 19px;
    height: 14px;
    cursor: pointer;
    div {
      background: #7d7d7d none repeat scroll 0 0;
      display: block;
      height: 2px;
      left: 50%;
      margin-left: -9px;
      opacity: 1;
      position: absolute;
      transition: all 0.3s ease 0s, left 0.2s ease 0s;
      width: 19px;
    }

    div:nth-of-type(1){top: 0px;}
    div:nth-of-type(2){top: 6px;}
    div:nth-of-type(3){top: 12px;}

    &.active{
      div:nth-of-type(1){
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
      div:nth-of-type(2){
        left: 0;
        opacity: 0;
      }
      div:nth-of-type(3){
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
      div:nth-of-type(1),
      div:nth-of-type(3){
        top: 7px;
        width: 19px;
      }
    }
  }
  .cart {
    position: absolute;
    right: 3px;
    top: 15px;
    width: 26px;
    height: 32px;
    font-size: 13px;
    text-align: center;
    padding-top: 15px;
    text-decoration: none;
    color: #363636;
    background: url("../img/cart_icon.svg") no-repeat;
    .icon {
      fill: #7d7d7d;
      height: 30px;
      left: -2px;
      position: absolute;
      stroke: #7d7d7d;
      top: 0;
      width: 30px;
    }
    &:hover {
      -webkit-animation-name: hvr-buzz-out;
      animation-name: hvr-buzz-out;
      -webkit-animation-duration: 0.5s;
      animation-duration: 0.5s;
      -webkit-animation-timing-function: linear;
      animation-timing-function: linear;
      -webkit-animation-iteration-count: 1;
      animation-iteration-count: 1;
      .icon {
        fill: #363636;
        stroke: #363636;
      }
    }
  }
}
.container {
  width: 1000px;
  margin: 0 auto;
  &.pt155 {
    padding-top: 155px;
    padding-bottom: 20px;
  }
  &.big {
    width: 100%;
  }
}
.main_content {
  padding-bottom: 20px;
  padding-top: 155px;

  //min_width
  width: 1000px;
  margin: 0 auto;
  position: relative;

  &.page404 {
    text-align: center;
    h1 {
      font-size: 64px;
      margin-bottom: 16px;
    }
    .text404 {
      font-size: 40px;
      margin-bottom: 30px;
      a {
        color: #363636;
        &:hover {
          text-decoration: none;
        }
      }
    }
  }
  &.list {
    width: 100%;
  }
  //  transition: .3s linear;
  .clearfix;
  &.fixed {
    padding-top: 155px;
  }
  &.fixed2 {
    padding-top: 385px;
  }
  .choose_gender_container {
    .choose_gender {
      float: left;
      height: 477px;
      margin-bottom: 20px;
      padding: 15px 2px 2px;
      text-decoration: none;
      width: 490px;
      &:hover {
        border: 2px solid #e9e9e9;
        padding: 13px 0 0;
      }
      &:first-child {
        margin-right: 20px;
      }
      .title {
        font-size: 63px;
        color: #636363;
        line-height: 50px;
        text-transform: uppercase;
        text-align: center;
      }
      .img_container {
        height: 410px;
        width: 485px;
      }
        &.female {
        .img_container {
          background: url("../img/main_page_content/ladies.png") no-repeat;
        }
      }
      &.male {
        .img_container {
          background: url("../img/main_page_content/man.png") no-repeat;
        }
      }
    }
  }
  .find_pair {
    display: block;
    text-decoration: none;
    position: relative;
    //background: url("../img/main_page_content/find_pair.png") no-repeat;
    height: 305px;
    color: #ffffff;
    &:hover {
      outline: 2px solid #e9e9e9;
    }
  }
  .big_text {
    font-family: Myriad;
    font-size: 48px;
    font-weight: bold;
    letter-spacing: 5px;
    position: absolute;
    right: 22px;
    text-transform: uppercase;
    top: 33px;
  }
  .small_text {
    font-family: Myriad;
    font-size: 40px;
    letter-spacing: 3px;
    position: absolute;
    right: 75px;
    top: 91px;
  }
  .nav_blocks {
    float: left;
    height: 270px;
    width: 490px;
    color: #ffffff;
    text-decoration: none;
    position: relative;
    &:hover {
      outline: 2px solid #e9e9e9;
    }
    &.first {
      margin-right: 20px;
      //background: url("../img/main_page_content/nav_block1.png") no-repeat;
      .title {
        font-family: Myriad;
        font-size: 52px;
        font-weight: bold;
        left: 30px;
        letter-spacing: 2px;
        position: absolute;
        text-transform: uppercase;
        top: 21px;
      }
    }
    &.second {
      //background: url("../img/main_page_content/nav_block2.png") no-repeat;
      .title {
        bottom: 12px;
        font-family: Myriad;
        font-size: 49px;
        font-weight: bold;
        left: 17px;
        letter-spacing: 2px;
        position: absolute;
        text-transform: uppercase;
      }
    }
  }
  .find_pair {
    margin-bottom: 20px;
  }
  .item_list {
    padding-top: 40px;
    .items {
      display: flex;
      -webkit-display: flex;
      display: -webkit-flex;
      flex-wrap: wrap;
      justify-content: space-around;
      -webkit-flex-wrap: wrap;
      -webkit-justify-content: space-around;
      margin-left: auto;
      margin-right: auto;
      padding: 0 20px;
      li {
        max-width: 310px;
      }
      .item {
        display: inline-block;
        margin-bottom: 105px;
        min-width: 100%;
        position: relative;
        text-align: center;
        vertical-align: baseline;
        width: 30%;
        padding-left: 1px;
        padding-bottom: 20px;
        text-decoration: none;
        color: #363636;
        img {
          margin-bottom: 15px;
          max-width: 100%;
        }
        &:hover {
          outline: 1px solid #ececec;
        }
      }
      .item_price {
        display: block;
      }
      .name {
        display: block;
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 8px;
        line-height: 1.3;
        word-wrap: break-word;
      }
      .price {
        display: inline-block;
        margin-right: 10px;
      }
      .old_price {
        display: inline-block;
        color: #a1a1a1;
        text-decoration: line-through;
      }
    }
  }
  .pager {
    margin: -22px 0 80px;
    text-align: center;
    .pager_list {
      display: inline-block;
      li {
        &.dots {
          &:hover, &.active {
            outline:none;
          }
        }
        display: inline-block;
        height: 39px;
        line-height: 39px;
        vertical-align: middle;
        width: 39px;
        a, span {
          height: 39px;
          width: 39px;
          font-size: 20px;
          display: inline-block;
          text-decoration: none;
          color: #363636;
        }
        &:hover, &.active {
          outline:1px solid #707070;
        }
      }
    }
  }
  h1 {
    font-size: 34px;
    margin-bottom: 20px;
    line-height: 40px;
  }
  .bread_crumbs { 
    margin-bottom: 15px;
    li {
      display: inline-block;
    }
    a,span,li {
      color: #9b9b9b;
      font-size: 16px;
      text-decoration: underline;
      position: relative;
      padding-left: 20px;
      &:before {
        content: "→";
        position: absolute;
        display: inline-block;
        left: 2px;
      }
      &:hover {
        text-decoration: none;
      }
      &:first-child {
        padding-left: 0;
        &:before {
          display: none;
        }
      }
    }
    span, li {
      text-decoration: none;
    }
  }
  .top_content {
    padding-left: 45px;
  }
  .big_img {
    padding: 0 45px;
    .temp_img {
      height: 280px;
      width: 100%;
      background: url("../img/main_page_content/temp_big_img.png") center center;
      background-size: cover;
      border: 1px solid #e9e9e9;
    }
  }
  .filters {
    background: #ffffff none repeat scroll 0 0;
    min-height: 75px;
    position: relative;
    width: 100%;
    .expand_filter_btn {
      height: 36px;
      left: -30px;
      position: absolute;
      top: 0;
      width: 20px;
      cursor: pointer;
      transition:.3s linear;
      z-index: 2;
      .icon {
        stroke: #363636;
      }
      &.close {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
      }
    }
    .filters_wrapper {
      background: #ffffff none repeat scroll 0 0;
      border-bottom: 1px solid #e9e9e9;
      padding: 10px 0;
      position: absolute;
      width: 100%;
      z-index: 1;
      top: -44px;
      &.fixed {
        position: fixed;
        top: 70px;
      }

    }
    .filter_list {
      > .title {
        float: none;
        line-height: 30px;
        margin-right: 7px;
      }
    }
    .table_exp {
      background: #ffffff;
      position: relative;
      z-index: 1;
      padding-top: 8px;
      margin-left: -17px;
    }
    .filter_block {
      float: left;
      .empty_filter {
        float: left;
        margin-right: 5px;
        padding: 9px;
        cursor: pointer;
        color: #a1a1a1;
      }
      .filter_name {
        float: left;
        margin-right: 5px;
        padding: 9px;
        outline: 1px solid #cccccc;
        cursor: pointer;

        &.price_filt {
          position: absolute;
          right: 0;
          &:hover {
            .filt_item {
              text-decoration: none;
              color: #363636;
              cursor: pointer;
            }
          }
        }
        &:hover {
          .filt_item {
            text-decoration: line-through;
            color: #a1a1a1;
            cursor: pointer;
          }
        }
      }
      .filter_items {
        display: inline-block;
      }
    }
  }
  .clean_filter {
    color: #adadad;
    float: right;
    margin-top: 13px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .filter_wrap {
    float: left;
  }
  .filter_exp {
//    float: left;
    width: 208px;
    max-height: 300px;
    &.size {
      width: 135px;
    }
    &.title {
      margin-bottom: 30px;
      padding-left: 17px;
      font-family: Myriad,arial, sans-serif;
    }
  }
  .filter_exp_title {
    float: left;
    margin-bottom: 30px;
    width: 100%;
  }
  .filter_options {
    padding-left: 10px;
    padding-top: 10px;
    .item {
      padding: 7px;
      cursor: pointer;
      &:hover, &.active {
        outline: 1px solid #707070;
      }
    }
    li {
      margin-bottom: 24px;
    }
  }
  .filters_exp {
    &.js_list_over {
      max-height: 475px;
    }
    > .title {
      float: left;
      line-height: 35px;
      margin-right: 7px;
    }
  }
  &.checkout {
    &.thx {
      .delete_item {
        display: none;
      }
      .right_content {
        h1 {
          color: #959595;
        }
      }
    }
    padding-bottom: 70px;
    .thx_text {
      font-size: 18px;
    }
    .profile_nav {
      width: 100%;
      margin-left: -20px;
      margin-bottom: 30px;
      .profile_nav_link {
        text-decoration: none;
        display: inline-block;
        padding: 11px 20px;
        color: #363636;
        font-size: 18px;
        cursor: pointer;
        .underline {
          display: block;
          height: 1px;
          width: 100%;
          background: #707070;
        }
        &:last-child {
          margin-right: 0;
        }
        &:hover, &.active {
          outline: 1px solid #707070;
          .underline {
            background: #fff;
          }
        }
      }
    }
    .left_content {
      width: 630px;
      float: left;
    }
    .right_content {
      width: 370px;
      float: left;
      h1 {
        padding-left: 40px;
      }
      .history_link {
        text-align: center;
        margin-top: 10px;
        a {
          color: #363636;
          text-decoration: none;
          font-size: 14px;
        }
      }
      .order_list {
        border: 1px solid #e9e9e9;
        .order_items {
          .item {
            padding: 30px 0;
            position: relative;
            border-bottom: 1px solid #e9e9e9;
            &.errorr {
              outline: 1px solid #e84428!important;
              .delete_item {
                fill: #e84428!important;
              }
            }
            .delete_item {
              height: 11px;
              position: absolute;
              right: 35px;
              top: 33px;
              width: 11px;
              fill: #616161;
              cursor: pointer;
              transition: .2s linear;
              &:hover {
                transform: rotate(180deg);
                -webkit-transform: rotate(180deg);
                fill: #363636
              }
            }
            .item_img {
              height: 90px;
              width: 150px;
              text-align: center;
              display: inline-block;
            }
            .item_descr {
              display: inline-block;
              width: 200px;
              vertical-align: top;
              .title {
                a {
                  display: inline-block;
                  color: #363636;
                  text-decoration: none;
                }
              }
              div {
                line-height: 18px;
                margin-bottom: 5px;
              }
              .size {
                margin-bottom: 14px;
              }
            }
            &:hover {
              outline: 1px solid #acacac;
            }
          }
        }
        .discount {
          padding: 20px;
          position: relative;
          .text {
            margin-bottom: 10px;
          }
          input {
            border: 1px solid #acacac;
            color: #363636;
            height: 40px;
            padding: 0 40px 0 13px;
            width: 100%;
          }
          .error_msg {
            color: #e84428;
            display: none;
            font-size: 14px;
            padding-top: 5px;
          }
          &.wrong {
            input {
              border: 1px solid #e84428 !important;
            }
            .error_msg {
              display: block;
            }
          }
        }
        .discount_used {
          padding: 13px 20px;
          .big_title {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 6px;
          }
          .discount_percent {
            font-size: 20px;
            margin-bottom: 13px;
          }
          .cancel_discount {
            display: inline-block;
            border-bottom: 1px dotted #363636;
            height: 18px;
            cursor: pointer;
            &:hover {
              border-bottom: none;
            }
          }
        }
        .discount_button {
          background: #ffffff;
          border: 0 none;
          top: 50px;
          cursor: pointer;
          display: none;
          height: 33px;
          position: absolute;
          right: 22px;
          width: 33px;
          .icon {
            width: 100%;
            height: 100%;
            fill: #7d7d7d;
          }
          &.visible {
            display: block;
          }
          &:hover {
            .icon {
              width: 100%;
              height: 100%;
              fill: #363636;
            }
          }
        }
        .total {
          padding: 10px 20px 20px;
          .price_text {
            width: 100%;
            margin-bottom: 9px;
            &.to_pay {
              margin-top: 25px;
              .price_title,.price {
                font-size: 22px;
                font-weight: bold;
              }
            }
            .price_title {
              float: left;
            }
            .price {
              float: right;
            }
          }
        }
      }
    }
  }
  &.profile {
    padding-bottom: 90px;
    h1 {
      float: left;
      margin-bottom: 30px;
    }
    .carvari_card {
      width: 490px;
      height: 300px;
      border-radius: 15px;
      margin: 0 auto 20px;
      box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.35);
      padding: 0 15px;
      text-align: center;
      .card_number{
        font-weight: bold;
        font-size: 36px;
        padding-top: 70px;
      }
      .holder_name {
        font-size: 26px;
        padding-top: 50px;
      }
      .holder_phone {
        font-size: 28px;
        padding-top: 20px;
      }
    }
    .blogs_list {
      .blog_link {
        color: #363636;
        float: left;
        text-decoration: none;
        width: 490px;
        margin-bottom: 100px;
        &:nth-of-type(odd) {
          margin-right: 20px;
        }
        .img_holder {
          width: 490px;
          height: 300px;
          background-size: cover;
          margin-bottom: 18px;
        }
        .blog_text, .blog_date {
          color: #898989;
          line-height: 18px;
          margin-bottom: 10px;
          word-wrap: break-word;
        }
        .blog_title {
          font-size: 22px;
          word-wrap: break-word;
          margin-bottom: 7px;
        }
      }
    }
    .logout_link {
      color: #7d7d7d;
      float: right;
      font-size: 19px;
      margin-top: 12px;
      text-decoration: none;
    }
    .profile_nav {
      width: 100%;
      margin-left: -20px;
      margin-bottom: 30px;
      .profile_nav_link {
        text-decoration: none;
        display: inline-block;
        padding: 11px 20px;
        color: #363636;
        font-size: 18px;
        margin-right: 23px;
        cursor: pointer;
        .underline {
          display: block;
          height: 1px;
          width: 100%;
          background: #707070;
        }
        &:last-child {
          margin-right: 0;
        }
        &:hover, &.active {
          outline: 1px solid #707070;
          .underline {
            display: none;
          }
        }
      }
    }
  }
  .tab_wrapper {
    .btn_holder {
      margin-left: 145px;
      text-align: left;
      margin-top: 50px;
      &.login {
        margin-top: 0;
        width:368px;
        a {
          float: right;
          color:#363636;
          margin-top: 18px;
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
    .tab_content {
      .order_status {
        text-align: left;
        th {
          text-align: left;
          font-weight: bold;
        }
        th, td {
          font-size: 14px;
          padding: 18px 0;
          line-height: 1.3;
          vertical-align: middle;
        }
        tbody tr {
          &:hover {
            background: #fafafa;
          }
        }
      }
      .input_block {
        margin-bottom: 30px;
        label {
          display: inline-block;
          width: 143px;
          line-height: 30px;
        }
        &.wrong {
          .error_msg {
            display: inline-block;
          }
          input {
            border: 1px solid #e84428!important;
          }
        }
        .error_msg {
          color: #e84428;
          display: none;
          font-size: 14px;
          max-width: 110px;
          padding-left: 5px;
          vertical-align: middle;
        }
        input {
          padding: 0 13px;
          width: 365px;
          color: #363636;
          height: 40px;
          border: 1px solid #acacac;
        }

      }
      .profile_section_title {
        font-size: 25px;
        margin: 63px 0 20px;
      }
    }
    .payment {
      .label_with_check {
        display: block;
        width: 430px;
        margin-bottom: 15px;
      }
      .payment_description {
        line-height: 13px;
        padding-left: 30px;
      }
    }
    .label_with_check {
      float: left;
      width: 146px;
      line-height: 40px;
      cursor: pointer;
      label {
        cursor: pointer;
      }
      &:hover {
        .jq-radio__div {
          background: #c2c2c2 none repeat scroll 0 0;
          border-radius: 50%;
          height: 10px;
          margin: 4px 0 0 4px;
          width: 10px;
        }
      }
    }
    .post_delivery {
      .input_block {
        label {
          padding-left: 25px;
        }
      }
    }
    .radio_label {
      line-height: 27px;
      vertical-align: middle;
    }
    .post_radio {
      margin-bottom: 30px;
      width: 146px;
      label {
        cursor: pointer;
      }
      &:hover {
        .jq-radio__div {
          background: #c2c2c2 none repeat scroll 0 0;
          border-radius: 50%;
          height: 10px;
          margin: 4px 0 0 4px;
          width: 10px;
        }
      }
    }
  }
  &.trends {
    .blogs_list {
      .blog_link {
        color: #363636;
        float: left;
        text-decoration: none;
        width: 490px;
        margin-bottom: 100px;
        &:nth-of-type(odd) {
          margin-right: 20px;
        }
        .img_holder {
          width: 490px;
          height: 300px;
          background-size: cover;
          margin-bottom: 18px;
        }
        .blog_text, .blog_date {
          color: #898989;
          line-height: 18px;
          margin-bottom: 10px;
          word-wrap: break-word;
        }
        .blog_title {
          font-size: 22px;
          word-wrap: break-word;
          margin-bottom: 7px;
        }
      }
    }
    .pager {
      margin-top: 0;
    }
    h1 {
      margin-bottom: 42px;
    }
  }
}
.error_note {
  background: #fefbf1;
  font-size: 15px;
  line-height: 1.4;
  margin-bottom: 10px;
  padding: 10px 20px;
  color: #e84428;
}

.btn_holder {
  width: 100%;
  text-align: center;
  float: left;
  margin-top: 24px;
}
.button {
  background: #5e5e5e;
  border-radius: 3px;
  border:none;
  border-bottom: 1px solid #333333;
  display: inline-block;
  color: #ffffff;
  font-size: 22px;
  text-decoration: none;
  transition: .2s linear;
  cursor: pointer;
  .light;
  &:hover {
    background: #363636;
  }
  &.small {
    padding: 0 24px;
    height: 45px;
    line-height: 45px;
  }
  &.big {
    font-size: 25px;
    height: 55px;
    line-height: 45px;
    padding: 0 24px;
  }
  &.disabled {
    background: #c2c2c2;
    border-bottom: 1px solid #adadad;
    &:hover {
      cursor: not-allowed;
      background: #c2c2c2;
      border-bottom: 1px solid #adadad;
    }
  }
}
.icon {
  transition: .2s linear;
  svg {
    background: inherit;
    fill: inherit;
    height: 100%;
    vertical-align: top;
    width: 100%;
  }
}

.footer_wrapper{
  position: absolute;
  bottom: 0;
  width: 100%;

  .footer {
    background: #fafafa;
    border-top: 1px solid #e9e9e9;
    height: 290px;
    position: relative;
    font-family: Myriad Light,arial, sans-serif;
    font-size: 18px;
    color: #363636;
    padding-top: 31px;
    .subscribe_block {
      position: relative;
      span {
        font-size: 14px;
        display: inline-block;
        margin-bottom: 10px;
      }
      .sub_button {
        border: 0;
        height: 33px;
        width: 33px;
        position: absolute;
        bottom: 2px;
        right: 3px;
        background: #ffffff;
        cursor: pointer;
        display: none;
        .icon {
          width: 100%;
          height: 100%;
          fill: #7d7d7d;
        }
        &.visible {
          display: block;
        }
        &:hover {
          .icon {
            width: 100%;
            height: 100%;
            fill: #363636;
          }
        }
      }
      .email_input {
        height: 37px;
        border: 1px solid #e9e9e9;
        display: block;
        padding-left: 10px;
        padding-right: 40px;
        width: 100%;
      }
    }
    .left_foot_block {
      margin-right: 60px;
      float: left;
      .logo {
        text-decoration: none;
        display: block;
        width: 280px;
        height: 50px;
        margin-bottom: 35px;
        background: url("../img/carvari_foot_logo.svg") no-repeat;
        background-size: cover;
      }
    }
    .foot_menu {
      float: left;
      padding-top: 10px;
      ul {
        float: left;
        width: 170px;
//        height: 155px;
        li {
          line-height: 38px;
          height: 38px;
          a {
            padding: 10px;
            font-size: 15px;
            color: #363636;
            text-decoration: none;
            &:hover {
              outline: 1px solid #707070;
            }
          }
        }
      }
    }
    .foot_right_block {
      float: right;
      padding-right: 45px;
      padding-top: 13px;
      .footer_social_list {
        margin-bottom: 3px;
        ul {
          li {
            display: inline-block;
            .social {
              fill: #7d7d7d;
              display: inline-block;
              margin-right: 21px;
              &.fb {
                height: 29px;
                width: 20px;
              }
              &.vk {
                height: 35px;
                width: 20px;
              }
              &.tt {
                height: 37px;
                width: 30px;
              }
              &.yt {
                height: 35px;
                width: 27px;
              }
              &:hover {
                fill: #363636;
              }
            }
          }
        }
      }
      .phone_number {
        font-family: Myriad,arial, sans-serif;
        font-size: 27px;
        margin-bottom: 45px;
      }
    }
    .footer_top {
      padding-bottom: 34px;
    }
    .copyrights {
      display: block;
      float: left;
      width: 100%;
      line-height: 20px;
      font-size: 12px;
      .copyright_text {
        float: left;
        width: 700px;
      }
      .forforce {
        float: right;
        width: 237px;
        position: relative;
        top: -3px;
        a{
          background: #7d7d7d url("../img/ff_logo.svg") no-repeat scroll 0 0;
          display: inline-block;
          height: 23px;
          overflow: hidden;
          text-indent: -10000px;
          width: 83px;
          margin-left: 3px;
          vertical-align: bottom;
          transition: .2s linear;
          &:hover {
            background-color: #363636;
          }
        }
      }
    }
    .footer_lang_control {
      color: #363636;
      text-decoration: none;
      font-size: 16px;
      margin: 0 0 0 -7px;
      padding: 11px;
      display: inline-block;
      &:hover {
        outline: 1px solid #707070;
      }
    }
  }
}



.navigation{
  @fade-time: .4s;

  line-height: 28px;
  height: 28px;
  .light;

  a, span{
    color: #9b9b9b;
  }

  &.active{
    .follow_back{
      border-top: 1px solid;
      border-right: 1px solid;
      border-bottom: 1px solid;

      &:before{
        opacity: 1;
      }
    }
  }

  .follow_back{
    display: block;
    float: left;
    padding-right: 7px;
    margin-right: 10px;
    text-decoration: none;
    padding-left: 6px;
    margin-left: -6px;
    position: relative;
    border: 1px solid transparent;
    transition: @fade-time;

    &:before{
      position: absolute;
      content: '';
      width: 11px;
      height: 30px;
      right: 100%;
      top: -1px;
      background: url('../img/nav_back_arrow.png') top right no-repeat;
      opacity: .7;
      transition: @fade-time;
    }
  }

  &.active{
    .fade_bread_crumbs{
      //opacity: 1;
    }
  }

  .fade_bread_crumbs{
    float: left;
    //opacity: 0;
    //transition: @fade-time;

    ul li{
      float: left;
    }

    a{
      margin-right: 20px;
      position: relative;

      &:hover{
        text-decoration: none;
      }

      &:after{
        position: absolute;
        content: '';
        width: 5px;
        height: 7px;
        right: -14px;
        top: 6px;
        background: url('../img/nav_bc_arrow.png') top center no-repeat;
      }
    }

    ul li:last-child a:after{
      display: none;
    }
  }
}


.product-page{
  .navigation{
    margin-top: -25px;
    margin-bottom: 40px;
  }
  .this_product{
    margin-bottom: 155px;
    .left_column{
      .product_image{
        margin-bottom: 70px;
        height: 530px;
        line-height: 530px;
        text-align: center;
        img{
          max-width: 660px;
          max-height: 530px;
        }
      }

      .product_images{
        .slider{
          .slide{
            display: inline-block;
            width: 80px;
            height: 82px;
            line-height: 80px;
            text-align: center;
            margin: 0 15px;

            a {
              transition: .2s linear;
              opacity:0.6;
              &.active{
                opacity:1;
                img{
                  border-bottom: 2px solid #5e5e5e;
                }
              }
              &:hover {
                opacity: 1;
              }
            }

            img{
              width: 100%;
              width: 80px;
              height: 80px;
              border-bottom: 2px solid transparent;
            }

            &:first-child{
              margin-left: 0px;
            }
          }
        }
      }
    }

    .right_column{
      .product_head{
        margin-bottom: 50px;

        h1{
          margin-bottom: 12px;
          font-size: 28px;
        }

        .price_block{
          .price{
            font-size: 28px;
            font-weight: bold;
            padding-right: 15px;
          }

          .old_price{
            font-size: 21px;
            text-decoration: line-through;
            color: #959595;
          }
        }
      }


      .sizes_block{
        margin-bottom: 12px;

        .title-md{
          margin-bottom: 12px;
        }

        ul{
          margin-left: -6px;

          li{
            float: left;
            width: 14%;

            a{
              display: inline-block;
              padding: 11px 0;
              width: 100%;
              max-width: 38px;
              text-align: center;
              margin-bottom: 7px;
              //font-size: 15px;
              color: inherit;
              text-decoration: none;
              border: 1px solid transparent;
            }

            &.active{
              a{
                border: 1px solid #707070;
              }
            }
          }
        }
      }

      .order_button{
        margin-bottom: 37px;

        .btn-lg{
//          width: 185px;
          text-align: center;
        }
      }

      .attr_block{
        .title-md{
          margin-bottom: 18px;
        }

        .attr_list{
          .row{
            margin-bottom: 19px;
            font-size: 15px;
          }
        }
      }
    }
  }

  .related_products{
    margin-bottom: 80px;

    .related_title{
      font-size: 23px;
      text-align: center;
      letter-spacing: -0.5px;
      margin-bottom: 20px;
    }

    .slider{
      .slide{
        float: left;
        text-align: center;
        width: 200px;
        border: 1px solid transparent;

        a{
          color: inherit;
          text-decoration: none;
        }

        span{
          display: inline-block;
        }

        img{
          margin: 0 auto 20px;
        }

        &:hover {
          border: 1px solid #ececec;
        }
      }
    }
  }
}
.gm-style-iw {
  > div {
    overflow: hidden!important;
    > div {
      overflow: hidden!important;
    }
  }
}
.imgs {
  height: 67px;
  //width: 350px;
  //position: absolute;
  //z-index: 11;
  //left: 225px;
  a {
    display: inline-block;
    width: 100px;
    height: 67px;
    margin-right: 5px;
    &:last-child {
      margin-right: 0;
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.blogpost-page{
  .blog-date{
    color: #898989;
    margin-top: -13px;
    font-size: 15px;
    letter-spacing: -0.2px;
    margin-bottom: 16px;
  }

  .page_cover{
    img{
      width: 100%;
      margin-bottom: 30px;
    }
  }

  .related_posts{
    padding-top: 30px;
    border-top: 1px solid #e1e1e1;
    margin-bottom: 100px;

    a{
      color: inherit;
      text-decoration: none;
      display: inline-block;
      margin-left: -10px;
      padding: 10px;
      .title{
        font-size: 18px;
        margin-bottom: 7px;
      }
      .target{
        font-size: 16px;
        color: #898989;
      }
      &:hover {
        outline: 1px solid #707070;
      }
    }
    .text-right {
      a {
        margin-left: 0;
        margin-right: -10px;
      }
    }
  }

  .disquss_holder{
    margin-bottom: 100px;
  }
  .navigation {
    margin-bottom: 15px;
    margin-top: -25px;
  }
}

.map-page{
  .map_block{
    height: 740px;
    width: 100%;
    background: #e2e2e2;
    position: relative;
    margin-bottom: 30px;

    #is_map{
      height: 740px;
      width: 100%;
    }

    .info_layer{
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 240px;
      padding: 10px;
      background: fade(#FFF, 75);
      max-height: 740px;

      .city_chooser{
        .light;
        font-size: 16px;
        color: #363636;
        //padding: 10px;
        //width: 100%;
        margin-bottom: 15px;

        .jq-selectbox__select{
          width: 210px;
          background-color: #FFF;
        }
      }

      .store_block{
        border: 1px solid transparent;
        padding: 10px 15px;
        margin-bottom: 10px;
        cursor: pointer;
        transition: .3s;
        max-width: 210px;

        &:hover,
        &.active{
          border: 1px solid #363636;
        }

        .title{
          font-weight: bold;
          margin-bottom: 10px;
        }
        .info{

        }
      }
    }
  }
}


BODY{
  position: relative;
}
.product_popup{
  position: absolute;
  //top: 109px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #FFF;
  display: none;
  z-index: 1000;

  .popup_wrapper{
    position: relative;
    margin: 0 auto;
    padding: 30px 40px 0;

    .popup_closer{
      position: absolute;
      right: 50%;
      margin-right: -495px;
      top: 10px;
      width: 21px;
      height: 21px;
      background: url('../img/popup_close.png') center center no-repeat;
      opacity: .6;
      transition: .3s;
      z-index: 5;

      &:hover{
        opacity: 1;
      }
    }

    .popup_content{
      text-align: center;
      //padding: 40px;

      IMG{
        max-height: 600px;
        margin: 0 auto;
      }
    }

    .popup-slider{
      .slick-dots{
        left: 0;
        bottom: 5px;

        li{
          width: 6px;
          margin: 0 6px;
          padding: 0px;
        }

        button{
          &:before{
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 6px;
            background: #444;
            //width: 10px;
            //height: 10px;
            //border-radius: 10px;
            //background-color: black;
            //content: ' ';
          }
        }
      }
    }
  }
}

.title-md{
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 15px;
}

@-webkit-keyframes hvr-buzz-out {
  17% {
    -webkit-transform: translateX(3px) rotate(6deg);
    transform: translateX(3px) rotate(6deg);
  }

  34% {
    -webkit-transform: translateX(-3px) rotate(-6deg);
    transform: translateX(-3px) rotate(-6deg);
  }

  51% {
    -webkit-transform: translateX(2px) rotate(3deg);
    transform: translateX(2px) rotate(3deg);
  }

  68% {
    -webkit-transform: translateX(-2px) rotate(-3deg);
    transform: translateX(-2px) rotate(-3deg);
  }

  85% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}

@keyframes hvr-buzz-out {
  17% {
    -webkit-transform: translateX(3px) rotate(6deg);
    transform: translateX(3px) rotate(6deg);
  }

  34% {
    -webkit-transform: translateX(-3px) rotate(-6deg);
    transform: translateX(-3px) rotate(-6deg);
  }

  51% {
    -webkit-transform: translateX(2px) rotate(3deg);
    transform: translateX(2px) rotate(3deg);
  }

  68% {
    -webkit-transform: translateX(-2px) rotate(-3deg);
    transform: translateX(-2px) rotate(-3deg);
  }

  85% {
    -webkit-transform: translateX(1px) rotate(0);
    transform: translateX(1px) rotate(0);
  }

  100% {
    -webkit-transform: translateX(-1px) rotate(0);
    transform: translateX(-1px) rotate(0);
  }
}





.branding {
  position: relative;
  width: 100%;
  padding-top: 155px;
  padding-bottom: 80px;
  margin-bottom: -25px;
}

.branding__brand_layer {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #FFF;
  z-index: 1;
}

.branding__holder {
  position: relative;
  width: 90%;
  margin: 0 auto;
  max-width: 1440px;
  min-width: 1000px;
  background: #FFF;
  padding: 20px;
  z-index: 2;

  .main__content {
    padding: 0;
    width: 100%;
  }

  &&--transparent {
    background-color: transparent !important;

    .information_block {
      padding: 20px;
      background: #FFF;
    }
  }
}