#opc-right-summary-content{
	display:inline-block;
}

#opc-right-carrier-content, #opc-right-payment-content {
	width:100% !important;
	position:relative;
	padding:2px;
	display:inline-block;
	padding-top:0px;
}

#opc-left-content {
	position:relative;
	float:left;
	width:30%;
	padding:3px;
}

#opc-right-content {
	position:relative;
	float:left;
	width:70%;
	padding:3px;
}

@media (max-width: 1024px) {
	#opc-right-carrier-content, #opc-right-payment-content {
		float: none !important;
		width: 100% !important;
		position: relative;
	}
}

@media (max-width: 769px) {
	#opc-right-carrier-content, #opc-right-payment-content {
		float: none !important;
		width: 100% !important;
		position: relative;
	}
	
	#opc-left-content, #opc-right-content {
		position: relative;
		float: none !important;
		width: 100% !important;
	}
}

@media (max-width: 480px) {
	.zag td:first-child, .ddcl, .cart_product{
		display:none;
	}
	
	
}

@media (max-width: 320px) {
	.delivery_option_logo, .payment_image, .ddcl{
		display:none;
	}
	
	input#vouchercode{
		width: 70%;
	}
}

@media (max-width: 384px) {
	.delivery_option_logo, .payment_image, .ddcl{
		display:none;
	}
	
	input#vouchercode{
		width: 70%;
	}
}