.blmod_module .conf {
    border: 1px solid #72CB67;
    background-color: #DFFAD3;
}
.blmod_module .warn {
    border: 1px solid #D3C200;
    background-color: #FFFAC6;
}
.blmod_module .warn, .blmod_module .error, .blmod_module .conf {
    color: #383838;
    font-weight: 700;
    margin: 0 0 10px 0;
    line-height: 20px;
    padding: 10px 15px;
    font-family: Arial,Verdana,Helvetica,sans-serif;
}
.blmod_module .warning {
    width: 400px;
    margin: 0 0 15px 0;
    line-height: 20px;
    padding: 10px 20px 10px 20px;
    border-top: 1px solid #FF9900;
    border-bottom: 1px solid #FF9900;
    background-color: #FFEBCC;
}
.blmod_module .conf img, .blmod_module .warn img, .blmod_module .error img {
    margin: -4px 5px 0 0;
    vertical-align: middle;
}
.module_logo{
    float: left;
    margin-right: 5px;
    margin-top: 4px;
}
.module_logo img{
    width: 36px;
    height: 36px;
}
.module_title{
    float: left;
}
.blmod_module h2{
    margin-bottom: 0px;
    margin-top: 0px;
}
.module_version{
    font-size: 11px;
    color: #7F7F7F;
    margin-bottom: 10px;
    font-style: italic;
}
.name_block{
    float: left;
    width: 155px;
    color: #268CCD;
    margin-top: 5px;
}
.name_block_main{
    margin-top: 7px;
}
.info_block{
    float: left;
}
.info_block_last{
    margin-bottom: 13px;
}
.clear_block{
    clear: both;
    font-size: 0px;
    height: 0px;
}
.blmod_comment{
    font-size: 11px;
    color: #7F7F7F;
    padding-bottom: 5px;
}
.blmod_comment_warn{
    font-size: 11px;
    margin-left: 5px;
    color: #FF6600;
    font-weight: normal;
}
.more_info{
    font-size: 11px;
    color: #7F7F7F;
}
.list_checkbox{
    float: left;
    margin-right: 10px;
}
.list_input_text{
    margin-top: 7px;
    float: left;
    text-align: left;
    width: 250px;
}
.list_input_text input{
    width: 240px;
}
.list_checkbox input{
    margin-top: 2px;
}
.list_name{
    float: left;
    text-align: left;
    width: 500px;
}
.list_name img{
    height: 16px;
}
.list_row{
    padding-bottom: 5px;
}
.blmod_module label{
    cursor: pointer;
    width: auto;
}
.order_status_color{
    float: left;
    width: 17px;
    height: 16px;
    margin-right: 5px;
    margin-top: 1px;
}
.order_status_color_box{
    margin-top: 3px;
}
.blmod_module_menu{
    margin-bottom: 15px;
}
.menu_box{

}
.menu_box div{
    float: left;
    border-right: 1px solid #83796f;
    margin-right: 10px;
    padding-right: 10px;
}
.menu_box div.menu_title:last-child{
    border: 0px;
}
.order_table{
    margin-top: 20px;
}
.empty_message{
    margin-top: 20px!important;
    width: auto!important;
}
.pagination{
    text-align: center;
    margin-top: 15px;
    color: silver;
    font-size: 15px;
}
.pagination a{
    padding: 5px;
    color: #336699;
    text-decoration: none;
}
.pagination a:hover{
    color: #000;
}
.log_send_manual{
    color: #005500;
}
.log_send_auto{
    color: #000099;
}
.log_send_with_error{
    color: #FF0000;
}
.log_send_with_error img{
    margin-left: 5px;
}
.send_refund_send_status{
    font-size: 10px;
}
.showMoreInfo{
    display: none;
    position: absolute;
    border: 1px solid #333;
    background-color: #414141;
    border-radius: 3px;
    padding: 7px;
    color: #FFF;
    font-size: 12px;
    font-family: Verdana;
    max-width: 230px;
    text-align: left;
    word-wrap: break-word;
}
.order_error_message{
    color: #FF0000;
    font-style: italic;
}
.checkbox_inline input{
    width: auto!important;
}
.checkbox_inline label{
    float: none;
    margin-left: 7px;
}
.input_empty{
    border-color: red!important;
}
.blmod_module #content{
    padding: 0px!important;
    margin: 0px!important;
}
.color_box_core{
    float: left;
    width: 50px;
    height: 50px;
    line-height: 45px;
    font-size: 42px;
    text-align: center;
    color: #fff;
    webkit-border-radius: 3px;
    border-radius: 3px;
    margin-right: 8px;
}
.color_box_core i{
    font-size: 42px;
}
.icon_menu_box{
    float: left;
    margin-right: 35px;
    padding: 5px;
}
.icon_menu_box .title_menu{
    font-size: 16px;
}
.menu_active{
    background-color: #d9edf7;
    color: #117fe3;
    webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 4px;
    border: 1px solid #badde3;
}
.icon_menu_box .title_info{
    font-size: 11px;
    color: #7F7F7F;
}
.icon_menu_box .title_text{
    float: left;
}
.color_box_blue {
    background-color: #2ba8e3;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
}
.color_box_red{
    background-color: #ff5450;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
}
.color_box_green{
    background-color: #95cc6b;
    -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
    box-shadow: rgba(0, 0, 0, 0.2) 0 -3px 0 inset;
}
.color_box_purple{
    background-color: #9e5ba1;
    -webkit-box-shadow: rgba(0,0,0,0.2) 0 -3px 0 inset;
    box-shadow: rgba(0,0,0,0.2) 0 -3px 0 inset;
}
.color_box_grey{
    background-color: #919191;
    -webkit-box-shadow: rgba(0,0,0,0.2) 0 -3px 0 inset;
    box-shadow: rgba(0,0,0,0.2) 0 -3px 0 inset;
}
.content_blmod{
    font-size: 14px;
    font-weight: normal;
}
.blmod_module .bootstrap label{
    font-weight: normal!important;
}
.search_order_id{
    width: 150px!important;
    margin-top: 4px;
    margin-right: 5px;
}
.blmod_module .bootstrap input[type="text"]{
    display: inline!important;
}
.nobootstrap{
    min-width: 800px;
}
.order_table_logs{
    width: 850px!important;
}
.order_table_order{
    width: 950px!important;
}
.table{
    margin-top: 20px;
}
.icon-cog:before{
    content: "\f013";
}