.preorder-form-box {
  /*min-width: 400px;*/
}
.preorder-form-box .fancybox-skin {
  border-radius: 0px;
}
.preorder-form-box .fancybox-inner {
  width: auto !important;
}
.preorder-form-box .fancybox-inner form {
  padding: 15px;
}
.preorder-form-box .fancybox-close {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 10px;
  height: 10px;
  cursor: pointer;
  background: url(/themes/carvari-theme/img/icon/close-10x10.png) no-repeat center;
}
.preorder-form-box input {
  height: 37px;
}
.preorder-form-box input.form-control + .form-control {
  margin-top: 15px;
}
.preorder-form-box textarea {
  min-height: 100px;
}
.preorder-form-box #submitPreorder {
  width: 100%;
  padding: 8px;
  font-size: 15px;
}
.preorder-form-box .form-group.form-ok input,
.preorder-form-box .form-group.form-ok textarea,
.preorder-form-box .form-group.form-error input,
.preorder-form-box .form-group.form-error textarea {
  border: 1px solid red;
}
.preorder-form-box .errors {
  color: red;
}
.preorder-form-box .content-description {
  font-size: 20px;
  font-weight: bold;
}

/*#add_preorder {*/
  /*float: right;*/
/*}*/

.datepicker:hover {
  cursor: pointer;
}

.oneclick_button {
  display: inline-block;
  font-size: 18px;
  color: #636363;
  background: #fff;
  border: none;
  /*text-decoration: underline;*/
  /*text-decoration-style: dashed;*/
  font-family: 'Myriad Light',Arial;
  cursor: pointer;
  margin-bottom: 22px;
  margin-left: 32px;
  padding: 0;
}

.oneclick_button::after {
  content: "";
  display: block;
  border-bottom: 1px dashed #636363;
}

.oneclick_button:hover::after {
  content: "";
  display: block;
  border-bottom: 1px dashed #ffffff;
}

.oneclick_button:hover {
  color: #363636;
  text-decoration: none;
}

.preorder-form-box .form-group {
  margin: 14px 0;
}

.form-group .help-block {
  margin-top: 4px;
}

.preorder-form-box .form-group .form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857;
  color: #555555;
  background-color: white;
  background-image: none;
  border: 1px solid #cccccc;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.preorder-form-box .fancybox-inner h2 {
  font-size: 18px;
  font-weight: 900;
  margin-top: 14px;
}

.preorder-form-box .fancybox-inner p {
  font-size: 16px;
  margin: 14px 5px 14px;
  /*line-height: 26px;*/
  /*margin-top: 10px;*/
  /*margin-bottom: 14px;*/
}

.preorder-form-box .fancybox-inner p > button{
  display: none;
}

.oneclick_mobile {
  text-align: center;
}

.oneclick_button--mobile {
  display: inline-block;
  font-size: 22px;
  color: #636363;
  background: #fff;
  border: none;
  font-family: 'Myriad Light',Arial;
  cursor: pointer;
  margin-bottom: 28px;
  padding: 0;
  line-height: 28px !important;
}

.oneclick_button--mobile::after {
  content: "";
  display: block;
  border-bottom: 1px dashed #636363;
}
/*# sourceMappingURL=tmoneclickorder.css.map */
