<div class="panel">

    <div class="panel-heading">
        Экспортировать в exel
    </div>
    <form action="" method="post" enctype="multipart/form-data">
        <div class="panel-body">
            <div class="form-group col-sm-3">
                <input type="hidden" name="makeExport" value="1">
                <input type="submit" class="btn btn-success" value="Экспортировать">
            </div>
        </div>
    </form>


</div>
