<span class="profile_nav_link {if $page_name=='module-ffcarvaricard-carvaricard'} active{/if}" onclick="location.href='{if $active_url_lang}{$active_url_lang}{/if}/carvaricard'">{l s='Карта L\'CARVARI' mod='ffcarvaricard'}
    <span class="underline"></span>
</span>
{*<li><a href="{$link->getPageLink('my-account')}" title="Скидки"><i class="icon-credit-card"></i><span>Ваша карта скидки:<br/>{$card.text}</span></a></li>*}