<li>
    <span class="js_menu_item">Чоловікам</span>
    <div class="js_menu_cont" style="display: none;">
        <ul class="dd_menu_list">
            <li><a href="#">Черевикиbb</a></li>
            <li><a href="#">Чоботи</a></li>
            <li><a href="#">Туфлі</a></li>
            <li><a href="#">Мокасини</a></li>
        </ul>
        <ul class="dd_menu_list">
            <li><a href="#">Сандалі</a></li>
            <li><a href="#">Еспадриліі</a></li>
            <li><a href="#">Кросівки</a></li>
            <li><a href="#">Вузття для дому</a></li>
        </ul>
        <ul class="dd_menu_list">
            <li><a href="#">Сумки</a></li>
            <li><a href="#">Аксесуари</a></li>
            <li><a href="#">Топ продаж</a></li>
            <li><a href="#">Акції</a></li>
        </ul>
    </div>
</li>

<li>
    <span class="js_menu_item">Жінкам</span>
    <div class="js_menu_cont" style="display: none;">
        <ul class="dd_menu_list">
            <li><a href="#">Черевики жін</a></li>
            <li><a href="#">Сандалі</a></li>
            <li><a href="#">Шлепки</a></li>
            <li><a href="#">Мокасини</a></li>
        </ul>
        <ul class="dd_menu_list">
            <li><a href="#">Сандалі</a></li>
            <li><a href="#">Ботфорти</a></li>
            <li><a href="#">Кросівки</a></li>
            <li><a href="#">Угги</a></li>
        </ul>
        <ul class="dd_menu_list">
            <li><a href="#">Сумки</a></li>
            <li><a href="#">Заколочки</a></li>
            <li><a href="#">Топ продаж</a></li>
            <li><a href="#">Акції</a></li>
        </ul>
        <ul class="dd_menu_list">
            <li><a href="#">Сандалі</a></li>
            <li><a href="#">Ботфорти</a></li>
            <li><a href="#">Кросівки</a></li>
            <li><a href="#">Угги</a></li>
        </ul>
    </div>
</li>

<li>
    <span class="js_menu_item">тренди</span>
</li>
<li>
    <a href="/">мій аккаунт</a>
</li>
<li class="burger">
							<span class="js_menu_item menu_burger">
								<div></div>
								<div></div>
								<div></div>
							</span>
    <div class="js_menu_cont" style="display: none;">
        <ul class="dd_menu_list">
            <li><a href="#">Про магазин</a></li>
            <li><a href="#">Доставка</a></li>
            <li><a href="#">Оплата</a></li>
            <li><a href="#">Гарантія</a></li>
        </ul>
        <ul class="dd_menu_list">
            <li><a href="#">Обмін та повернення</a></li>
            <li><a href="#">Контакти</a></li>
            <li><a href="#">Тренди</a></li>
            <li><a href="#">Редагувати дані</a></li>
        </ul>
        <ul class="dd_menu_list">
            <li><a href="#">Статус замовлень</a></li>
            <li><a href="#">Карта Карварі</a></li>
        </ul>
    </div>
</li>