#cmsinfo_block {	  width: 1000px;  margin: 0 auto;}#cmsinfo-block {padding: 0 10px;}#cmsinfo-block .is_post {   margin:0 10px;}#cmsinfo-block .column {	 width: 50%; float: left; padding:0 22px 0 0;}