{if !$content2}
    <a class="section" href="{$promolink2}" {$linkTarget2}>
    <span class="section_img_block">
        <img class="section_img" alt="img" src="{$promofile2}">
     </span>
        <div class="link">{$text}</div>
    </a>
{else}
    {$content2}
{/if}