{if !$content4}
<a class="section" href="{$promolink4}" {$linkTarget4}>
    <span class="section_img_block">
        <img class="section_img" alt="img" src="{$promofile4}">
     </span>
    <div class="link">{$text}</div>
</a>
{else}
    {$content4}
{/if}