{if !$content1}
    <a class="section" href="{$promolink1}" {$linkTarget1}>
        <span class="section_img_block">
            <img class="section_img" alt="img" src="{$promofile1}">
         </span>
        <div class="link">{$text}</div>
    </a>
{else}
    {$content1}
{/if}