{if !$content3}
    <a class="section" href="{$promolink3}" {$linkTarget3}>
    <span class="section_img_block">
        <img class="section_img" alt="img" src="{$promofile3}">
     </span>
        <div class="link">{$text}</div>
    </a>
{else}
    {$content3}
{/if}