<!-- MODULE Block SotEW's Adds Left-->
<div id='sotewsadds' class="left">
{if $withBlockLeft}
	<div class="block">
		<h4>{l s="Advertising Left" mod="sotewsadds"}</h4>
		<div class="block_content" align="center">
{/if}
			{$content}
{if $withBlock}
		</div>
	</div>
{/if}
</div>
<!-- /MODULE Block SotEW's Adds Left-->
