.instagram_wrapper{
    background-color: #f9f9f9;
}

.instagram_wrapper .logo:before {
    content: "\f16d";
    /*display: inline-block;*/
    font-family: "FontAwesome";
    /*vertical-align: -5px;*/
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
}

.instagram_wrapper .logo{
    margin-top: 25px;
    font-size: 24px;
}

.instagram_sign{
    float: right;
}

.insta_post {
    width: 33.33333%;
    float: left;
}